<% category = @categories[cat] %>
<% solos_only = heats.map {|number, ballrooms| ballrooms.values}.flatten.all? {|heat| heat.category == 'Solo'} %>
<% locked = category && (@locked || category.locked || solos_only) %>
<div id="cat-<%= cat.downcase.gsub(/[^\w]+/, '-') %>"
  <% if locked %>
    data-controller="heat-order drop" data-renumber-action="<%= renumber_heats_path %>"
    data-drop-action="<%= drop_heats_path %>"<% end %>>
  <div class="mt-8 flex justify-between items-center group">
    <% if %w(Uncategorized Unscheduled).include? cat %>
    <h1 class="row text-red-600 text-4xl"><%= cat %></h1>
    <% if cat == "Uncategorized" %>
    </div>
    <div>
    <h2 class="row">These dances are not on the <%= link_to "agenda", categories_path, class: "underline" %>.</h2>
    <% end %>
    <% if !locked and cat == "Unscheduled" and Category.any? and !Heat.where.not(number: ..0).any? %>
    </div>
    <div>
    <p class="mx-8 mt-4 px-8">
    Click the <span class="x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium">Redo</span> button above to add these heats to the agenda.
    </p>
    <% end %>
    <% else %>
    <h1 class="font-bold text-4xl">
      <%= cat %>
      <% if category && category.is_a?(Category) && !solos_only %>
      <%= button_to image_tag(
          category.locked ? 'Padlock-bronze-closed.svg' : 'Padlock-bronze-open.svg',
          height: 33, width: 33, class: 'ml-4 mb-1'
        ), 
        toggle_lock_category_path(category),
        form_class: "group-hover:inline " + (category.locked ? "inline" : "hidden") %>
      <% end %>
    </h1>


    <% end %>
  </div>

  <div class="min-w-full">
    <% last_number = nil %>
    <% heats.each do |number, ballrooms| %>
    <% # Skip duplicate heat numbers (for multi-heats) in heats index view only %>
    <% if controller_name == 'heats' && action_name == 'index' && last_number == number %>
      <% next %>
    <% end %>
    <% last_number = number %>
    <% heats = ballrooms.map(&:last).flatten %>
    <% tally = heats.select {|heat| heat.number > 0}.map {|heat| e=heat.entry; [e.lead_id, e.follow_id]}.flatten.tally %>
    <% dance = heats.first.dance_id == heats.last.dance_id ? heats.first.dance_id : 0 %>
    <table class="break-inside-avoid text-sm mt-4 table-fixed">
      <colgroup>
        <% if number == 0 && heats.first.dance_id == heats.last.dance_id %>
        <col width="1%">
        <% else %>
        <col width="5%">
        <% end %>
        <col width="2%">
        <% if @backnums %>
        <col width="5%">
        <% end %>
        <col width="20%">
        <col width="20%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
        <td></td>
        <% if number != 0 || heats.first.dance_id != heats.last.dance_id%>
        <th width="5"></th>
        <% else %>
        <th></th>
        <th></th>
        <% end %>
        <% if @backnums %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody id="heat-<%= number %>"<% if locked %> draggable="true" data-drag-id="-<%= number %>"<% end %>>
      <% if number and number != 0 %>
      <% if heats.all? {|heat| heat.number < 0} %>
      <tr class="line-through opacity-50">
      <% else %>
      <tr<% if locked %> class="hover:bg-yellow-200"<% end %>>
      <% end %>
        <td></td>
        <td colspan="9" class="text-xl pt-4">Heat <span class="heat-humber"><%= number %></span>: 
          <% unless @combine_open_and_closed and %w(Open Closed).include? heats.first.category %><%= heats.first.category %><% end %>
          <% if heats.first.dance_id == heats.last.dance_id %>
          <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
          <% else %>
          <%= cat %>
          <% end %>
          <% if @start %>
          <span class="text-base text-slate-400">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% ballrooms.each do |ballroom, heats| %>
      <% next if heats.empty? %>
      <% if ballroom %>
      <tr>
        <td></td>
        <td></td>
        <td colspan="8" class="text-xs pt-2">Ballroom  <%= ballroom %></td>
      </tr>
      <% end %>

      <% heats.each_with_index do |heat, index| %>
         <% if heat.dance_id != dance %>
           <tr>
             <td></td>
             <td></td>
             <td colspan="8" class="text-s pt-2"><%= heat.dance.name %></td>
          </tr>
          <% dance = heat.dance_id %>
         <% end %>
         <% if heat.number < 0 %>
         <tr id="<%= dom_id heat %>" class="group line-through opacity-50">
         <% else %>
         <tr id="<%= dom_id heat %>" class="group hover:bg-yellow-200"<% if locked && !solos_only %> draggable="true" data-drag-id="<%= heat.id %>"<% end %>>
         <% end %>
           <td></td>
           <% if number != 0 %>
           <td class="row"></td>
           <% else %>
           <td class="row"><%= heat.category %></td>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %></td>
           <% else %>
           <td class="row"><%= heat.dance.name %></td>
           <% end %>
           <% end %>
           <% if @backnums %>
           <td class="row"><% if heat.category != 'Solo' %><% if heat.back -%><%= heat.back %><% else %><%= link_to 'TBD', backs_people_path, title: 'back number' %><% end %><% end %></td>
           <% end %>
           <%
            if @column_order == 1 or heat.lead.type == 'Student'
              p1, p2 = heat.lead, heat.follow
            else
              p1, p2 = heat.follow, heat.lead
            end
           %>
           <td class="row <%= p1.id > 0 && (tally[p1.id] || 0) > 1 ? 'text-white bg-red-600' : '' %>">
           <%= link_to p1.display_name, polymorphic_path(p1, anchor: 'heats') if p1.id != 0 %>
           <% if heat.solo and not heat.solo.formations.empty? %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
           <% if index % 2 == 0 and (formation.on_floor || p1.id == 0) %>
           <% if index > 1 || p1.id != 0%><br><% end %><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
           <% end %>
           <% end %>
           <% end %>
           <% if (tally[p1.id] || 0) > 1 %><span class="text-white bg-red-600"></span><% end %>
           </td>
           <td class="row <%= (p2.id > 0 && tally[p2.id] || 0) > 1 ? 'text-white bg-red-600' : '' %>">
           <%= link_to p2.display_name, polymorphic_path(p2, anchor: 'heats') if p2.id != 0 %>
            <% if heat.solo and not heat.solo.formations.empty? %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
           <% if index % 2 == 1 and (formation.on_floor || p2.id == 0) %>
           <% if index > 1 || p2.id != 0%><br><% end %><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
           <% end %>
           <% end %>
           <% end %>
           </td>
           <td class="row"><%= heat.entry.level_name %></td>
           <td class="row text-center"><%= heat.entry.subject_category(@track_ages) %></td>
           <td class="row"><%= link_to heat.studio.name, heat.studio %></td>
           <td>
          <form method="get" action="<%= heat.solo ? (heat.solo.formations.empty? ? edit_solo_path(heat.solo) : edit_formation_path(heat.solo)) : edit_heat_path(heat) %>">
          <input type="hidden" name="primary" value="<%= heat.subject.id %>">
          <input type="hidden" name="return_to" value="<%= heats_path(anchor: dom_id(heat)) %>">
          <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
          </form>
          </td>
         </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @locked and cat == "Unscheduled" and Heat.where.not(number: ..0).any? %>
    <%= up_link 'Schedule', schedule_heats_path, class: "mx-8 btn-blue", method: :post %>
    <p class="mx-8 px-8">
    This button will attempt to add the unscheduled <%= pluralize(heats.length, 'heat') %> to existing heats without changing anything else.
    If this can't be done without exceeding maximum heat sizes, putting the same dancer on the floor twice, or
    other reason, the heat will remain unscheduled.
    </p>
    <% end %>
  </div>
</div>