<%= form_with(model: heat, class: "contents", id: 'heat-form') do |form| %>
  <% if heat.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(heat.errors.count, "error") %> prohibited this heat from being saved:</h2>

      <ul>
        <% heat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto w-full mb-8 text-center">
    <%= render partial: 'entries/box', locals: {form: form} %>

    <% if heat.id and params[:primary] and heat.number >= 0 %>
    <div class="my-5">
      <%= form.label :number, 'Heat number' %>
      <%= form.text_field :number, pattern: '^\s*\d+(\.\d+|\d+_)?\s*$',
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if @ballroom %>
    <div class="my-5">
      <%= form.label :ballroom, 'Ballroom' %>
      <%= form.select :ballroom, %w(A B), {include_blank: true},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <% end %>
    <% end %>
    
    <div class="my-5">
      <%= form.label :category %>
      <%= form.select :category, %w(Open Closed Solo Multi), {},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :dance_id %>
      <%= form.select :dance_id, @dances, {},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
<% end %>