<%= form_with(model: heat, class: "contents") do |form| %>
  <% if heat.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(heat.errors.count, "error") %> prohibited this heat from being saved:</h2>

      <ul>
        <% heat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto w-full mb-8 text-center">
    <%= render partial: 'entries/box', locals: {form: form} %>
    
    <div class="my-5">
      <%= form.label :category %>
      <%= form.select :category, %w(Open Closed), {},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :dance_id %>
      <%= form.select :dance_id, @dances, {},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
