<div id="<%= dom_id heat %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= heat.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Entry:</strong>
    <%= heat.entry_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this heat", heat, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this heat', edit_heat_path(heat), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
