<style>
tbody {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
}

tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
  page-break-before: auto;
  page-break-after: auto;
}

.page {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  page-break-inside: avoid;
  min-width: 7.5in;
  max-height: 10in;
}

.page .number {
  position: absolute;
  top: 0;
  right: 0;
}

.page .rotate {
  position: absolute;
  top: 0.5in;
  left: 1in;
  font-size: 40px;
  transform: rotate(-30deg);
  font-weight: bold;
  -webkit-text-stroke: 0.5px #4338CA;
  text-stroke: 0.5px #4338CA;
  font-family: 'Algerian Regular';
}

.page .rotate-shadow {
  position: absolute;
  opacity: 75%;
  color: #AAA;
  top: 0.8in;
  left: 1.35in;
  font-size: 20px;
  transform: rotate(-30deg);
  text-shadow: #000 0 0 3px;
}

.page header {
}

.page .content {
  overflow-y: hidden;
}

.page footer {
}
</style>

<div class="mx-auto md:w-2/3 w-full print:w-full">

<div class="mb-4">
  <h2 class="font-bold text-center text-4xl" style="font-family: 'Algerian Regular'"><%= @event.name %></h1>

  <p class="mt-4">
    <% @event.location.to_s.lines.each do |line| %>
      <div class="text-center" style="font-family: 'Algerian Regular'"><%= line.chomp %></div>
    <% end %>
  </p>
  
  <p class="mt-2 text-center" style="font-family: 'Berlin Sans FB Demi Bold'"><%= @event.date %></p>
</div>

<div class="justify-between items-center">
  <h1 class="font-bold text-4xl">Agenda</h1>
</div>

  <table class="table-fixed mt-4 ml-6 mb-8">
    <tr>
      <th class="row-head">Category
      <th colspan="2" class="row-head">Heats
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day
      <% end %>
      <th class="row-head" colspan="2">Time
      <% elsif not @oneday %>
      <th class="row-head">Day
      <% end %>
    </tr>
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a>
        <td class="row text-right"><a href="#heat-<%= heats.first.first %>"><%= heats.first.first %></a>
        <td class="row text-right"><a href="#heat-<%= heats.last.first %>"><%= heats.last.first %></a>
        <% if @start and @start[heats.first.first] %>
        <% unless @oneday %>
        <td class="row"><%= @start && Date::DAYNAMES[@start[heats.first.first]&.wday || 7] %>
        <% end %>
        <td class="row"><%= @start && @start[heats.first.first]&.strftime("%I:%M %P") %>
        <td class="row"><%= @finish && @finish[heats.last.first]&.strftime("%I:%M %P") %>
        <% elsif not @categories[cat]&.day.blank? and not @oneday %>
        <td class="row"><%= @categories[cat].day %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <% ballrooms = (@categories[cat]&.ballrooms == nil ? @ballrooms : @categories[cat].ballrooms) %>
  <div style="page-break-after: always"></div>

  <% unless @type == 'judge' and heats.all? {|number, heats| heats.first.category == 'Solo'} %>
  <div class="mt-8 mb-2 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="font-bold text-4xl"><%= cat %></h1>
  </div>
  <% end %>

  <div class="w-full">
    <% heats.each do |number, heats| %>
    <% if @type == 'judge' and heats.first.category == 'Solo' %>
    <% heat = heats.first %>
    <div class="page">
    <span class="number"><%= number %></span>
    <span class="rotate-shadow">Solo</span>
    <span class="rotate">Solo</span>

    <header>
    <div class="mb-4">
      <h2 class="font-bold text-center text-4xl" style="font-family: 'Algerian Regular'"><%= @event.name %></h1>

      <p class="mt-4">
        <% @event.location.to_s.lines.each do |line| %>
          <div class="text-center" style="font-family: 'Algerian Regular'"><%= line.chomp %></div>
        <% end %>
      </p>
      
      <p class="mt-2 text-center" style="font-family: 'Berlin Sans FB Demi Bold'"><%= @event.date %></p>
    </div>

    <%
      if @column_order == 1 or heat.follow.type == 'Professional'
        dancers = [heat.lead, heat.follow]
      else
        dancers = [heat.follow, heat.lead]
      end

      studio = dancers.first.studio.name

      heat.solo.formations.each do |formation|
        dancers << formation.person if formation.on_floor
      end

      if dancers.length == 2
        dancers = dancers.first.join(dancers.last)
      else
        dancers.map! &:display_name
        dancers[-1] = "and #{dancers.last}"
        dancers = dancers.join(', ')
      end
    %>

    <div class="mb-4">
    <div class="text-xl float-right"><b>Studio</b>: <%= studio %></div>
    <div class="text-xl"><b>Level</b>: <%= heat.entry.level.name %></div>
    </div>

   
    <div class="text-xl mb-4 grid grid-cols-2" style="grid-template-columns: auto 1fr"><span><b>Names</b>:&nbsp;</span><span><%= dancers %></span></div>
    <div class="text-xl"><b>Dance</b>: <%= heat.dance.name %>
    <% if heat.solo.combo_dance%>
    / <%= heat.solo.combo_dance.name %>
    <% end %>
    </div>
    </header>

    <div class="mt-4 content truncate text-base">
    <div><b class="text-xl">Comments:</b> <span class="whitespace-pre underline"><%= ' ' * 400 %></span></div>
    <% 20.times do %>
    <div>&nbsp</div>
    <div><span class="whitespace-pre underline"><%= ' ' * 400 %></span></div>
    <% end %>
    </div>

    <footer>
    <div class="mt-8 grid grid-cols-2">
    <div class="text-xl mt-4"><span class="whitespace-pre underline"><%= ' ' * 60 %></span><br><b>Adjudicator</b></div>
    <div class="text-xl items-end"><span style="float: right"><b>Score</b>: <span class="border-2 border-black" style="display: inline-block; min-height: .75in; min-width: 1in"></span></span></div>
    </div>
    </footer>
    </div>
    <% else %>
    <table class="break-inside-avoid text-base table-fixed">
      <colgroup>
        <col width="5px">
        <col width="8%">
        <col width="25%">
        <col width="25%">
        <col width="20%">
        <col width="15%">
        <col width="10%">
      </colgroup>
      <thead class="w-full">
        <td>
        <% if heats.first != 0 %>
        <th width="5">
        <% else %>
        <th>
        <th>
        <% end %>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
      </thead>
      <% if heats.all? {|heat| heat.number < 0} %>
      <tbody class="line-through opacity-50" id="heat-<%= number %>">
      <% else %>
      <tbody id="heat-<%= number %>">
      <% end %>
      <% if number and number > 0 %>
      <tr>
        <td></td>
        <td colspan="9" class="text-lg">Heat <%= number %>: 
          <%= heats.first.category %> <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
          <% if @start %>
          <span class="text-base text-slate-400">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
          <% end %>
        </td>
      </tr>
      <% if heats.first.entry.lead.type == 'Professional' and ballrooms >= 2 %>
      <tr>
        <td>
        <td colspan="8" class="text-xs pt-2">Ballroom A</td>
      </tr>
      <% end %>
      <% ballroom = 'A' %>
      <% else %>
      <% ballroom = 'B' %>
      <% end %>

      <% if heats.first.category == 'Solo' %>
      <% ballroom = 'B' %>
      <% end %>

      <% heats.each_with_index do |heat, index| %>
         <% if ballroom == 'A' and (
           (ballrooms == 2 and heat.entry.lead.type == 'Student') or
           (ballrooms == 3 and index >= heats.length/2)) %>
         <tr>
           <td>
           <td colspan="8" class="text-xs pt-2">Ballroom B</td>
         </tr>
         <% ballroom = 'B' %>
         <% end %>
         <% if heat.number < 0 %>
         <tr class="font-base line-through opacity-50" id="<%= dom_id heat %>">
         <% else %>
         <tr class="font-base" id="<%= dom_id heat %>">
         <% end %>
           <% if number != 0 %>
           <td class="pl-4">
           <% else %>
           <td class="pl-4"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="pl-4"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="pl-4"><%= heat.dance.name %>
           <% end %>
           <% end %>
           <td class="pl-4 font-bold text-base"><%= heat.back %>
           <%
             if @column_order == 1 or heat.follow.type == 'Professional'
               p1, p2 = heat.lead, heat.follow
             else
               p1, p2 = heat.follow, heat.lead
             end
           %>
           <td class="pl-4"><%= link_to p1.display_name, polymorphic_path(p1, anchor: 'heats') %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 0 and formation.on_floor %>
             <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
             <% end %>
           <% end %>
           <% end %>
           <td class="pl-4"><%= link_to p2.display_name, polymorphic_path(p2, anchor: 'heats') %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 1 and formation.on_floor %>
             <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
             <% end %>
           <% end %>
           <% end %>
           <% if @type == 'judge' %>
           <td class="pl-4 text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
           <% else %>
           <td class="pl-4"><%= heat.entry.level.name %>
           <td class="pl-4 text-center"><%= heat.entry.subject_category(@track_ages) %>
           <% end %>
           <td class="pl-4"><%= link_to heat.studio.name, heat.studio %>
           <% if @type == 'judge' %>
           <td>
             <div class="w-24 pt-4 border-b-2 border-black">&nbsp;</div>
           </td>
           <% end %>
         </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
