<style>
tbody {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
}
tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
  page-break-before: auto;
  page-break-after: auto;
}
</style>

<div class="mx-auto md:w-2/3 w-full print:w-full">

<div class="mb-4">
  <h2 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4 text-center"><%= @event.location %></p>
  <p class="mt-2 text-center"><%= @event.date %></p>
</div>

<div class="justify-between items-center">
  <h1 class="font-bold text-4xl">Agenda</h1>
</div>

  <table class="table-fixed mt-4 ml-6 mb-8">
    <tr>
      <th class="row-head">Category
      <th colspan="2" class="row-head">Heats
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day
      <% end %>
      <th class="row-head" colspan="2">Time
      <% elsif not @oneday %>
      <th class="row-head">Day
      <% end %>
    </tr>
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a>
        <td class="row text-right"><a href="#heat-<%= heats.first.first %>"><%= heats.first.first %></a>
        <td class="row text-right"><a href="#heat-<%= heats.last.first %>"><%= heats.last.first %></a>
        <% if @start and @start[heats.first.first] %>
        <% unless @oneday %>
        <td class="row"><%= @start && Date::DAYNAMES[@start[heats.first.first]&.wday || 7] %>
        <% end %>
        <td class="row"><%= @start && @start[heats.first.first]&.strftime("%I:%M %P") %>
        <td class="row"><%= @start && @start[heats.last.first]&.strftime("%I:%M %P") %>
        <% elsif not @categories[cat]&.day.blank? and not @oneday %>
        <td class="row"><%= @categories[cat].day %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <div style="page-break-after: always"></div>

  <div class="mt-8 mb-2 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="font-bold text-4xl"><%= cat %></h1>
  </div>

  <div class="w-full">
    <% heats.each do |number, heats| %>
    <table class="break-inside-avoid text-xs table-fixed">
      <colgroup>
        <col width="5px">
        <col width="8%">
        <col width="25%">
        <col width="25%">
        <col width="20%">
        <col width="15%">
        <col width="10%">
      </colgroup>
      <thead class="w-full">
        <td>
        <% if heats.first != 0 %>
        <th width="5">
        <% else %>
        <th>
        <th>
        <% end %>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
      </thead>
      <% if heats.all? {|heat| heat.number < 0} %>
      <tbody class="line-through opacity-50" id="heat-<%= number %>">
      <% else %>
      <tbody id="heat-<%= number %>">
      <% end %>
      <% if number and number > 0 %>
      <tr>
        <td></td>
        <td colspan="9" class="text-lg">Heat <%= number %>: 
          <%= heats.first.category %> <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
          <% if @start %>
          <span class="text-base text-slate-400">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
          <% end %>
        </td>
      </tr>
      <% if (heats.first.back || 0) < 200 && @ballrooms == 2 %>
      <tr>
        <% if @type == 'judge' %>
        <td>
        <% end %>
        <td>
        <td colspan="8" class="text-xs pt-2">Ballroom A</td>
      </tr>
      <% end %>
      <% last_back = 100 %>
      <% else %>
      <% last_back = 200 %>
      <% end %>

      <% if heats.first.category == 'Solo' %>
      <% last_back = 200 %>
      <% end %>

      <% heats.each do |heat| %>
         <% if heat.back && last_back < 200 && heat.back >= 200 && @ballrooms == 2 %>
         <tr>
           <% if @type == 'judge' %>
           <td>
           <% end %>
           <td>
           <td colspan="8" class="text-xs pt-2">Ballroom B</td>
         </tr>
         <% end %>
         <% last_back = heat.back if heat.back %>
         <% if heat.number < 0 %>
         <tr class="font-base line-through opacity-50" id="<%= dom_id heat %>">
         <% else %>
         <tr class="font-base" id="<%= dom_id heat %>">
         <% end %>
           <% if @type == 'judge' %>
           <td>
             <div class="w-24 pt-4 border-b-2 border-black">&nbsp;</div>
           </td>
           <% end %>
           <% if number != 0 %>
           <td class="pl-4">
           <% else %>
           <td class="pl-4"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="pl-4"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="pl-4"><%= heat.dance.name %>
           <% end %>
           <% end %>
           <td class="pl-4"><%= heat.back %>
           <%
             if @column_order == 1 or heat.follow.type == 'Professional'
               p1, p2 = heat.lead, heat.follow
             else
               p1, p2 = heat.follow, heat.lead
             end
           %>
           <td class="pl-4"><%= link_to p1.display_name, polymorphic_path(p1, anchor: 'heats') %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 0 %>
             <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
             <% end %>
           <% end %>
           <% end %>
           <td class="pl-4"><%= link_to p2.display_name, polymorphic_path(p2, anchor: 'heats') %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 1 %>
             <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
             <% end %>
           <% end %>
           <% end %>
           <% if @type == 'judge' %>
           <td class="pl-4 text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
           <% else %>
           <td class="pl-4"><%= heat.entry.level.name %>
           <td class="pl-4 text-center"><%= heat.entry.subject_category(@track_ages) %>
           <% end %>
           <td class="pl-4"><%= link_to heat.studio.name, heat.studio %>
         </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <% end %>
</div>
