<style>
tbody {
}

tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
}

.page {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 7.5in;
  max-height: 11in;
}

.page .number {
  position: absolute;
  top: 0;
  right: 0;
}

.page .rotate {
  position: absolute;
  top: 0.2in;
  left: 1in;
  font-size: 40px;
  transform: rotate(-30deg);
  font-weight: bold;
  -webkit-text-stroke: 0.5px #4338CA;
  text-stroke: 0.5px #4338CA;
  font-family: '<%= @font_family %>%';
}

.page .rotate-shadow {
  position: absolute;
  opacity: 75%;
  color: #AAA;
  top: 0.5in;
  left: 1.35in;
  font-size: 20px;
  transform: rotate(-30deg);
  text-shadow: #000 0 0 3px;
}

.page header {
}

.page .content {
  overflow-y: hidden;
}

.page footer {
}

@page {
  margin-top: 0.5in;
}

@page :right {
  margin-left: 2cm;
  margin-right: 1.5cm;
}

@page :left {
  margin-left: 2cm;
  margin-right: 1.5cm;
}
</style>
<%

last_seen = Set.new
seen = Set.new

show_name = lambda do |person|
  return '' if person.id == 0
  name = person.display_name
  return name unless @type == 'emcee'

  seen.add person

  if last_seen.include? person
    return "<u>#{name}</u>".html_safe
  else
    return name
  end
end

%>

<div class="mx-auto w-full print:w-full">

<div class="mb-4">
  <% if @judge %>
  <h2 class="font-bold text-center text-4xl" style="font-family: '<%= @font_family %>'"><%= @judge.display_name %></h2>
  <% end %>
  <h2 class="font-bold text-center text-4xl" style="font-family: '<%= @font_family %>'"><%= @event.name %></h2>

  <p class="mt-4">
    <% @event.location.to_s.lines.each do |line| %>
      <div class="text-center" style="font-family: '<%= @font_family %>'"><%= line.chomp %></div>
    <% end %>
  </p>
  
  <p class="mt-2 text-center" style="font-family: '<%= @font_family %>'"><%= @event.date %></p>
</div>

<div class="justify-between items-center">
  <h2 class="font-bold text-xl text-center" style="font-family: '<%= @font_family %>'">Agenda</h2>
</div>

  <table class="table-fixed mt-4 mx-auto mb-0" data-controller="date-range">
    <tr>
      <th class="row-head">Category</th>
      <th colspan="2" class="row-head">Heats</th>
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day</th>
      <% end %>
      <th class="row-head">Time</th>
      <% elsif not @oneday %>
      <th class="row-head">Day</th>
      <% end %>
    </tr>
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a></td>
        <td class="row text-right"><a href="#heat-<%= heats.first&.first || cat %>"><%= heats.first&.first %></a></td>
        <td class="row text-right"><a href="#heat-<%= heats.last&.first || cat %>"><%= heats.last&.first %></a></td>
        <% if @start and @cat_start[cat] %>
        <% unless @oneday %>
        <td class="row"><%= @start && Date::DAYNAMES[@cat_start[cat]&.wday || 7] %></td>
        <% end %>
        <td class="row text-right" data-start="<%= @cat_start[cat].iso8601 %>" data-finish="<%= @cat_finish[cat].iso8601 %>">
          <%= @start && @cat_start[cat]&.strftime("%l:%M %P") %> -
          <%= @finish && @cat_finish[cat]&.strftime("%l:%M %P") %>
        </td>
        <% elsif not @categories[cat]&.day.blank? and not @oneday %>
        <td class="row"><%= @categories[cat].day %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <% next if heats.empty? %>
  <div class="page break-before-page"></div>

  <div class="w-full">

  <% unless @type == 'judge' and heats.all? {|number, ballrooms| ballrooms.values.flatten.first.category == 'Solo'} %>
  <div class="mt-8 mb-2 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="font-bold text-4xl"><%= cat %></h1>
  </div>
  <% end %>

    <% heats.each do |number, ballrooms| %>
    <% heats = ballrooms.values.flatten %>
    <% heats = heats.select {|heat| @assignments[heat.id] == @judge.display_name} if @judge && %w(Open Closed).include?(heats.first&.category) %>
    <% heat = heats.first %>
    <% next unless heat %>
    <% if @type == 'judge' and heats.first.category == 'Solo' %>
    <% if @show_solos
        next if @show_solos == 'none'
        next if @show_solos == 'even' and heat.number.odd?
        next if @show_solos == 'odd' and heat.number.even?
      end %>
    <%= render partial: 'heats/solo', locals: {number: number, heat: heat, show_name: show_name} %>
    <% else %>
    <% feedback = (@event.closed_scoring == "=" || @combine_open_and_closed) && %w(+ & @).include?(@event.open_scoring) %>
    <table class="<% unless feedback && @type == 'judge' %>break-inside-avoid <% end %>table-fixed w-full border-y border-collapse border-solid border-gray-400" style="font-size: 11.5px">
      <colgroup>
        <col width="5px">
        <% unless heat.category == 'Solo' %>
        <col width="8%">
        <% end %>
        <col width="25%">
        <col width="25%">
        <col width="20%">
        <col width="15%">
        <!--
        <col width="10%">
        -->
      </colgroup>
      <thead class="w-full">
        <td></td>
        <% if number != 0 %>
        <th width="5"></th>
        <% else %>
        <% unless heat.category == 'Solo' %>
        <th></th>
        <% end %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <% if heats.all? {|heat| heat.number < 0} %>
      <tbody class="line-through opacity-50" id="heat-<%= number %>">
      <% else %>
      <tbody id="heat-<%= number %>">
      <% end %>
      <% if number and number > 0 %>
      <% last_seen = seen; seen = Set.new %>
      <tr>
        <td></td>
        <td colspan="9" class="text-lg">Heat <%= number %>:
          <% unless @combine_open_and_closed and %w(Open Closed).include? heats.first.category %><%= heats.first.category %><% end %>
          <% if heats.first.dance_id == heats.last.dance_id %>
          <%= heats.first.display_dance_name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance and !heats.first.child_dance_name %>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
          <% else %>
          <%= cat %>
          <% end %>
          <% if @start %>
          <span class="text-base" style="opacity: 50%">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
          <% end %>
          <% if (@type == 'judge' || @type=='emcee') and heats.first.category != 'Solo' %>
          <span class="text-base">(<%= pluralize(ballrooms.values.flatten.length, 'entry') %>)</span>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% ballrooms.each do |ballroom, heats| %>
        <% heats = heats.select {|heat| @assignments[heat.id] == @judge.display_name} if @judge && %w(Open Closed).include?(heats.first&.category) %>
        <% next if heats.empty? %>
         <% if ballroom %>
         <tr>
           <td>
           <td colspan="8" class="text-xs pt-2">Ballroom <%= ballroom %></td>
         </tr>
         <% end %>
         <% dance = heats.first.dance_id == heats.last.dance_id ? heats.first.dance_id : 0 %>
         <% heats.each do |heat| %>
          <% if heat.dance_id != dance %>
           <tr>
             <td>
             <td colspan="8" class="text-s pt-2"><%= heat.display_dance_name %></td>
          </tr>
          <% dance = heat.dance_id %>
         <% end %>
         <% if feedback %>
         <tbody class="break-inside-avoid">
         <% end %>
         <% if heat.number < 0 %>
         <tr class="font-base line-through opacity-50" id="<%= dom_id heat %>">
         <% else %>
         <tr class="font-base" id="<%= dom_id heat %>">
         <% end %>
           <% if number != 0 %>
           <td class="pl-4">
           <% else %>
           <td class="pl-4"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance and !heat.child_dance_name %>
           <td class="pl-4"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="pl-4"><%= heat.display_dance_name %>
           <% end %>
           <% end %>
           <% unless heat.category == 'Solo' %>
           <td class="pl-4 font-bold"><%= heat.back %>
           <% end %>
           <%
             if @column_order == 1 or heat.lead.type == 'Student'
               p1, p2 = heat.lead, heat.follow
             else
               p1, p2 = heat.follow, heat.lead
             end
           %>
           <td class="pl-4"><%= show_name[p1] %>
           <% if heat.solo %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 0 and formation.on_floor %>
             <br><%= show_name[formation.person] %>
             <% end %>
           <% end %>
           <% end %>
           <td class="pl-4"><%= link_to show_name[p2] %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 1 and formation.on_floor %>
             <br><%= show_name[formation.person] %>
             <% end %>
           <% end %>
           <% end %>
           <% if @type == 'judge' || @type == 'emcee' %>
           <td class="pl-4 text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
           <% else %>
           <td class="pl-4"><%= heat.entry.level_name %>
           <!-- td class="pl-4 text-center"><%= heat.entry.subject_category(@track_ages) %> -->
           <% end %>
           <td class="pl-4"><%= link_to heat.studio.name.gsub(/\s-/, "\xA0-"), heat.studio %></td>
           <% if @type == 'judge' %>
           <td>
             <div class="w-24 pt-4 border-b-2 border-black">&nbsp;</div>
           </td>
           <% if heat.category == 'Open' || @event.closed_scoring == "=" || @combine_open_and_closed %>
           <% if @event.open_scoring == '+' %>
           <tr>
            <td colspan="2"></td>
            <td colspan="4">
            <div class="grid grid-cols-2 divide-x-2 divide-black">
            <div class="grid grid-cols-5 good">
              <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
              <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
              <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
              <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
              <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
              <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
              <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
              <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
              <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
              <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>
            </div>
            <div class="grid grid-cols-5 bad">
              <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
              <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
              <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
              <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
              <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
              <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
              <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
              <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
              <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
              <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>
            </div>
            </div>
            </td>
          </tr>
          <% elsif @event.open_scoring == '&' || @event.open_scoring == '@' %>
          <tr>
            <td colspan="2"></td>
            <td colspan="4">
              <% if @event.open_scoring == '&' %>
              <div class="grid value w-full" style="grid-template-columns: 100px repeat(5, 1fr)">
                <div class="bg-gray-200 inline-flex justify-center items-center">Overall</div>
                <button class="open-fb"><abbr>1</abbr><span>1</span></button>
                <button class="open-fb"><abbr>2</abbr><span>2</span></button>
                <button class="open-fb"><abbr>3</abbr><span>3</span></button>
                <button class="open-fb"><abbr>4</abbr><span>4</span></button>
                <button class="open-fb"><abbr>5</abbr><span>5</span></button>
              </div>
              <% else %>
              <div class="grid value w-full" style="grid-template-columns: 100px repeat(4, 1fr)">
                <div class="bg-gray-200 inline-flex justify-center items-center">Overall</div>
                <button class="open-fb"><abbr>B</abbr><span>B</span></button>
                <button class="open-fb"><abbr>S</abbr><span>S</span></button>
                <button class="open-fb"><abbr>G</abbr><span>G</span></button>
                <button class="open-fb"><abbr>GH</abbr><span>GH</span></button>
              </div>
              <% end %>
              <div class="grid good" style="grid-template-columns: 100px repeat(6, 1fr)">
                <div class="bg-gray-200 inline-flex justify-center items-center">Good</div>
                <button class="open-fb"><abbr>F</abbr><span>Frame</span></button>
                <button class="open-fb"><abbr>P</abbr><span>Posture</span></button>
                <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
                <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
                <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
                <button class="open-fb"><abbr>S</abbr><span>Styling</span></button>
              </div>
              <div class="grid bad" style="grid-template-columns: 100px repeat(6, 1fr)">
                <div class="bg-gray-200 inline-flex justify-center items-center">Needs Work</div>
                <button class="open-fb"><abbr>F</abbr><span>Frame</span></button>
                <button class="open-fb"><abbr>P</abbr><span>Posture</span></button>
                <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
                <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
                <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
                <button class="open-fb"><abbr>S</abbr><span>Styling</span></button>
              </div>
            </td>

          </tr>
           <% end %>
           <% end %>
           <% if @event.judge_comments %>
           <tr class="pt-2">
           <td colspan="2"></td>
           <td colspan="4" class="mr-4 h-20 border-2 rounded-lg"></td>
           <% unless @judge %>
           <td align="center" colspan="6" class="text-4xl"><%= @assignments[heat.id].to_s.gsub(/[^A-Z]/, '') %></td>
           <% end %>
           </tr>
           <% end %>
           <% end %>
         </tr>
         <% if feedback %>
         </tbody>
         <% end %>
         <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
