<style>
tbody {
}

tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
}

.page {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 7.5in;
  max-height: 11in;
}

.page .number {
  position: absolute;
  top: 0;
  right: 0;
}

.page .rotate {
  position: absolute;
  top: 0.2in;
  left: 1in;
  font-size: 40px;
  transform: rotate(-30deg);
  font-weight: bold;
  -webkit-text-stroke: 0.5px #4338CA;
  text-stroke: 0.5px #4338CA;
  font-family: '<%= @font_family %>%';
}

.page .rotate-shadow {
  position: absolute;
  opacity: 75%;
  color: #AAA;
  top: 0.5in;
  left: 1.35in;
  font-size: 20px;
  transform: rotate(-30deg);
  text-shadow: #000 0 0 3px;
}

.page header {
}

.page .content {
  overflow-y: hidden;
}

.page footer {
}

@page :right {
  margin-left: 2cm;
  margin-right: 1.5cm;
}

@page :left {
  margin-left: 2cm;
  margin-right: 1.5cm;
}
</style>
<%

last_seen = Set.new
seen = Set.new

show_name = lambda do |person|
  name = person.display_name
  return name unless @type == 'emcee'

  seen.add person

  if last_seen.include? person
    return "<u>#{name}</u>".html_safe
  else
    return name
  end
end

%>

<div class="mx-auto w-full print:w-full">

<div class="mb-4">
  <h2 class="font-bold text-center text-4xl" style="font-family: '<%= @font_family %>'"><%= @event.name %></h1>

  <p class="mt-4">
    <% @event.location.to_s.lines.each do |line| %>
      <div class="text-center" style="font-family: '<%= @font_family %>'"><%= line.chomp %></div>
    <% end %>
  </p>
  
  <p class="mt-2 text-center" style="font-family: '<%= @font_family %>'"><%= @event.date %></p>
</div>

<div class="justify-between items-center">
  <h1 class="font-bold text-xl text-center" style="font-family: '<%= @font_family %>'">Agenda</h1>
</div>

  <table class="table-fixed mt-4 mx-auto mb-0">
    <tr>
      <th class="row-head">Category
      <th colspan="2" class="row-head">Heats
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day
      <% end %>
      <th class="row-head" colspan="2">Time
      <% elsif not @oneday %>
      <th class="row-head">Day
      <% end %>
    </tr>
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a>
        <td class="row text-right"><a href="#heat-<%= heats.first&.first || cat %>"><%= heats.first&.first %></a>
        <td class="row text-right"><a href="#heat-<%= heats.last&.first || cat %>"><%= heats.last&.first %></a>
        <% if @start and @cat_start[cat] %>
        <% unless @oneday %>
        <td class="row"><%= @start && Date::DAYNAMES[@cat_start[cat]&.wday || 7] %>
        <% end %>
        <td class="row text-right"><%= @start && @cat_start[cat]&.strftime("%l:%M %P") %>
        <td class="row text-right"><%= @finish && @cat_finish[cat]&.strftime("%l:%M %P") %>
        <% elsif not @categories[cat]&.day.blank? and not @oneday %>
        <td class="row"><%= @categories[cat].day %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <% next if heats.empty? %>
  <div style="page-break-after: always"></div>

  <div class="w-full">

  <% unless @type == 'judge' and heats.all? {|number, ballrooms| ballrooms.values.flatten.first.category == 'Solo'} %>
  <div class="mt-8 mb-2 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="font-bold text-4xl"><%= cat %></h1>
  </div>
  <% end %>

    <% heats.each do |number, ballrooms| %>
    <% heats = ballrooms.values.flatten %>
    <% heat = heats.first %>
    <% if @type == 'judge' and heats.first.category == 'Solo' %>
    <div class="page break-before-page">
    <span class="mt-12 number"><%= number %></span>
    <header>
    <div class="mt-8 mb-4">
      <h2 class="font-bold text-center text-4xl" style="font-family: '<%= @font_family %>'"><%= @event.name %></h1>

      <p class="mt-4">
        <% (@event.theme || @event.location).to_s.lines.each do |line| %>
          <div class="text-center text-2xl" style="font-family: '<%= @font_family %>'"><%= line.chomp %></div>
        <% end %>
      </p>
      
      <p class="mt-2 text-center" style="font-family: '<%= @font_family %>'"><%= @event.date %></p>

      <span class="mt-8 -ml-12 rotate-shadow">Solo</span>
      <span class="mt-8 -ml-12 rotate">Solo</span>
    </div>

    <%
      if @column_order == 1 or heat.follow.type == 'Professional'
        dancers = [heat.lead, heat.follow]
      else
        dancers = [heat.follow, heat.lead]
      end

      studio = dancers.first.studio.name

      heat.solo.formations.each do |formation|
        dancers << formation.person if formation.on_floor
      end

      if dancers.length == 2
        dancers = dancers.first.join(dancers.last)
      else
        dancers.map! &:display_name
        dancers[-1] = "and #{dancers.last}"
        dancers = dancers.join(', ')
      end
    %>

    <div class="mb-4">
    <div class="text-xl float-right"><b style="font-family: '<%= @font_family %>'">Studio</b>: <%= studio %></div>
    <div class="text-xl"><b style="font-family: '<%= @font_family %>'">Level</b>: <%= heat.entry.level_name %></div>
    </div>

   
    <div class="text-xl mb-4 grid grid-cols-2" style="grid-template-columns: auto 1fr"><span><b style="font-family: '<%= @font_family %>'">Names</b>:&nbsp;</span><span><%= dancers %></span></div>
    <div class="text-xl"><b style="font-family: '<%= @font_family %>'">Dance</b>: <%= heat.dance.name %>
    <% if heat.solo.combo_dance%>
    / <%= heat.solo.combo_dance.name %>
    <% end %>
    </div>
    </header>

    <div class="mt-4 content truncate text-base">
    <div><b class="text-xl" style="font-family: '<%= @font_family %>'">Comments:</b> <span class="whitespace-pre underline"><%= ' ' * 400 %></span></div>
    <% 12.times do %>
    <div>&nbsp</div>
    <div><span class="whitespace-pre underline"><%= ' ' * 400 %></span></div>
    <% end %>
    </div>

    <footer>
    <div class="mt-12 grid grid-cols-2">
    <div class="text-xl mt-4"><span class="whitespace-pre underline"><%= ' ' * 30 %></span><br><b>Adjudicator</b></div>
    <div class="text-xl items-end"><span style="float: right"><b>Score</b>: <span class="border-2 border-black" style="display: inline-block; min-height: .75in; min-width: 1in"></span></span></div>
    </div>
    </footer>
    </div>
    <% else %>
    <table class="break-inside-avoid table-fixed w-full" style="font-size: 11.5px">
      <colgroup>
        <col width="5px">
        <% unless heat.category == 'Solo' %>
        <col width="8%">
        <% end %>
        <col width="25%">
        <col width="25%">
        <col width="20%">
        <col width="15%">
        <!--
        <col width="10%">
        -->
      </colgroup>
      <thead class="w-full">
        <td>
        <% if number != 0 %>
        <th width="5">
        <% else %>
        <% unless heat.category == 'Solo' %>
        <th>
        <% end %>
        <th>
        <% end %>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
      </thead>
      <% if heats.all? {|heat| heat.number < 0} %>
      <tbody class="line-through opacity-50" id="heat-<%= number %>">
      <% else %>
      <tbody id="heat-<%= number %>">
      <% end %>
      <% if number and number > 0 %>
      <% last_seen = seen; seen = Set.new %>
      <tr>
        <td></td>
        <td colspan="9" class="text-lg">Heat <%= number %>:
          <% unless @combine_open_and_closed and %w(Open Closed).include? heats.first.category %><%= heats.first.category %><% end %>
          <% if heats.first.dance_id == heats.last.dance_id %>
          <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
          <% else %>
          <%= cat %>
          <% end %>
          <% if @start %>
          <span class="text-base" style="opacity: 50%">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
          <% end %>
          <% if @type == 'judge' || @type=='emcee' %>
          <span class="text-base">(<%= ballrooms.values.flatten.length %> entries)</span>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% ballrooms.each do |ballroom, heats| %>
        <% next if heats.empty? %>
         <% if ballroom %>
         <tr>
           <td>
           <td colspan="8" class="text-xs pt-2">Ballroom <%= ballroom %></td>
         </tr>
         <% end %>
         <% dance = heats.first.dance_id == heats.last.dance_id ? heats.first.dance_id : 0 %>
         <% heats.each do |heat| %>
          <% if heat.dance_id != dance %>
           <tr>
             <td>
             <td colspan="8" class="text-s pt-2"><%= heat.dance.name %></td>
          </tr>
          <% dance = heat.dance_id %>
         <% end %>
         <% if heat.number < 0 %>
         <tr class="font-base line-through opacity-50" id="<%= dom_id heat %>">
         <% else %>
         <tr class="font-base" id="<%= dom_id heat %>">
         <% end %>
           <% if number != 0 %>
           <td class="pl-4">
           <% else %>
           <td class="pl-4"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="pl-4"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="pl-4"><%= heat.dance.name %>
           <% end %>
           <% end %>
           <% unless heat.category == 'Solo' %>
           <td class="pl-4 font-bold"><%= heat.back %>
           <% end %>
           <%
             if @column_order == 1 or heat.follow.type == 'Professional'
               p1, p2 = heat.lead, heat.follow
             else
               p1, p2 = heat.follow, heat.lead
             end
           %>
           <td class="pl-4"><%= show_name[p1] %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 0 and formation.on_floor %>
             <br><%= show_name[formation.person] %>
             <% end %>
           <% end %>
           <% end %>
           <td class="pl-4"><%= link_to show_name[p2] %>
           <% if heat.category == 'Solo' %>
           <% heat.solo.formations.each_with_index do |formation, index| %>
             <% if index % 2 == 1 and formation.on_floor %>
             <br><%= show_name[formation.person] %>
             <% end %>
           <% end %>
           <% end %>
           <% if @type == 'judge' || @type == 'emcee' %>
           <td class="pl-4 text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
           <% else %>
           <td class="pl-4"><%= heat.entry.level_name %>
           <!-- td class="pl-4 text-center"><%= heat.entry.subject_category(@track_ages) %> -->
           <% end %>
           <td class="pl-4"><%= link_to heat.studio.name.gsub(/\s-/, "\xA0-"), heat.studio %>
           <% if @type == 'judge' %>
           <td>
             <div class="w-24 pt-4 border-b-2 border-black">&nbsp;</div>
           </td>
           <% if heat.category == 'Open' && @event.open_scoring == '+' %>
           <tr>
            <td colspan="2">
            <td colspan="4">
            <div class="grid grid-cols-2 divide-x-2 divide-black" %>
            <div class="grid grid-cols-5 good" %>
              <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
              <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
              <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
              <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
              <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
              <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
              <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
              <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
              <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
              <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>
            </div>
            <div class="grid grid-cols-5 bad" %>
              <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
              <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
              <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
              <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
              <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
              <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
              <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
              <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
              <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
              <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>        </div>
          </div>
          </div>
          </tr>
           <% end %>
           <% if @event.judge_comments %>
           <tr class="pt-2">
           <td colspan="2">
           <td colspan="4" class="mr-4 h-20 border-2 rounded-lg">
           <td align="center" colspan="6" class="text-4xl"><%= @assignments[heat.id].to_s.gsub(/[^A-Z]/, '') %></td>
           </tr>
           <% end %>
           <% end %>
         </tr>
         <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
