<div class="">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="py-4 text-2xl w-full font-bold">
  <%= image_tag showcase_logo, class: "float-right w-12" %>
  DJ dance list
  </h1>

  <table class="w-full break-before-avoid">
      <% @heats.each do |heat| %>
        <% next if heat.number == 0 %>
        <% if @agenda[heat.number] %>
        <% if heat.number != 1 %>
        </tbody>
        </table>
        <table class="break-inside-avoid-page w-full">
        <% end %>
        <thead>
        <tr class="text-black">
          <td colspan="2" class="py-4 text-2xl"><%= @agenda[heat.number] %></td>
        </tr>
        </thead>
        <tbody>
        <% end %>
        <tr id="<%= dom_id heat %>" class="text-black">
          <td><%= heat.number %>
          <% if heat.solo %>
          <td><%= "#{heat.category} #{heat.dance.name}#{heat.solo.combo_dance_id ? " / #{heat.solo.combo_dance.name}" : ''}" %>
          <% unless heat.solo.song.empty? %>- <%= heat.solo.song %><% end %>
          <% unless heat.solo.artist.empty? %>- <%= heat.solo.artist %><% end %>
          <% else %>
          <td><%= "#{heat.category} #{heat.dance.name}" %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
