<div class="px-16 py-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="py-4 text-2xl w-full font-bold">
  <%= image_tag showcase_logo, class: "float-right w-12" %>
  DJ dance list
  </h1>

  <table class="w-full break-before-avoid">
      <% @heats.each do |heat| %>
        <% next if heat.number == 0 %>
        <% if @agenda[heat.number] %>
        <% if heat.number != 1 %>
        </tbody>
        </table>
        <table class="break-inside-avoid-page w-full">
        <% end %>
        <thead>
        <tr class="text-black">
          <td colspan="2" class="py-4 text-2xl"><%= @agenda[heat.number] %></td>
        </tr>
        </thead>
        <tbody>
        <% end %>
        <% if heat.category == "Multi" %>
        <% children = heat.dance.multi_children.sort_by {|multi| multi.dance.order} %>
        <% if heat.dance.semi_finals %>
        <% children.each_with_index do |multi, i| %>
        <tr <% if i == 0 %>id="<%= dom_id heat %>"<% end %> class="text-black">
          <td><%= heat.number %> - Semi <%= i+1 %>
          <td><%= "#{heat.category} #{heat.dance.name} - #{multi.dance.name}" %>
        </tr>
        <% end%>
        <% children.each_with_index do |multi, i| %>
        <tr <% if i == 0 %>id="<%= dom_id heat %>"<% end %> class="text-black">
          <td><%= heat.number %> - Final <%= i+1 %>
          <td><%= "#{heat.category} #{heat.dance.name} - #{multi.dance.name}" %>
        </tr>
        <% end%>
        <% elsif children.length > 0 %>
        <% 0.upto(heat.dance.heat_length-1) do |i| multi=children[i % children.length] %>
        <tr <% if i == 0 %>id="<%= dom_id heat %>"<% end %> class="text-black">
          <td><%= heat.number %> - Part <%= i+1 %>
          <td><%= "#{heat.category} #{heat.dance.name} - #{multi.dance.name}" %>
        </tr>
        <% end%>
        <% else %>
        <% 0.upto(heat.dance.heat_length-1) do |i| %>
        <tr <% if i == 0 %>id="<%= dom_id heat %>"<% end %> class="text-black">
          <td><%= heat.number %> - Part <%= i+1 %>
          <td><%= "#{heat.category} #{heat.dance.name}" %>
        </tr>
        <% end%>
        <% end %>
        <% else %>
        <tr id="<%= dom_id heat %>" class="text-black">
          <td><%= heat.number %>
          <% if heat.solo %>
          <td><%= "#{heat.category} #{heat.dance.name}#{heat.solo.combo_dance_id ? " / #{heat.solo.combo_dance.name}" : ''}" %>
          <% unless heat.solo.song.blank? %>- <%= heat.solo.song %><% end %>
          <% unless heat.solo.artist.blank? %>- <%= heat.solo.artist %><% end %>
          <% else %>
          <td><%= "#{heat.category} #{heat.dance.name}" %>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
