<div class="mx-auto md:w-2/3 w-full">
  <% if @person %>
  <h1 class="text-center font-bold text-4xl"><%= @person.display_name %></h1>
  <% else %>
  <h1 class="text-center font-bold text-4xl">Edit Heat</h1>
  <% end %>

  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Click the lock symbol on the agenda page to enable editing of heat numbers.
  <li class="text-red-600 font-bold">Pushing <span class="x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium">redo</span> will reset all heat numbers.
  <li>If you want to insert a heat between two heats, use decimal numbers.
  <li>If you are making many changes on the same entry form, consider editing the entry instead.
  </ul>
  </div>

  <%= render "form", heat: @heat, return_to: params['return_to'] %>

  <div class="mx-auto flex">
  <input type="submit" class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" form="heat-form" value="Update Heat">

  <% if @heat.number < 0 %>
  <%= up_link 'Restore this heat', heat_path(@heat), class: 'btn-grey my-0',
    method: :delete, params: {primary: params[:primary], 'return-to': params['return_to']}, data: { turbo: false } %>
  <% elsif @heat.number > 0 %>
  <%= up_link 'Scratch this heat', heat_path(@heat), class: 'btn-grey my-0',
    method: :delete, params: {primary: params[:primary], 'return-to': params['return_to']}, data: { turbo: false } %>
  <% else %>
  <%= up_link 'Remove this heat', heat_path(@heat), class: 'btn-grey my-0',
    method: :delete, params: {primary: params[:primary], 'return-to': params['return_to']}, data: { turbo: false, turbo_confirm: 'Are you sure?' } %>
  <% end %>

  <% if params['return_to'] %>
  <%= link_to 'Back to heats', params['return_to'], class: "my-0 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% elsif @person %>
  <%= link_to "Back to student", person_path(@person), class: "my-0 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
  </div>
</div>
