<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @stats %>
  <h1 class="mx-auto font-bold text-4xl">Summary</h1>
  <div id="stats" class="min-w-full">
    <table class="mt-4 table-fixed mx-auto">
      <thead>
        <th class="row-head">Couples
        <th class="row-head">Heats
      </thead>
      <% @stats.each do |size, heats| %>
      <tr>
        <td class="row"><%= size %>
        <td>
        <% heats.each do |heat| %>
        <a href="#heat-<%= heat %>"><%= heat %></a>
        <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="mx-auto font-bold text-4xl">Heats</h1>
    <%= link_to 'Redo', knobs_heats_path, class: "btn-blue" %>
<!--
    <%= link_to 'New heat', new_heat_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
-->
  </div>

  <div id="heats" class="min-w-full">
    <table class="mt-4 table-fixed mx-auto">
    <thead>
      <th class="row-head">Heat
      <th class="row-head">Category
      <th class="row-head">Dance
      <th class="row-head">#
      <th class="row-head">Lead
      <th class="row-head">Follow
      <th class="row-head">Level
      <th class="row-head">Category
      <th class="row-head">Studio
    </thead>
    <% @heats.each do |number, heats| %>
      <tr id="heat-<%= number %>"><td>&nbsp;</td></tr>
      <% heats.each do |heat| %>
         <tr id="<%= dom_id heat %>">
           <td class="row"><%= number %>
           <td class="row"><%= heat.category %>
           <td class="row"><%= heat.dance.name %>
           <td class="row"><%= heat.back %>
           <td class="row"><%= heat.lead.display_name %>
           <td class="row"><%= heat.follow.display_name %>
           <td class="row"><%= heat.level %>
           <td class="row"><%= heat.entry.subject_category %>
           <td class="row"><%= heat.studio.name %>
         </tr>
      <% end %>
    <% end %>
  </div>
</div>
