<style>
tbody {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
}
tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
  page-break-before: auto;
  page-break-after: auto;
}
</style>

<div class="mx-auto w-full print:w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>Categories affect where each dance appears in the agenda, and are defined on the <%= link_to 'Category', categories_path, class: 'x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium' %> page.
<li>The <%= link_to "Settings", settings_event_index_path(anchor: 'adjust') , class: "x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium" %> page contains some options that allow you to control heat sizes.
<li>After any changes to a category or heats, you can click the Redo button to regenerate the agenda.
<% if @stats %>
<li>A summary of how many couples are on the floor for each heat is at the <a href="#stats">bottom</a> of this page.
<% end %>
</ul>
</div>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Agenda</h1>
  <div>
  <%= link_to 'Solos', solos_path, class: "btn-green print:hidden" %>
  <%= up_link 'Redo', redo_heats_path, class: "btn-blue print:hidden", data: { turbo_method: :post } %>
  </div>
</div>

  <table class="table-fixed ml-6 mb-8">
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a>
        <td class="row text-right"><a href="#heat-<%= heats.first.first %>"><%= heats.first.first %></a>
        <td class="row text-right"><a href="#heat-<%= heats.last.first %>"><%= heats.last.first %></a>
        <td class="row"><%= @categories[cat]&.day %>
        <td class="row"><%= @categories[cat]&.time %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <div style="page-break-after: always"></div>

  <div class="mt-8 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="font-bold text-4xl"><%= cat %></h1>
  </div>

  <div class="min-w-full">
    <% heats.each do |number, heats| %>
    <table class="break-inside-avoid text-sm mt-4 table-fixed">
      <colgroup>
        <% if heats.first != 0 %>
        <col width="1%">
        <% else %>
        <col width="5%">
        <col width="5%">
        <% end %>
        <col width="2%">
        <col width="5%">
        <col width="20%">
        <col width="20%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
        <td>
        <% if heats.first != 0 %>
        <th width="5">
        <% else %>
        <th>
        <th>
        <% end %>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
      </thead>
      <tbody id="heat-<%= number %>">
      <% if number and number > 0 %>
      <tr>
        <td></td>
        <td colspan="9" class="text-xl pt-4">Heat <%= number %>: 
          <%= heats.first.category %> <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
        </td>
      </tr>
      <% if (heats.first.back || 0) < 200 && heats.first.category != 'Solo' %>
      <tr>
        <td>
        <td></td>
        <td colspan="8" class="text-xs pt-2">Ballroom A</td>
      </tr>
      <% end %>
      <% last_back = 100 %>
      <% else %>
      <% last_back = 200 %>
      <% end %>

      <% heats.each do |heat| %>
         <% if number != 0 and heat.back && last_back < 200 && heat.back >= 200 && heats.first.category != 'Solo'%>
         <tr>
           <td>
           <td></td>
           <td colspan="8" class="text-xs pt-2">Ballroom B</td>
         </tr>
         <% end %>
         <% last_back = heat.back if heat.back %>
         <tr id="<%= dom_id heat %>">
           <td></td>
           <% if number != 0 %>
           <td class="row">
           <% else %>
           <td class="row"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="row"><%= heat.dance.name %>
           <% end %>
           <% end %>
           <td class="row"><%= heat.back %>
           <td class="row"><%= link_to heat.lead.display_name, polymorphic_path(heat.lead, anchor: 'heats') %>
           <td class="row"><%= link_to heat.follow.display_name, polymorphic_path(heat.follow, anchor: 'heats') %>
           <td class="row"><%= heat.entry.level.name %>
           <td class="row text-center"><%= heat.entry.subject_category %>
           <td class="row"><%= link_to heat.studio.name, heat.studio %>
         </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <% end %>

  <% if @stats %>
  <div>
  <h1 id="stats" class="mt-12 mx-auto font-bold text-4xl print:hidden">Summary</h1>
  <div class="min-w-full print:hidden">
    <table class="mt-4 table-fixed mx-auto">
      <thead>
        <th class="row-head">Couples
        <th class="row-head">Heats
      </thead>

      <% @stats.each do |size, heats| %>
      <tr>
        <td class="row text-right pr-4"><%= size %>
        <td>
        <% heats.each do |heat| %>
        <a href="#heat-<%= heat %>"><%= heat %></a>
        <% end %>
        </td>
      </tr>
      <% end %>

      <% unless @solos.empty? %>
      <tr>
        <td class="text-right row pr-4">Solos
        <td>
        <% @solos.each do |heat| %>
        <a href="#heat-<%= heat.number %>"><%= heat.number %></a>
        <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
  <% end %>
</div>
