<style>
tbody {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
}
tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
  page-break-before: auto;
  page-break-after: auto;
}
</style>

<div class="">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Agenda</h1>
  <div>
  <%= link_to 'Solos', solos_path, class: "btn-green print:hidden" %>
  <%= link_to 'Redo', redo_heats_path, class: "btn-blue print:hidden", data: { turbo_method: :post } %>
  </div>
</div>

  <table class="table-auto ml-6 mb-8">
    <% @agenda.each do |cat, heats| %>
      <tr>
        <td class="row"><a href="#cat-<%= cat.downcase.gsub(' ', '-') %>"><%= cat %></a>
        <td class="row text-right"><a href="#heat-<%= heats.first.first %>"><%= heats.first.first %></a>
        <td class="row text-right"><a href="#heat-<%= heats.last.first %>"><%= heats.last.first %></a>
        <td class="row"><%= @categories[cat]&.day %>
        <td class="row"><%= @categories[cat]&.time %>
      </tr>
    <% end %>
  </table>

  <% @agenda.each do |cat, heats| %>
  <div style="page-break-after: always"></div>

  <div class="mt-8 flex justify-between items-center" id="cat-<%= cat.downcase.gsub(' ', '-') %>">
    <h1 class="mx-auto font-bold text-4xl"><%= cat %></h1>
  </div>

  <div class="min-w-full">
    <table class="mt-4 table-auto mx-auto">
    <thead>
      <td>
        <div class="row-head hidden print:block">Score</div>
      <% if heats.first.first != 0 %>
      <th width="5">
      <% else %>
      <th class="row-head">Category
      <th class="row-head">Dance
      <% end %>
      <th class="row-head">#
      <th class="row-head">Lead
      <th class="row-head">Follow
      <th class="row-head">Level
      <th class="row-head">Category
      <th class="row-head">Studio
    </thead>
    <% heats.each do |number, heats| %>
      <tbody id="heat-<%= number %>">
      <% if number > 0 %>
      <tr>
        <td>
        <td colspan="9" class="text-2xl pt-4">Heat <%= number %>: 
          <%= heats.first.category %> <%= heats.first.dance.name %>
          <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
          / <%= heats.first.solo.combo_dance.name %>
          <% end %>
        </td>
      </tr>
      <% if heats.first.back < 200 %>
      <tr>
        <td>
        <td>
        <td colspan="8" class="text-xl pt-2">Ballroom A</td>
      </tr>
      <% end %>
      <% last_back = 100 %>
      <% else %>
      <% last_back = 200 %>
      <% end %>

      <% if heats.first.category == 'Solo' %>
      <% last_back = 200 %>
      <% end %>

      <% heats.each do |heat| %>
         <% if last_back < 200 && heat.back >= 200 %>
         <tr>
           <td>
           <td>
           <td colspan="8" class="text-xl pt-2">Ballroom B</td>
         </tr>
         <% end %>
         <% last_back = heat.back %>
         <tr id="<%= dom_id heat %>">
           <td>
             <div class="hidden print:block w-32 border-b-2 border-black">&nbsp;</div>
           </td>
           <% if number != 0 %>
           <td class="row">
           <% else %>
           <td class="row"><%= heat.category %>
           <% if heat.category == 'Solo' and heat.solo.combo_dance %>
           <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
           <% else %>
           <td class="row"><%= heat.dance.name %>
           <% end %>
           <% end %>
           <td class="row"><%= heat.back %>
           <td class="row"><%= link_to heat.lead.display_name, polymorphic_path(heat.lead, anchor: 'heats') %>
           <td class="row"><%= link_to heat.follow.display_name, polymorphic_path(heat.follow, anchor: 'heats') %>
           <td class="row"><%= heat.entry.level.name %>
           <td class="row text-center"><%= heat.entry.subject_category %>
           <td class="row"><%= link_to heat.studio.name, heat.studio %>
         </tr>
      <% end %>
      </tbody>
    <% end %>
    </table>
  </div>
  <% end %>

  <% if @stats %>
  <div>
  <h1 class="mt-12 mx-auto font-bold text-4xl print:hidden">Summary</h1>
  <div id="stats" class="min-w-full print:hidden">
    <table class="mt-4 table-auto mx-auto">
      <thead>
        <th class="row-head">Couples
        <th class="row-head">Heats
      </thead>
      <% @stats.each do |size, heats| %>
      <tr>
        <td class="row"><%= size %>
        <td>
        <% heats.each do |heat| %>
        <a href="#heat-<%= heat %>"><%= heat %></a>
        <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
  <% end %>
</div>
