<div class='h-screen flex flex-col w-full' data-controller="heat-search">

<div class='flex flex-col'>
  <%= turbo_stream_from "current-heat-#{ENV['RAILS_APP_DB']}" %>
  <div class='bg-orange-300 text-center text-3xl'>Current: 
    <span class='text-sky-500 font-bold'>
      <%= render partial: 'event/heat', locals: {event: @event} %>
    </span>
  </div>

  <div class='text-center my-2'>
    Search:
    <input class='border' data-heat-search-target="input" value="<%= @search %>">
  </div>
</div>

<div class="flex flex-1 w-screen overflow-y-auto">
<table class="w-full table-auto">
  <% @heats.each do |number, heats| %>
  <% next if number == 0 %>
  <% ballrooms = heats.first.dance_category&.ballrooms || @event.ballrooms %>
  <% ballroom = ballrooms == 1 ? '' : 'A' %>
  <thead>
  <tr class="bg-slate-200">
    <td colspan="3" class='px-4 py-2 font-bold text-xl'>
      <span class='text-sky-500'><%= number %></span>:
      <%= heats.first.category %>
      <%= heats.first.dance.name %>
      <% if heats.first.category == 'Solo' and heats.first.solo.combo_dance%>
      / <%= heats.first.solo.combo_dance.name %>
      <% end %>
      <% if @start %>
      <span class="text-base text-slate-600">- <%= @start[number]&.strftime("%-I:%M %P") %></span>
      <% end %>
    </td>
  </tr>
  </thead>
  <tbody>
  <% heats.each_with_index do |heat, index| %>
  <% next if heat.number <= 0 %>
    <% if ballroom == 'A' and (
      (ballrooms == 2 and heat.entry.lead.type == 'Student') or
      (ballrooms == 3 and index >= heats.length/2 ))
        ballroom = 'B'
       end %>
  <tr>
    <% if heat.category == 'Solo' %>
    <td></td>
    <% else %>
    <td class="px-2 text-center"><%= heat.entry.lead.back %>
    <% end %>
    <%
      if @event.column_order == 1 or heat.entry.lead.type == 'Student'
        p1, p2 = heat.entry.lead, heat.entry.follow
      else
        p1, p2 = heat.entry.follow, heat.entry.lead
      end
    %>
    <td class="px-2 border-x" data-index><%= p1.display_name %> - <%= p2.display_name %>
    <% if heat.category == 'Solo' %>
    <% heat.solo.formations.each do |formation| %>
    <% next unless formation.on_floor %>
    - <%= formation.person.display_name %>
    <% end %>
    <% end %>
    <td class='px-2 text-center'><%= ballroom %>
  </tr>
  <% end %>
  </tbody>
  <% end %>
</table>
</div>

<ul class='flex mx-auto' data-heat-search-target="nav">
<li><div class="border p-2" rel="prev">Previous</div></li>
<li class="mx-4"><div class="border p-2">1</div></li>
<li><div class="border p-2" rel="next">Next</div></li>
</ul>
</div>
