<div class='h-screen flex flex-col w-full' data-controller="heat-search">

<div class='flex flex-col'>
  <%= turbo_stream_from 'current-heat' %>
  <div class='bg-orange-300 text-center text-3xl'>Current: 
    <span class='text-sky-500 font-bold'>
      <%= render partial: 'event/heat', locals: {event: @event} %>
    </span>
  </div>

  <div class='text-center my-2'>
    Search:
    <input class='border' data-heat-search-target="input">
  </div>
</div>

<div class="flex flex-1 w-screen overflow-y-auto">
<table class="w-full table-auto">
  <% @heats.each do |number, heats| %>
  <thead>
  <tr class="bg-slate-200">
    <td colspan="3" class='px-4 py-2 font-bold text-xl'>
      <span class='text-sky-500'><%= number %></span>:
      <%= heats.first.category %>
      <%= heats.first.dance.name %>
    </td>
  </tr>
  </thead>
  <tbody>
  <% heats.each do |heat| %>
  <tr>
    <!-- td class='border-r text-green-400 text-center py-2'>&#x2B24;</td> -->
    <td class="px-2 text-center"><%= heat.entry.lead.back %>
    <td class="px-2 border-x" data-index><%= heat.entry.lead.display_name %>
    - <%= heat.entry.follow.display_name %>
    <td class='px-2 text-center'><%= heat.category == 'Solo' ? '-' : heat.ballroom %>
  </tr>
  <% end %>
  </tbody>
  <% end %>
</table>
</div>

<ul class='flex mx-auto' data-heat-search-target="nav">
<li><div class="border p-2" rel="prev">Previous</div></li>
<li class="mx-4"><div class="border p-2">1</div></li>
<li><div class="border p-2" rel="next">Next</div></li>
</ul>
</div>
