<%= form_with(model: person, class: "contents", id: 'person-form', data: {
  controller: "person person-questions",
  person_questions_person_id_value: person.id,
  person_questions_url_value: get_questions_people_path,
  id: JSON.dump(person.id)
}) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

    <% if person.type == 'Professional' && person.errors.any? {|error| error.full_message.include? "Name has already been taken"} %>
    <div>
      <ul class="info-box block">
        <% pair = Person.find_by_name(@person.name) %>
        <li>
          <b>Tip</b>: You can enable instructors to dance with students from different studios by pairing the studios.
          Edit the <%= link_to person.studio.name, edit_studio_path(person.studio), class: "x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium" %> studio
          <% if pair %>
          and select <%= pair.studio.name %> from the "pair" dropdown.
          <% end %>
        </li>
      </ul>
    </div>
    <% end %>
  <% end %>

  <% if @source == 'settings' %>
  <input type="hidden" name="source" value="settings">
  <% end %>

  <% if @return_to %>
  <input type="hidden" name="return_to" value="<%= @return_to %>">
  <% end %>

  <% if person.id and %w(Student Professional).include? person.type %>
  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li class="text-red-600 font-bold">Removing a person will delete any heats and scores that have been entered for that individual.
  </ul>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'last, first', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <% if @person.studio %>
  <div class="my-5">
    <%= form.label :studio_id %>
    <%= form.select :studio_id, @studios, {}, 'data-person-target' => 'studio',
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% else %>
  <input type="hidden" name="person[studio_id]" value="0" data-person-target="studio">
  <% end %>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.select :type, @types, {}, 'data-person-target' => 'type',
      'data-action' => 'person#setType', 'data-url' => type_people_path,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @include_independent_instructors %>
  <div class="my-5" data-person-target="independent">
    <%= form.label :independent %>
    <%= form.check_box :independent, class: "entry-count block h-10" %>
  </div>
  <% end %>

  <div class="my-5" data-person-target="level">
    <%= form.label :level_id %>
    <%= form.select :level_id, @levels, {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @track_ages %>
  <div class="my-5" data-person-target="age">
    <%= form.label :category, 'Age' %>
    <%= form.select :age_id, @ages, {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <div class="my-5" data-person-target="role">
    <%= form.label :role %>
    <%= form.select :role, @roles, {}, 'data-action' => 'person#setRole',
     class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="my-5" data-person-target="back">
    <%= form.label :back, 'Back Number' %>
    <%= form.number_field :back, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5" data-person-target="exclude">
    <%= form.label :exclude_id, 'Avoid scheduling the same time as' %>
    <%= form.select :exclude_id, @exclude, {include_blank: true},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if !(@packages+@options).empty? and %w(Student Guest Franchisee Studio\ Staff).include?(@person.type) %>
  <div class="my-5" data-person-target="invoice_to">
    <%= form.label :invoice_to_id, 'Invoice to' %>
    <%= form.select :invoice_to_id, @invoiceable, {include_blank: true},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <% if @event.heat_order == "R" || @event.heat_order == "A" %>
  <div class="my-5" data-person-target="availability" data-controller="date-range">
    <%= form.label :availability %>
    <div class="grid grid-cols-3 gap-4">
      <%= select_tag "avail_direction", options_for_select({"entire event" => "*", "before" => "<", "after" => ">"}, @avail_direction), class: "col-span-3 min-w-36 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= select_tag "avail_date", options_for_select(@date_range, @avail_date), class: "text-center min-w-36 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <input type="time" id="avail_time" name="avail_time" value="<%= @avail_time %>" class="block col-span-2 text-center shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
    </div>
  </div>
  <% end %>

  <% if @tables %>
  <div class="my-5" data-person-target="table">
    <%= form.label :table_id, "Table" %>
    <%= form.select :table_id, @tables, {include_blank: "No table assigned"}, 
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <%= render partial: 'package', locals: { person: person } %>
  <%= render partial: 'options', locals: { form: form } %>
  <%= render partial: 'questions', locals: { form: form } %>
<% end %>
