<% if person %>
<table class="" style="break-after: page">
  <thead>
  <tr>
    <td colspan="6" class="font-bold pt-8 text-3xl pb-5" >
      <%= person.name %>
      <% if person.back %>
      # <%= person.back %>
      <% end %>
      <span class="font-normal text-base float-right text-right">
        <%= person.studio.name %><br>
        <%= @event.name %>
      </span>
    </td>
  </tr>
  <tr>
    <% if @start %>
    <td class="row-head">Time
    <% end %>
    <td class="row-head">Heat
    <td class="row-head">Partner
    <td class="row-head">Dance
    <td class="row-head">Type
    <td class="row-head">Category
  </tr>
  </thead>
  <tbody>
  <% day = @start && @start.compact.min.day %>
  <% heatlist = @heatlist[person] %>
  <% @heats.each do |number, heats| %>
  <% heats.each do |heat| %>
    <% next unless heatlist.include? heat.id %>
    <% if @start && @start[number]&.day != day %>
    <tr>
    <td colspan="6" class="p-1">
    </tr>
    <tr>
    <td colspan="6" class="p-1 border-solid border-t-2 border-gray-400">
    </tr>
    <% day = @start[number]&.day %>
    <% end %>
    <% ballrooms = heat.dance_category&.ballrooms || @ballrooms %>
    <tr class="text-sm">
      <% if @start %>
      <td class="text-right pr-4"><%= @start[number]&.strftime("%-I:%M") %></td>
      <% end %>
      <td class="text-center"><%= heat.number %>
      <% if heat.entry.lead != person %>
      <td><div class="mx-4"><%= link_to heat.entry.lead.display_name, heat.entry.lead %></div>
      <% elsif heat.entry.follow != person %>
      <td><div class="mx-4"><%= link_to heat.entry.follow.display_name, heat.entry.follow %></div>
      <% end %>
      <% if ballrooms == 2 %>
      - <%= heat.lead.type == 'Student' ? 'B' : 'A' %>
      <% elsif ballrooms == 3 %>
      - <%= heats.index(heat) >= heats.length/2 ? 'B' : 'A' %>
      <% end %>
      <td><div class="mx-4"><%= heat.dance.name %></div>
      <td><div class="mx-4"><%= heat.category %>
      <td class="text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<% end %>

<% if person == nil or (person&.type == 'Professional' and not person.instructor_entries.empty?) %>
<table class="" style="break-after: page">
  <thead>
  <tr>
    <td colspan="6" class="font-bold pt-8 text-3xl pb-5" >
      <% if person %>
      <%= person.name %> - Couples
      <% else %>
      <%= @studio.name %>
      <% end %>
      <span class="font-normal text-base float-right text-right">
        <% if person %>
        <%= person.studio.name %>
        <% end %>
        <%= @event.name %>
      </span>
    </td>
  </tr>
  <tr>
    <% if @start %>
    <td class="row-head">Time
    <% end %>
    <td class="row-head">Heat
    <td class="row-head">Type
    <td class="row-head">Dance
    <% if person %>
    <td class="row-head">Students
    <% else %>
    <td class="row-head">Lead
    <td class="row-head">Follow
    <% end %>
    <td class="row-head">Category
  </tr>
  </thead>
  <tbody>
  <% heatlist = @heatlist[person] %>
  <% @heats.each do |number, heats| %>
  <% heats.each do |heat| %>
    <%  
      if person
        next unless heat.entry.instructor == person 
      else
        next unless heat.entry.subject.studio == @studio
      end
    %>
    <% ballrooms = heat.dance_category&.ballrooms || @ballrooms %>
    <tr class="text-sm">
      <% if @start %>
      <td class="text-right pr-4"><%= @start[number]&.strftime("%-I:%M") %></td>
      <% end %>
      <td class="text-center"><%= heat.number %>
      <% if ballrooms == 2 %>
      - <%= heat.lead.type == 'Student' ? 'B' : 'A' %>
      <% elsif ballrooms == 3 %>
      - <%= heats.index(heat) >= heats.length/2 ? 'B' : 'A' %>
      <% end %>
      <td><div class="mx-4"><%= heat.category %>
      <td><div class="mx-4"><%= heat.dance.name %></div>
      <% if person %>
      <td><div class="mx-4"><%= link_to heat.entry.follow.join(heat.entry.lead), heat.entry.follow %></div>
      <% else %>
      <td><div class="mx-4"><%= link_to heat.entry.lead.display_name, heat.entry.lead %></div>
      <td><div class="mx-4"><%= link_to heat.entry.follow.display_name, heat.entry.follow %></div>
      <% end %>
      <td class="text-center"><%= heat.entry.subject_lvlcat(@track_ages) %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<% end %>