<table class="" style="break-after: page">
  <thead>
  <tr>
    <td colspan="6" class="font-bold pt-8 text-3xl pb-5" >
      <%= person.name %>
      <span class="font-normal text-base float-right">
        <%= @event.name %>
      </span>
    </td>
  </tr>
  <tr>
    <% if false # @start %>
    <td class="row-head">Time
    <% end %>
    <td class="row-head">Heat
    <td class="row-head">Type
    <td class="row-head">Dance
    <td class="row-head">Partner
    <td class="row-head">Level
    <td class="row-head">Category
  </tr>
  </thead>
  <tbody>
  <% heatlist = @heatlist[person] %>
  <% @heats.each do |number, heats| %>
  <% heats.each do |heat| %>
    <% next unless heatlist.include? heat.id %>
    <tr class="text-sm">
      <% if false # @start %>
      <td class="text-center"><%= @start[number]&.strftime("%-I:%M") %></td>
      <% end %>
      <td class="text-center"><%= heat.number %>
      <% if @ballrooms == 2 %>
      - <%= heat.lead.type == 'Student' ? 'B' : 'A' %>
      <% end %>
      <td><div class="mx-4"><%= heat.category %>
      <td><div class="mx-4"><%= heat.dance.name %></div>
      <% if heat.entry.lead != person %>
      <td><div class="mx-4"><%= link_to heat.entry.lead.display_name, heat.entry.lead %></div>
      <% elsif heat.entry.follow != person %>
      <td><div class="mx-4"><%= link_to heat.entry.follow.display_name, heat.entry.follow %></div>
      <% end %>
      <td><%= heat.entry.level.name %>
      <td class="text-center"><%= heat.entry.subject_category %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>