<div <% unless @options.empty? %>class="my-5"<% end %> data-controller="check-number" id="options-select">
<% unless @options.empty? %>
  <%= label_tag :person_options, 'Options' %>
  <ul class="mb-8">
  <% @options.each do |option| %>
  <li>
    <% field = "person[options][#{option.id}]"
       value = @person_options[option].to_i %>
    <% if @package_options.include? option %>
    <%= check_box_tag "person[options][#{option.id}]", '1', true, class: "entry-count h-10 opacity-70", disabled: true %>
    <% elsif value <= 1 %>
    <input name="person[options][<%= option.id %>]" type="hidden" value="0" autocomplete="off">
    <%= check_box_tag "#{field}", '1', value > 0, class: "entry-count h-10" %>
    <% else %>
    <input type="text" id="<%= field %>" name="<%= field %>" class="entry-count" value=<%= value %>>
    <% end %>
    <%= option.name %>
  </li>
  <% end %>
  </ul>
  <% end %>
  </div>