<% unless scores.empty? %>
<table>
<caption class="text-left font-bold pt-8 text-3xl pb-5">Scores</caption>

<thead>
<th class="row-head">Dance</th>
<% score_range.each do |score| %>
  <% if score_bgcolor.include? score %>
  <th class="row-head bg-slate-200"><%= score %>
  <% else %>
  <th class="row-head"><%= score %>
  <% end %>
<% end %>
</thead>

<tbody>
<% dances.each do |dance, partners| %>
  <% values = scores[dance.id] %>
  <% next unless values %>
  <tr>
    <td class="row"><%= dance.name %>
    <% score_range.each do |score| %>
    <% if score_bgcolor.include? score %>
    <td class="row text-right px-4 bg-slate-200"><%= values[score] || '' %></td>
    <% else %>
    <td class="row text-right px-4"><%= values[score] || '' %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<% end %>