<% # Only show scores table for letter grade scoring, not feedback scoring %>
<% unless scores.empty? || %w(+ & @).include?(Event.current.open_scoring) %>
<table>
<caption class="text-left font-bold pt-8 text-3xl pb-5">Scores</caption>

<thead>
<th class="row-head">Dance<% Event.current.student_judge_assignments? ? '/Category' : '' %></th>
<% score_range.each do |score| %>
  <% if score_bgcolor.include? score %>
  <th class="row-head bg-slate-200"><%= score %>
  <% else %>
  <th class="row-head"><%= score %>
  <% end %>
<% end %>
</thead>

<tbody>
<% # Show per-heat scores (dances) %>
<% dances.each do |dance, partners| %>
  <% values = scores[dance.id] %>
  <% next unless values %>
  <tr>
    <td class="row"><%= dance.name %>
    <% score_range.each do |score| %>
    <% if score_bgcolor.include? score %>
    <td class="row text-right px-4 bg-slate-200"><%= values[score] || '' %></td>
    <% else %>
    <td class="row text-right px-4"><%= values[score] || '' %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>

<% # Show category scores %>
<% if defined?(@categories) && @categories %>
  <% @categories.each do |cat_id, category| %>
    <% values = scores[-cat_id] %>
    <% next unless values %>
    <tr class="bg-blue-50">
      <td class="row"><%= category.name %>
      <% score_range.each do |score| %>
      <% if score_bgcolor.include? score %>
      <td class="row text-right px-4 bg-slate-200"><%= values[score] || '' %></td>
      <% else %>
      <td class="row text-right px-4"><%= values[score] || '' %></td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
<% end %>