<% judge_ids = @judges.map(&:id) %>
<table style="break-before: page; width: 95%">
  <thead>
    <tr>
      <td colspan="11" class="font-bold pt-8 text-3xl pb-5" >
        <%= person.name %>
        <span class="font-normal text-base float-right">
          <%= @event.name %>
        </span>
      </td>
    </tr>
    <tr>
      <td class="row-head">Heat
      <% if @heats.any? {|heat| heat.scores.any? {|score| score.value}} %>
      <td class="row-head" colspan="<%= [@judges.length, 1].max %>">Scores
      <% end %>
      <td class="row-head">Dance
      <td class="row-head">Partner
      <td class="row-head" colspan="3">Cat/Lvl
    </tr>
  </thead>
  <tbody>
    <% @heats.each do |heat| %>
    <% next unless [heat.entry.lead, heat.entry.follow].include?(person) or @formations.any? {|id, number| id == person.id && number == heat.number} %>
    <tr class="text-sm">
      <td class="text-center"><%= heat.number %>
      <% if @judges.empty? %>
      <td></td>
      <% elsif heat.category == 'Open' and @event.open_scoring == '+' %>
      <% if @heats.any? {|heat| heat.scores.any? {|score| score.value}} %>
      <td colspan="<%= [@judges.length, 1].max %>"></td>
      <% end %>
      <% elsif @heats.any? {|heat| heat.scores.any? {|score| score.value}} %>
      <% judge_ids.each do |judge| %>
        <td class="text-center"><%= heat.scores.select {|score| score.judge_id == judge}.sort_by(&:slot).map(&:value).join(' ') %>
      <% end %>
      <% end %>
      <td><div class="mx-4"><%= heat.category %> <%= heat.dance.name %></div>
      <% if @formations.any? {|id, number| number == heat.number} %>
      <td><ul>
      <% ids = (@formations.select {|id, number| number == heat.number}.map(&:first) + [heat.entry.lead_id, heat.entry.follow_id]) - [person.id]
      Person.where(id: ids).order(:name).each do |dancer| %>
      <li><div class="mx-4"><%= link_to dancer.display_name, dancer %></div>
      <% end %>
      </ul></td>
      <% else %>
      <% if heat.entry.lead != person %>
      <td><div class="mx-4"><%= link_to heat.entry.lead.display_name, heat.entry.lead %></div>
      <% end %>
      <% if heat.entry.follow != person %>
      <td><div class="mx-4"><%= link_to heat.entry.follow.display_name, heat.entry.follow %></div>
      <% end %>
      <% end %>
      <% lvlcat = heat.entry.subject_lvlcat.split(/\s*-\s*/) %>
      <td class="pl-4 text-right"><%= lvlcat[0] %>
      <td class="pl-1">- <%= lvlcat[1] %>
      <% if @track_ages %>
      - <td class="text-left"><%= lvlcat[2]&.strip %>
      <% end %>
    </tr>
    <% end %>
  </tbody>

  <% commented = @heats.select do |heat| 
      next unless [heat.entry.lead, heat.entry.follow].include?(person) or @formations.any? {|id, number| id == person.id && number == heat.number}
      next unless heat.scores.any? {|score| score.comments}
      heat.scores.any? {|score| !score.comments.blank?}
    end
  %>
  <% unless commented.empty? %>
  </table>

  <div class="break-inside-avoid">
  <h2 class="text-center py-4 font-bold text-xl"><%= commented.all? {|heat| heat.category == 'Solo'} ? "Solo comments" : "Judge Comments" %></h2>
  <table class="table-auto">
  <thead>
    <tr>
      <td class="row-head">Heat
      <td class="row-head">Comments
    </tr>
  </thead>
  <tbody>

  <% commented.each do |heat| %>
    <% heat.scores.each do |score| %>
    <% next unless score.comments %>
    <tr>
      <td class="text-center"><%= heat.number %>
      <td class="px-2"><%= score.comments %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
  <% end %>
</table>
</div>

<% if %w(+ &).include? @event.open_scoring and @heats.any? {|heat| [heat.entry.lead, heat.entry.follow].include? person and (heat.category == 'Open' || (heat.category == 'Closed' && (@event.heat_range_cat > 0 || @event.closed_scoring == '=')))} %>
<table class="mt-8" style="break-inside: avoid">
  <thead>
    <tr>
      <td class="row-head">Heat
      <td class="row-head" colspan="<%= [@judges.length, 1].max %>">Great Job With
      <td class="row-head" colspan="<%= [@judges.length, 1].max %>">Needs Work On
      <td class="row-head">Dance
      <td class="row-head">Partner
      <!--
      <td class="row-head" colspan="3">Lvl/Cat
      -->
    </tr>
  </thead>
  <tbody>
    <% @heats.each do |heat| %>
    <% next unless [heat.entry.lead, heat.entry.follow].include? person %>
    <% next unless heat.category == 'Open' || (heat.category == 'Closed' && (@event.heat_range_cat > 0 || @event.closed_scoring == '=')) %>
    <tr class="text-sm">
      <td class="text-center"><%= heat.number %>
      <% if @judges.empty? %>
      <td></td>
      <% else %>
      <% judge_ids.each do |judge| %>
        <td class="text-left" class="ml-4"><span class="ml-2"><%= heat.scores.select {|score| score.judge_id == judge}.sort_by(&:slot).map(&:good).join(' | ') %></span>
      <% end %>
      <% judge_ids.each do |judge| %>
        <td class="text-left bg-gray-200"><span class="ml-2"><%= heat.scores.select {|score| score.judge_id == judge}.sort_by(&:slot).map(&:bad).join(' | ') %></span>
      <% end %>
      <% end %>
      <td><div class="mx-4"><%= heat.category %> <%= heat.dance.name %></div>
      <% if heat.entry.lead != person %>
      <td><div class="mx-4"><%= link_to heat.entry.lead.display_name, heat.entry.lead %></div>
      <% end %>
      <% if heat.entry.follow != person %>
      <td><div class="mx-4"><%= link_to heat.entry.follow.display_name, heat.entry.follow %></div>
      <% end %>
      <!--
      <% lvlcat = heat.entry.subject_lvlcat.split(/\s*-\s*/) %>
      <td class="pl-4 text-right"><%= lvlcat[0] %>
      <td class="pl-1">- <%= lvlcat[1] %>
      <% if @track_ages %>
      - <td class="text-left"><%= lvlcat[2].strip %>
      <% end %>
      -->
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
  <td colspan="<%= 3 + @judges.length*2 %>">
  <h2 class="mt-4 ml-4 font-bold">Legend:</h2>
  <table class="ml-8 w-full">
  <% if @event.open_scoring == '+' %>
    <tr>
      <td><abbr>DF</abbr>: <span>Dance Frame</span></td>
      <td><abbr>T</abbr>: <span>Timing</span></td>
      <td><abbr>LF</abbr>: <span>Lead/&ZeroWidthSpace;Follow</span></td>
      <td><abbr>CM</abbr>: <span>Cuban Motion</span></td>
      <td><abbr>RF</abbr>: <span>Rise & Fall</span></td>
    </tr>
    <tr>
      <td><abbr>FW</abbr>: <span>Footwork</span></td>
      <td><abbr>B</abbr>: <span>Balance</span></td>
      <td><abbr>AS</abbr>: <span>Arm Styling</span></td>
      <td><abbr>CB</abbr>: <span>Contra-Body</span></td>
      <td><abbr>FC</abbr>: <span>Floor Craft</span></td>
    <tr>
  <% else %>
    <tr>
      <td><abbr>F</abbr>: <span>Frame</span></td>
      <td><abbr>P</abbr>: <span>Posture</span></td>
      <td><abbr>FW</abbr>: <span>Footwork</span></td>
      <td><abbr>LF</abbr>: <span>Lead/&ZeroWidthSpace;Follow</span></td>
      <td><abbr>T</abbr>: <span>Timing</span></td>
      <td><abbr>S</abbr>: <span>Styling</span></td>

    <tr>
  <% end %>
    </table>
  </td>
  </tr>
  </tfoot>
</table>


<% end %>
