<% if solos.length > 0 %>
<% solos.group_by {|solo| solo.solo.category_override_id ? 'Routine' : 'Solo'}.each do |type, solo_list| %>

<table id="<%= type.downcase %>s">
<caption class="text-left font-bold pt-8 text-3xl pb-5"><%= type %>s</caption>

<% instructor = solo_list.any? do |heat| 
  not heat.solo.instructors(person).empty?
end %>

<thead>
  <th>dance</th>
  <th>partner</th>
  <% if instructor %>
  <th>instructor</th>
  <% end %>
  <th>level</th>
  <% if track_ages %>
  <th>age</th>
  <% end %>
</thead>

<tbody>
  <% solo_list.each do |heat| %>
    <% entry = heat.entry %>
      <% if heat.number < 0 %>
      <tr class="group line-through opacity-50">
      <% else %>
      <tr class="group">
      <% end %>
        <% if heat.solo.combo_dance %>
        <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %></td>
        <% else %>
        <td class="row"><%= heat.dance.name %></td>
        <% end %>

        <td class="row">
        <% heat.solo.partners(person).each_with_index do |partner, index| %>
        <% if index != 0%><br><% end %>
        <%= link_to partner.display_name, partner %>
        <% end %>
        </td>

        <% if instructor %>
        <td class="row">
        <% heat.solo.instructors(person).each_with_index do |instructor, index| %>
        <% if index != 0%><br><% end %>
        <%= link_to instructor.display_name, instructor %>
        <% end %>
        </td>
        <% end %>

        <td class="row"><%= entry.level_name %></td>
        <% if track_ages %>
        <td class="row"><%= entry.age.category %></td>
        <% end %>
        <td>
        <form method="get" action="<%= heat.solo.formations.empty? ? edit_solo_path(heat.solo) : edit_formation_path(heat.solo) %>">
        <input type="hidden" name="primary" value="<%= person.id %>">
        <button type="submit" class='group-hover:inline hidden px-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
        </form>
        </td>
      </tr>
  <% end %>
</tbody>
</table>
<% end %>
<% end %>