<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag_dynamic %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    @page {
      size: 8.5in 6.5in;
      margin: 0 0;
      padding: 0;
    }
    </style>
  </head>

  <body>
    
    <% @people.each_with_index do |person, index| %>
    <div class="break-inside-avoid h-screen w-screen">
    <div style="min-height: 25%; background-color: <%= person.type == "Professional" ? 'blue' : 'red' %>; display: flex; justify-content: center; align-items: center">
    <%= image_tag 'arthur-murray-dance-studio.png', style: "height: 20vh" %>
    </div>
    <div style="min-height: 50%; font-size: 50vh; text-align: center; line-height: 50vh; font-weight: bold; font-family: arial"><%= person.back %></div>
    <div style="min-height: 25%; font-size: 10vh; text-align: center; line-height: 25vh"><%= person.display_name %></div>
    <% end %>
  </body>
</html>
