<div class="w-full mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Clicking on a column heading will sort the table by that column.
  </ul>
  </div>

  <h1 class="text-center font-bold text-4xl mb-8"><%= @title || 'People' %></h1>
  
  <table class="table-fixed mx-auto">
  <thead>
    <tr>
      <td class="row-head"><a href="?sort=name">Name
      <% unless @title == 'Students' %>
      <td class="row-head"><a href="?sort=type">Type
      <% end %>
      <% if @people.any? {|person| not person.role.empty?} %>
      <td class="row-head"><a href="?sort=role">Role
      <% end %>
      <% if @people.any? {|person| person.level_id} %>
      <td class="row-head"><a href="?sort=level">Level
      <% end %>
      <% if @people.any? {|person| person.age_id} %>
      <td class="row-head"><a href="?sort=age">Age
      <% end %>
      <td class="row-head"><a href="?sort=studio">Studio
      <td class="row-head"><a href="?sort=heats">Heats
      <% unless @solos.empty? %>
      <td class="row-head"><a href="?sort=solos">Solos
      <% end %>
      <% unless @multis.empty? %>
      <td class="row-head"><a href="?sort=multis">Multis
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td class="row-main"><%= link_to person.name, person %></td>
      <% unless @title == 'Students' %>
      <td class="row"><%= person.type %></td>
      <% end %>
      <% if @people.any? {|person| not person.role.empty?} %>
      <td class="row"><%= person.role %></td>
      <% end %>
      <% if @people.any? {|person| person.level_id} %>
      <td class="row"><%= person.level&.name %></td>
      <% end %>
      <% if @people.any? {|person| person.age_id} %>
      <td class="row text-center"><%= person.age&.description %></td>
      <% end %>
      <td class="row"><%= link_to person.studio&.name || '', person.studio %></td>
      <td class="row text-right"><%= @heats[person.id] %></td>
      <% unless @solos.empty? %>
      <td class="row text-right"><%= @solos[person.id] %></td>
      <% end %>
      <% unless @multis.empty? %>
      <td class="row text-right"><%= @multis[person.id] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
