<div class="w-full mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Clicking on a column heading will sort the table by that column.
  </ul>
  </div>

  <h1 class="text-center font-bold text-4xl mb-4"><%= @title || 'Event Participants' %></h1>

  <% unless @title %>
  <input type="search" name="search" placeholder="search" autofocus data-controller="people-search"
    class="mt-0 mb-4 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mx-auto">
  <% end %>

  <table class="table-fixed mx-auto">
  <thead>
    <tr>
      <td class="row-head"><a href="?sort=name">Name
      <% unless @title == 'Students' %>
      <td class="row-head"><a href="?sort=type">Type
      <% end %>
      <% if @people.any? {|person| not person.role.blank?} %>
      <td class="row-head"><a href="?sort=role">Role
      <% end %>
      <% if @people.any? {|person| person.level_id} %>
      <td class="row-head"><a href="?sort=level">Level
      <% end %>
      <% if @track_ages and @people.any? {|person| person.age_id} %>
      <td class="row-head"><a href="?sort=age">Age
      <% end %>
      <td class="row-head"><a href="?sort=studio">Studio
      <% if @people.any? {|person| @heats[person.id]} %>
      <td class="row-head"><a href="?sort=heats">Heats
      <% end %>
      <% unless @solos.empty? %>
      <td class="row-head"><a href="?sort=solos">Solos
      <% end %>
      <% unless @multis.empty? %>
      <td class="row-head"><a href="?sort=multis">Multis
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <% if not person.active? %>
    <tr class="bg-slate-200" title="no entries defined">
    <% else %>
    <tr>
    <% end %>
      <td class="row-main"><%= link_to person.name, person %></td>
      <% unless @title == 'Students' %>
      <td class="row"><%= person.type %></td>
      <% end %>
      <% if @people.any? {|person| not person.role.blank?} %>
      <td class="row"><%= person.role %></td>
      <% end %>
      <% if @people.any? {|person| person.level_id} %>
      <td class="row"><%= person.level&.name %></td>
      <% end %>
      <% if @track_ages and @people.any? {|person| person.age_id} %>
      <td class="row text-center"><%= person.age&.description %></td>
      <% end %>
      <td class="row"><%= link_to person.studio&.name || '', person.studio %></td>
      <% if @people.any? {|person| @heats[person.id]} %>
      <td class="row text-right"><%= @heats[person.id] %></td>
      <% end %>
      <% unless @solos.empty? %>
      <td class="row text-right"><%= @solos[person.id] %></td>
      <% end %>
      <% unless @multis.empty? %>
      <td class="row text-right"><%= @multis[person.id] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
