<div class="mx-auto md:w-2/3 w-full">

  <%= render 'people/info_box', person: @person, event: @event %>

  <%= render 'shared/flash_messages' %>

  <% if show_action_buttons?(@person, @event) %>
    <%= render 'people/action_buttons', person: @person, event: @event, routines: @routines %>
  <% end %>

  <%= render @person %>

  <%= render 'people/student_professional_section', person: @person, heats: @heats, solos: @solos, 
             entries: @entries, partners: @partners, dances: @dances, track_ages: @track_ages, event: @event %>

  <%= render 'people/scores_table', scores: @scores, dances: @dances, 
             score_range: @score_range, score_bgcolor: @score_bgcolor %>

  <%= render 'people/judge_section', person: @person, event: @event,
             disable_judge_assignments: @disable_judge_assignments,
             dancing_judge: @dancing_judge, multi: @multi %>

  <%= render 'people/emcee_dj_section', person: @person %>

  <%= render 'people/bottom_navigation', person: @person, heats: @heats, 
             solos: @solos, scores: @scores, event: @event, routines: @routines %>
</div>