<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @person %>

    <% if %w(Student Professional).include? @person.type %>
    <h2 class="font-bold pt-8 text-3xl pb-5">Entries</h2>

    <table>
      <thead>
      <td></td>
      <% @partners.each do |partner| %>
        <td class="row-head-main">
          <%= link_to partner.name.split(/,\s*/).last, partner %>
        </td>
      <% end %>
      </thead>

      <tbody>
      <% @dances.each do |dance| %>
      <tr>
        <td><%= dance.name %></td>
        <% @partners.each do |partner| %>
          <td class="text-center"><%= @entries[dance][partner] %></td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>

    <h2 class="font-bold pt-8 text-3xl pb-5" id="heats">Heats</h2>

    <table>
      <thead>
        <tr>
          <td class="row-head">Heat
          <td class="row-head">Category
          <td class="row-head">Dance
          <td class="row-head">Lead
          <td class="row-head">Follow
        </tr>
      </thead>
      <tbody>
        <% @heats.each do |heat| %>
        <tr>
          <td class="row"><%= heat.number %>
          <td class="row"><%= heat.entry.category %>
          <td class="row"><%= heat.entry.dance.name %>
          <td class="row"><%= link_to heat.entry.lead.display_name, heat.entry.lead %>
          <td class="row"><%= link_to heat.entry.follow.display_name, heat.entry.follow %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <div class="mt-4 mx-auto">
    <%= link_to 'Edit this person', edit_person_path(@person), class: "btn-blue" %>

    <% if @person.type == 'Student' %>
    <%= link_to 'Add entries', entries_person_path(@person), class: "btn-blue" %>
    <% end %>

    <%= link_to 'Back to studio', @person.studio, class: "btn-green" %>
    </div>
  </div>
</div>
