<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

  <% if @person.type == 'Student' %>
  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>A separate entry form is required for each dance partner, dance level, and age category.
  <li>Editing an existing entry form can be done by hovering over the entry and clicking on the edit button that appears.
  <li>Eding an individual heat can be done by hovering over the heat and clicking on the edit button that appears.  This may be useful
when most dances for an individual are with one instructor but one or two are changed to be with a different instructor.
  </ul>
  </div>
  <% end %>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% if @person.type == "Student" %>
    <%= link_to 'Add heats', new_entry_path(primary: @person), class: "btn-blue float-right" %>
    <%= link_to 'Add solo', new_solo_path(primary: @person), class: "btn-blue float-right" %>
    <% end %>

    <%= render @person %>

    <% if %w(Student Professional).include? @person.type %>

    <% unless @heats.empty? and @solos.empty? %>

    <% if @person.type == 'Student' %>

    <% end %>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5">Entries</caption>

      <% instructor = @entries.any? {|parner, entries| entries.any? {|entry| entry.instructor}} %>

      <thead>
        <th>heats
        <% if @solos.length > 0 %>
        <th>solos
        <% end %>
        <th>partner
        <% if instructor %>
        <th>instructor
        <% end %>
        <th>level
        <th>age
      </thead>

      <tbody>
        <% @entries.each do |partner, entries| %>
          <% entries.each do |entry| %>
            <tr class="group">
              <td class="row text-right"><%= (entry.heats - @solos).length %>
              <% if @solos.length > 0 %>
              <td class="row text-right"><%= (entry.heats & @solos).length %>
              <% end %>
              <td class="row"><%= link_to partner.display_name, partner %>
              <% if instructor %>
              <td class="row"><%= link_to_if entry.instructor_id, entry.instructor&.display_name, entry.instructor %>
              <% end %>
              <td class="row"><%= entry.level.name %>
              <td class="row"><%= entry.age.category %>
              <td>
              <form method="get" action="<%= edit_entry_path(entry) %>">
              <input type="hidden" name="primary" value="<%= @person.id %>">
              <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
              </form>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td class="border-t-2 border-gray-200 row text-right"d><%= @entries.values.flatten.map {|entry| (entry.heats - @solos).length}.sum %>
          <% if @solos.length > 0 %>
          <td class="border-t-2 border-gray-200 row text-right"d><%= @solos.length %>
          <% end %>
          <th colspan="3" class="border-t-2 border-gray-200 row text-center font-bold">total
        </tr>
      </tbody>
    </table>

    <% if @solos.length > 0 %>

    <table>
    <caption class="text-left font-bold pt-8 text-3xl pb-5">Solos</caption>

    <% instructor = @solos.any? {|heat| heat.entry.instructor} %>

    <thead>
      <th>dance
      <th>partner
      <% if instructor %>
      <th>instructor
      <% end %>
      <th>level
      <th>age
    </thead>

    <tbody>
      <% @solos.each do |heat| %>
        <% entry = heat.entry %>
          <tr class="group">
            <% if heat.solo.combo_dance %>
            <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
            <% else %>
            <td class="row"><%= heat.dance.name %>
            <% end %>
            <td class="row"><%= link_to entry.partner(@person).display_name, entry.partner(@person) %>
            <% if instructor %>
            <td class="row"><%= link_to_if entry.instructor_id, entry.instructor&.display_name, entry.instructor %>
            <% end %>
            <td class="row"><%= entry.level.name %>
            <td class="row"><%= entry.age.category %>
            <td>
            <form method="get" action="<%= edit_solo_path(heat.solo) %>">
            <input type="hidden" name="primary" value="<%= @person.id %>">
            <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
            </form>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

    <% end %>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5">Dances</caption>

      <thead>
      <td></td>
      <% @partners.each do |partner| %>
        <td class="row-head-main">
          <%= link_to partner.first_name, partner %>
        </td>
      <% end %>
      </thead>

      <tbody>
      <% @dances.each do |dance, partners| %>
      <tr>
        <td><%= dance.name %></td>
        <% @partners.each do |partner| %>
          <td class="row text-center"><%= partners[partner] %></td>
        <% end %>
      </tr>
      <% end %>
      <tr>
        <th class="border-t-2 border-gray-200 row text-center font-bold">total
        <% @partners.each do |partner| %>
          <td class="border-t-2 border-gray-200 row text-center">
            <%= @entries[partner].map {|entries| entries.heats.size}.sum %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5" id="heats">Heats</caption>

      <thead>
        <tr>
          <td class="row-head">Heat
          <td class="row-head">Type
          <td class="row-head">Dance
          <td class="row-head">Lead
          <td class="row-head">Follow
          <td class="row-head">Level
          <td class="row-head">Category
        </tr>
      </thead>
      <tbody>
        <% @heats.each do |heat| %>
        <tr class="group">
          <td class="row"><%= link_to heat.number, heats_path(anchor: "heat-#{heat.number}")  %>
          <td class="row"><%= heat.category %>
          <% if heat.category == 'Solo' and heat.solo.combo_dance %>
          <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
          <% else %>
          <td class="row"><%= heat.dance.name %>
          <% end %>
          <td class="row"><%= link_to heat.entry.lead.display_name, heat.entry.lead %>
          <td class="row"><%= link_to heat.entry.follow.display_name, heat.entry.follow %>
          <td class="row"><%= heat.entry.level.name %>
          <td class="row text-center"><%= heat.entry.subject_category %>
          <td>
          <% if heat.category == 'Solo' %>
          <form method="get" action="<%= edit_solo_path(heat.solo) %>">
          <% else %>
          <form method="get" action="<%= edit_heat_path(heat) %>">
          <% end %>
          <input type="hidden" name="primary" value="<%= @person.id %>">
          <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
          </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <% end %>

    <% if @person.type == 'Judge' %>
    <div class="mt-4 fmx-auto">
    <%= link_to 'Score heats',  judge_heatlist_path(judge: @person), class: "btn-orange" %>
    </div>
    <div class="mt-4 mx-auto">
    <%= link_to 'Scores by level', by_level_scores_path , class: "btn-pale-green" %>
    <%= link_to 'Scores by age', by_age_scores_path , class: "btn-pale-green" %>
    <%= link_to 'Instructor Scores', instructor_scores_path , class: "btn-pale-blue" %>
    </div>
    <% end %>

    <div class="mt-4 mx-auto">
    <%= link_to 'Edit this person', edit_person_path(@person), class: "btn-blue" %>

    <% if @person.type == 'Student' %>
    <%= link_to 'Add heats', new_entry_path(primary: @person), class: "btn-blue" %>
    <%= link_to 'Add solo', new_solo_path(primary: @person), class: "btn-blue" %>
    <% end %>

    <% if @person.studio %>
    <%= link_to 'Back to studio', @person.studio, class: "btn-green" %>
    <% else %>
    <%= link_to 'Back to settings', settings_event_index_path , class: "btn-green" %>
    <% end %>
    </div>
  </div>
</div>
