<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

  <% if @person.type == 'Student' %>
  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>A separate entry form is required for each dance partner, dance level, and age category.
  <li>Editing an existing entry form can be done by hovering over the entry and clicking on the edit button that appears.
  <li>Eding an individual heat can be done by hovering over the heat and clicking on the edit button that appears.  This may be useful
when most dances for an individual are with one instructor but one or two are changed to be with a different instructor.
  </ul>
  </div>
  <% elsif @person.type == 'Judge' %>
  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Scores may be entered during the heats themselves, shortly thereafter, or even after the event entirely.
  <li>If the scores are entered during the event, the program can be used to tally scores.
  <li>Two methods are provided for entering scores:
  <ul class="ml-8 list-disc list-outside">
  <li><em>Cards</em> visually represent each couple, and scoring is accomplished by moving the cards to areas
  corresponding to the desired score.
  <li><em>Radio</em> shows participants in a tabular form and provides "radio buttons" next to each entry to record a score.
  </ul>
  </ul>
  </div>
  <% end %>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% if @person.type == "Student" %>
    <div class="float-right flex flex-col justify-end">
    <%= up_link 'Add heats', new_entry_path(primary: @person), class: "btn-blue" %>
    <%= up_link 'Add solo', new_solo_path(primary: @person), class: "btn-blue my-2" %>
    <%= up_link 'Add formation', new_formation_path(primary: @person), class: "btn-blue" %>
    <% if @routines %>
    <%= up_link 'Add routine', new_solo_path(primary: @person, routine: true), class: "btn-blue" %>
    <% end %>
    </div>
    <% elsif @person.type == "Professional" and @event.pro_heats %>
    <div class="float-right flex flex-col justify-end">
    <%= up_link 'Add pro heats', new_entry_path(primary: @person), class: "btn-purple" %>
    <%= up_link 'Add pro solo', new_solo_path(primary: @person), class: "btn-purple my-2" %>
    <%= up_link 'Add pro formation', new_formation_path(primary: @person), class: "btn-purple" %>
    </div>
    <% end %>

    <%= render @person %>

    <% if %w(Student Professional).include? @person.type %>

    <% unless @heats.empty? and @solos.empty? %>

    <% if @person.type == 'Student' %>

    <% end %>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5">Entries</caption>

      <% instructor = @entries.any? {|parner, entries| entries.any? {|entry| entry.instructor}} %>

      <thead>
        <th>heats
        <% if @solos.length > 0 %>
        <th>solos
        <% end %>
        <th>partner
        <% if instructor %>
        <th>instructor
        <% end %>
        <th>level
        <% if @track_ages %>
        <th>age
        <% end %>
      </thead>

      <tbody>
        <% @entries.each do |partner, entries| %>
          <% entries.each do |entry| %>
            <% active_heats = entry.active_heats %>
            <% if active_heats.length == 0 %>
            <tr class="group line-through opacity-50">
            <% else %>
            <tr class="group">
            <% end %>
              <td class="row text-right"><%= (active_heats - @solos).length %>
              <% if @solos.length > 0 %>
              <td class="row text-right"><%= (active_heats & @solos).length %>
              <% end %>
              <td class="row"><%= link_to partner.display_name, partner %>
              <% if instructor %>
              <td class="row"><%= link_to_if entry.instructor_id, entry.instructor&.display_name, entry.instructor %>
              <% end %>
              <td class="row"><%= entry.level_name %>
              <% if @track_ages %>
              <td class="row"><%= entry.age_category %>
              <% end %>
              <td>
              <form method="get" action="<%= edit_entry_path(entry) %>">
              <input type="hidden" name="primary" value="<%= @person.id %>">
              <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
              </form>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td class="border-t-2 border-gray-200 row text-right"d><%= @entries.values.flatten.map {|entry| (entry.active_heats - @solos).length}.sum %>
          <% if @solos.length > 0 %>
          <td class="border-t-2 border-gray-200 row text-right"d><%= @solos.length %>
          <% end %>
          <th colspan="5" class="border-t-2 border-gray-200 row text-center font-bold">total
        </tr>
      </tbody>
    </table>

    <% if @solos.length > 0 %>
    <% @solos.group_by {|solo| solo.solo.category_override_id ? 'Routine' : 'Solo'}.each do |type, solos| %>

    <table id="<%= type.downcase %>s">
    <caption class="text-left font-bold pt-8 text-3xl pb-5"><%= type %>s</caption>

    <% instructor = solos.any? do |heat| 
      not heat.solo.instructors(@person).empty?
    end %>

    <thead>
      <th>dance
      <th>partner
      <% if instructor %>
      <th>instructor
      <% end %>
      <th>level
      <% if @track_ages %>
      <th>age
      <% end %>
    </thead>

    <tbody>
      <% solos.each do |heat| %>
        <% entry = heat.entry %>
          <% if heat.number < 0 %>
          <tr class="group line-through opacity-50">
          <% else %>
          <tr class="group">
          <% end %>
            <% if heat.solo.combo_dance %>
            <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
            <% else %>
            <td class="row"><%= heat.dance.name %>
            <% end %>

            <td class="row">
            <% heat.solo.partners(@person).each_with_index do |partner, index| %>
            <% if index != 0%><br><% end %>
            <%= link_to partner.display_name, partner %>
            <% end %>

            <% if instructor %>
            <td class="row">
            <% heat.solo.instructors(@person).each_with_index do |instructor, index| %>
            <% if index != 0%><br><% end %>
            <%= link_to instructor.display_name, instructor %>
            <% end %>
            <% end %>

            <td class="row"><%= entry.level.name %>
            <% if @track_ages %>
            <td class="row"><%= entry.age.category %>
            <% end %>
            <td>
            <form method="get" action="<%= heat.solo.formations.empty? ? edit_solo_path(heat.solo) : edit_formation_path(heat.solo) %>">
            <input type="hidden" name="primary" value="<%= @person.id %>">
            <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
            </form>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% end %>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5">Dances</caption>

      <thead>
      <td></td>
      <% @partners.each do |partner| %>
        <td class="row-head-main">
          <%= link_to partner.first_name, partner %>
        </td>
      <% end %>
      <% if @partners.length > 1 %>
        <td class="row-head-main text-gray-400">Total</td>
      <% end %>
      </thead>

      <tbody>
      <% @dances.each do |dance, partners| %>
      <tr>
        <td><%= dance.name %></td>
        <% @partners.each do |partner| %>
          <td class="row text-center"><%= partners[partner] %></td>
        <% end %>
        <% if @partners.length > 1 %>
        <td class="row text-center"><%= partners.values.sum %></td>
        <% end %>
      </tr>
      <% end %>
      <tr>
        <th class="border-t-2 border-gray-200 row text-center font-bold">total
        <% @partners.each do |partner| %>
          <td class="border-t-2 border-gray-200 row text-center">
            <%= @entries[partner].map {|entries| entries.active_heats.size}.sum %>
          </td>
        <% end %>
        <% if @partners.length > 1 %>
        <td class="border-t-2 border-gray-200 row text-center">
          <%= @entries.values.flatten.map {|entries| entries.active_heats.size}.sum %>
        </td>
        <% end %>
      </tr>
      </tbody>
    </table>

    <table>
      <caption class="text-left font-bold pt-8 text-3xl pb-5" id="heats">Heats</caption>

      <thead>
        <tr>
          <td class="row-head">Heat
          <td class="row-head">Type
          <td class="row-head">Dance
          <% if @person.role != 'Leader' %>
          <td class="row-head">Lead
          <% end %>
          <% if @person.role != 'Follower' %>
          <td class="row-head">Follow
          <% end %>
          <td class="row-head">Level
          <td class="row-head">Category
        </tr>
      </thead>
      <tbody>
        <% @heats.each do |heat| %>
        <% if heat.number < 0 %>
        <tr class="group line-through opacity-50">
        <% else %>
        <tr class="group">
        <% end %>
          <td class="row"><%= link_to heat.number.abs, heats_path(anchor: "heat-#{heat.number}")  %>
          <td class="row"><%= heat.category %>
          <% if heat.category == 'Solo' and heat.solo.combo_dance %>
          <td class="row"><%= heat.dance.name %> / <%= heat.solo.combo_dance.name %>
          <% else %>
          <td class="row"><%= heat.dance.name %>
          <% end %>
          <% if @person.role != 'Leader' %>
          <td class="row"><%= link_to heat.entry.lead.display_name, heat.entry.lead %>
          <% if heat.category == 'Solo' and not heat.solo.formations.empty? %>
          <% heat.solo.formations.each_with_index do |formation, index| %>
          <% if index % 2 == 0 or @person.role == 'Both' %>
          <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <% if @person.role != 'Follower' %>
          <td class="row"><%= link_to heat.entry.follow.display_name, heat.entry.follow %>
          <% if heat.category == 'Solo' and not heat.solo.formations.empty? %>
          <% heat.solo.formations.each_with_index do |formation, index| %>
          <% if index % 2 == 1 or @person.role == 'Both' %>
          <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <td class="row"><%= heat.entry.level_name %>
          <td class="row text-center"><%= heat.entry.subject_category(@track_ages) %>
          <td>
          <% if heat.category == 'Solo' %>
          <form method="get" action="<%= heat.solo.formations.empty? ? edit_solo_path(heat.solo) : edit_formation_path(heat.solo) %>">
          <input type="hidden" name="heat" value="<%= heat.number.abs %>">
          <% else %>
          <form method="get" action="<%= edit_heat_path(heat) %>">
          <% end %>
          <input type="hidden" name="primary" value="<%= @person.id %>">
          <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
          </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <% end %>

    <% unless @scores.empty? %>
    <table>
    <caption class="text-left font-bold pt-8 text-3xl pb-5">Scores</caption>

    <thead>
    <th class="row-head">Dance</th>
    <% @score_range.each do |score| %>
      <% if @score_bgcolor.include? score %>
      <th class="row-head bg-slate-200"><%= score %>
      <% else %>
      <th class="row-head"><%= score %>
      <% end %>
    <% end %>
    </thead>

    <tbody>
    <% @dances.each do |dance, partners| %>
      <% values = @scores[dance.id] %>
      <% next unless values %>
      <tr>
        <td class="row"><%= dance.name %>
        <% @score_range.each do |score| %>
        <% if @score_bgcolor.include? score %>
        <td class="row text-right px-4 bg-slate-200"><%= values[score] || '' %></td>
        <% else %>
        <td class="row text-right px-4"><%= values[score] || '' %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
    <% end %>

    <% if @person.type == 'Judge' %>
    <% if @event.assign_judges > 0 %>
    <div class="mt-4" data-controller="assign-judges" data-present-url=<%= toggle_present_person_path %>>
      <span class="mx-4">On floor?</span>
      <input type='checkbox' name="active" <% if @person.present %>checked <% end %>class="w-6 h-6 mr-3">
    </div>
    <% end %>
    <% sort = @person.judge&.sort || 'back'%>
    <div class="mt-4 mx-auto">
    <% if @event.open_scoring == '#' %>
    <%= link_to 'Score heats', judge_heatlist_path(judge: @person, style: 'radio', sort: sort), class: "btn-purple" %>
    <% else %>
    <%= link_to 'Score heats - cards', judge_heatlist_path(judge: @person, style: 'cards', sort: sort), class: "btn-purple" %>
    <%= link_to 'Score heats - radio', judge_heatlist_path(judge: @person, style: 'radio', sort: sort), class: "btn-purple" %>
    <% end %>
    </div>
    <% if @event.assign_judges > 0 %>
    <div class="mt-4 flex">
    <%= button_to 'Assign judges', assign_judges_person_path(@person), class: "btn-blue" %>
    <%= button_to 'Reset assignments', reset_assignments_person_path(@person), class: "btn-pale-blue" %>
    </div>
    <% end %>
    <div class="mt-4 mx-auto">
    <%= link_to 'Scores by level', by_level_scores_path , class: "btn-pale-green" %>
    <%= link_to 'Scores by age', by_age_scores_path , class: "btn-pale-green" %>
    <% if @multi > 0 %>
    <%= link_to 'Multi Scores', multis_scores_path , class: "btn-pale-green" %>
    <% end %>
    <%= link_to 'Instructor Scores', instructor_scores_path , class: "btn-pale-blue" %>
    </div>
    <% end %>

    <% if @person.type == 'Emcee' %>
    <div class="mt-4 mx-auto">
    <%= link_to 'heats', judge_heatlist_path(judge: @person, style: 'emcee', sort: 'back'), class: "btn-purple" %>
    </div>
    <% end %>

    <% if @person.type == 'DJ' %>
    <div class="mt-4 mx-auto">
    <%= link_to 'Solos', djlist_solos_path, class: "btn-purple" %>
    <%= link_to 'Heats', djlist_heats_path(format: :pdf), class: "btn-blue" %>
    </div>
    <% end %>

    <div class="mt-4 mx-auto">
      <%= up_link 'Edit this person', edit_person_path(@person), class: "btn-blue" %>

      <% if @person.type == 'Student' %>
      <%= up_link 'Add heats', new_entry_path(primary: @person), class: "btn-blue" %>
      <%= up_link 'Add solo', new_solo_path(primary: @person), class: "btn-blue" %>
      <%= up_link 'Add formation', new_formation_path(primary: @person), class: "btn-blue" %>
      <% if @routines %>
      <%= up_link 'Add routine', new_solo_path(primary: @person, routine: true), class: "btn-blue" %>
      <% end %>
    </div>

    <div class="mt-4 mx-auto">
      <% end %>
      <% if %w(Student Professional).include? @person.type %>
      <% unless @heats.empty? and @solos.empty? %>
      <%= link_to 'Heat sheet', heats_person_path(@person, format: :pdf), class: "btn-pale-orange" %>
      <% end %>
      <% unless @scores.empty? %>
      <%= link_to 'Scores', scores_person_path(@person, format: :pdf), class: "btn-pale-orange" %>
      <% end %>
      <% end %>

      <% if @person.studio %>
      <%= link_to 'Back to studio', @person.studio, class: "btn-green" %>
      <% else %>
      <%= link_to 'Back to settings', settings_event_index_path(anchor: 'staff'), class: "btn-green" %>
      <% end %>
    </div>
  </div>
</div>
