<div class="w-screen">
  <table class="mx-auto">
  <thead>
  <tr>
    <th colspan="3" class="font-bold pt-8 text-3xl pb-5" >Professionals</td>
  </tr>
  <tr>
    <th class="row-head">Name
    <th class="row-head">Studio
    <th class="row-head">Back #
  </tr>
  </thead>
  <tbody>
  <% @professionals.each do |person| %>
    <tr>
      <td><div class="mx-4"><%= person.name %>
      <td><div class="mx-4"><%= person.studio.name %>
      <td><div class="mx-4" align="right"><%= person.back %>
    </tr>
  <% end %>
  </tbody>
  </table>

  <% if @staff %>
  <table class="mx-auto break-inside-avoid">
  <thead>
  <tr>
    <th colspan="2" class="font-bold pt-8 text-3xl pb-5" ><%= @staff.name %></td>
  </tr>
  <tr>
    <th class="row-head">Name
    <th class="row-head">Role
  </tr>
  </thead>
  <tbody>
  <% @staff.people.order(:name).each do |person| %>
    <tr>
      <td><div class="mx-4"><%= person.name %>
      <td><div class="mx-4"><%= person.type %>
    </tr>
  <% end %>
  </tbody>
  </table>
  <% end %>
</div>
