<div data-controller="<%= @formation ? 'formation' : 'entry-box' %>">
  <% if @formation and false %>
    <a class="btn-blue ml-auto absolute top-0 right-0 cursor-pointer">Add instructor</a>
  <% end %>

  <% target = (@formation ? 'formation' : 'entry-box') + '-target' %>

  <% if @person %>
  <%= form.hidden_field :primary, value: @person.id, data: {target => 'primary'} %>
  <%= form.select :partner, @avail, {selected: @partner}, data: {target => 'partner', action: 'change->entry-box#reveal'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'partner' %>
  <% else %>
  <%= form.select :primary, @followers, {selected: @partner}, data: {target  => 'primary', action: 'change->entry-box#reveal'},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'primary' %>
  <%= form.select :partner, @leads, {selected: @partner}, data: {target => 'partner', action: 'change->entry-box#reveal'},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'partner' %>
  <% end %>

  <% if @formation %>
   <%= form.select 'formation[1]', @instructors, {selected: @formation[0]}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'instructor' %>
   <%= form.select 'formation[2]', @instructors, {selected: @formation[1]}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'instructor' %>
  <% else %>
  <%= form.select :instructor, @instructors, {selected: @instructor}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'instructor' %>
  <% end %>

  <%= form.select :age, @ages, {selected: @age},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %>

  <%= form.select :level, @levels, {selected: @level},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %></div>
</div>