<div data-controller="<%= @formation ? 'formation' : 'entry-box' %>">
  <% if @formation %>
    <div class="absolute top-0 right-0 flex flex-col">
    <a class="btn-blue ml-auto cursor-pointer w-full"
      data-list="<%= @instructors.to_json %>">Add instructor</a>
    <a class="btn-blue ml-auto cursor-pointer w-full"
      data-list="<%= @students.map {|person| [person.name, person.id]}.to_h.to_json %>">Add student</a>
    </div>
  <% end %>

  <% target = (@formation ? 'formation' : 'entry-box') + '-target' %>

  <% if @person %>
  <%= form.hidden_field :primary, value: @person.id, data: {target => 'primary'} %>
  <%= form.select :partner, @avail, {selected: @partner}, data: {target => 'partner', action: 'change->entry-box#reveal'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'partner' %>
  <% else %>
  <%= form.select :primary, @followers, {selected: @partner}, data: {target  => 'primary', action: 'change->entry-box#reveal'},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'primary' %>
  <%= form.select :partner, @leads, {selected: @partner}, data: {target => 'partner', action: 'change->entry-box#reveal'},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'partner' %>
  <% end %>

  <% if @formation %>
   <% @formation.each_with_index do |instructor, index| %>
   <% if @students.any? {|student| student.id == instructor} %>
   <%= form.select "formation[#{index+1}]", @students.map {|person| [person.display_name, person.id]}, {selected: instructor}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'student' %>
   <% else %>
   <%= form.select "formation[#{index+1}]", @instructors, {selected: instructor}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'instructor' %>
   <% end %>
   <% end %>
  <% else %>
  <%= form.select :instructor, @instructors, {selected: @instructor}, data: {target => 'instructor'},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64", title: 'instructor' %>
  <% end %>

  <% unless @track_ages == false %>
  <%= form.select :age, @ages, {selected: @age},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %>
  <% end %>

  <%= form.select :level, @levels, {selected: @level},
    class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %></div>
</div>