<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h2 class="w-full text-center bg-yellow-400 mb-4"><%= title %></h1>

    <% if @columns %>
    <div style="display: grid; width: 100%; grid-template-columns: repeat(<%= @columns %>, 1fr);  gap: 10px;">
    <% else %>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
    <% end %>
      <% dances.each do |dance| %>
        <% field = "entry[entries][#{category}][#{dance.name}]" %>
        <% if dance.row and dance.col %>
        <div class="my-5 flex flex-row" style="grid-row:<%= dance.row %>; grid-column:<%= dance.col %>">
        <% else %>
        <div class="my-5 flex flex-row">
        <% end %>
          <% value = (@entries[category][dance.name] || []).count {|heat| heat.number >= 0} %>
          <% if value <= 1 %>
          <input name="<%= field %>" type="hidden" value="0" autocomplete="off">
          <input class="entry-count h-10" type="checkbox" value="1" <% if value > 0 %>checked <% end %>name="<%= field %>" id="<%= field %>">
          <% else %>
          <input type="text" id="<%= field %>" name="<%= field %>" class="entry-count" value=<%= value %>>
          <% end %>
          <% if category == 'Multi' -%>
          <label class="mt-1 flex items-center justify-center" for="<%= field %>"><%= h(dance.name).split(' - ').join(' -<br>').html_safe %></label>
          <% else -%>
          <label class="mt-1 flex items-center justify-center" for="<%= field %>"><%= dance.name %></label>
          <% end -%>
        </div>
      <% end %>
    </div>
  </div>
</div>
