<div>
<%= form_with(model: entry, id: 'entry-form', class: "contents", data: {controller: "check-number"}) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mx-auto w-full mb-8 text-center">

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>You can control what dances show up on this list from the <%= link_to 'Dance', dances_path, class: 'x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium' %> page.
<li>Clicking on an empty box will check the box.  Clicking again will uncheck it.  A check represents a single dance.  This makes for quick data
entry in the common case.
<li>Clicking on an empty box and then typing a number will enter that number a the number of heats for that dance.
</ul>
</div>

<% if @next and not @next.empty? %>
<%= form.hidden_field :next, value: @next %>
<% end %>

<%= render partial: 'entries/box', locals: {form: form} %>

<%= render partial: 'entries/dances',
  locals: {form: form, title: 'CLOSED CATEGORY', dances: @dances, category: 'Closed'} %>

<%= render partial: 'entries/dances',
  locals: {form: form, title: 'OPEN CATEGORY', dances: @dances, category: 'Open'} %>

<% unless @multis.empty? %>
<%= render partial: 'entries/dances',
  locals: {form: form, title: 'MULTI CATEGORY', dances: @multis, category: 'Multi'} %>
<% end %>
<% end %>

<div class="mx-auto grid grid-cols-3 gap-x-1">
  <input type="submit" class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" form="entry-form"
    value="<%= (entry.persisted? ? 'Update' : 'Create') + ' Entry' %>">
  <% if entry.id %>
  <% if entry.heats.any? {|heat| heat.number < 0} %>
  <%= up_link 'Restore this entry', entry_path(entry), class: 'text-center btn-grey h-full my-0',
    method: :delete, params: {primary: @person} %>
  <% elsif entry.heats.any? {|heat| heat.number > 0} %>
  <%= up_link 'Scratch this entry', entry_path(entry), class: 'text-center btn-grey h-full my-0',
    method: :delete, params: {primary: @person} %>
  <% else %>
  <%= up_link 'Remove this entry', entry_path(entry), class: 'text-center btn-grey h-full my-0',
    method: :delete, params: {primary: @person}, form: { data: { turbo_confirm: 'Are you sure?' }} %>
  <% end %>
  <% end %>
  <%= link_to 'Back to student', @person, class: "text-center ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
</div>