<%= form_with(model: entry, class: "contents") do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mx-auto w-full mb-8 text-center">
<%= form.hidden_field :primary, value: @person.id %>
<div><%= form.select :partner, @avail, {selected: @partner},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %></div>
<div><%= form.select :age, @ages, {selected: @age},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %></div>
<div><%= form.select :level, @levels, {selected: @level},
  class: "mx-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-64" %></div>

</div>

<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h1 class="w-full text-center bg-yellow-400 mb-4">CLOSED CATEGORY</h1>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <% @dances.each do |dance| %>
	<% field = "entries[Closed][#{dance}]" %>
	<div class="my-5">
	  <%= form.text_field field, class: "entry-count", value: @entries['Closed'][dance]&.length %>
	  <%= form.label field, dance %>
	</div>
      <% end %>
    </div>
  </div>
</div>

<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h1 class="w-full text-center bg-yellow-400 mb-4">OPEN CATEGORY</h1>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <% @dances.each do |dance| %>
	<% field = "entries[Open][#{dance}]" %>
	<div class="my-5">
	  <%= form.text_field field, class: "entry-count", value: @entries['Open'][dance]&.length %>
	  <%= form.label field, dance %>
	</div>
      <% end %>
    </div>
  </div>
</div>

<div class="mx-auto flex">
  <div class="mx-auto">
  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% if entry.id %>
  <%= link_to 'Remove this entry', entry_path(entry, primary: @person), class: 'btn-grey',
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back to person', @person, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
<% end %>
