<div class="mx-auto md:w-2/3 w-full">
<div class="mx-auto">
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="flex justify-between items-center">
<h1 class="mx-auto font-bold text-4xl mb-4">Couple Entries</h1>
</div>

<table>
  <thead>
    <th class="row-head">Leader</th>
    <th class="row-head">Follower</th>
    <th class="row-head">Instructor</th>
    <th class="row-head">Level</th>
    <th class="row-head">Age</th>
  </thead>
<% @entries.each do |entry| %>
  <tr class="group">
    <td class="row"><%= link_to entry.lead.name, entry.lead %></td>
    <td class="row"><%= link_to entry.follow.name, entry.follow %></td>
    <td class="row"><%= link_to_if entry.instructor, entry.instructor&.name, entry.instructor %></td>
    <td class="row"><%= entry.level.name %></td>
    <td class="row"><%= entry.age.category %></td>
    <td>
    <form method="get" action="<%= edit_entry_path(entry) %>">
    <input type="hidden" name="primary" value="<%= entry.lead_id %>">
    <input type="hidden" name="next" value="<%=couples_entries_path %>">
    <button type="submit" class='group-hover:inline hidden x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium'>Edit</button>
    </form>
  </tr>
<% end %>
</table>


<div class="mt-4 flex justify-between items-center">
<div class="mx-auto">
<%= link_to 'Couples', couples_people_path, class: "btn-green" %>
<%= link_to 'Back to Event', root_path, class: "btn-green" %>
</div>
</div>
</div>
</div>