<div>
<%= form_with(model: solo, id: 'solo-form', class: "contents", data: {turbo: return_to == nil}) do |form| %>
  <% if solo.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(solo.errors.count, "error") %> prohibited this solo from being saved:</h2>

      <ul>
        <% solo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mx-auto w-full mb-8 text-center">
  <%= render partial: 'entries/box', locals: {form: form} %>
  
  <% if @heat or not @person %>
  <div class="my-5">
    <%= form.label :number %>
    <%= form.text_field :number, value: @number, pattern: '^\s*\d+(\.\d+|\d+_)?\s*$',
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.label :dance_id %>
    <%= form.select :dance_id, @dances, {selected: @dance},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :combo_dance_id %>
    <%= form.select :combo_dance_id, @dances, {include_blank: true},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% unless @overrides.blank? %>
  <div class="my-5">
    <%= form.label :category_override_id, 'Category' %>
    <%= form.select :category_override_id, @overrides, {include_blank: false},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.label :song %>
    <%= form.text_field :song, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :artist %>
    <%= form.text_field :artist, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :song_file %>
    <% if solo.song_file.attached? and not Rails.env.test? %>
    <%= link_to 'download', solo.song_file.url, class: 'x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium' %>
    <audio controls preload="auto" style="display: inline">
    <source src=<%= solo.song_file.url %> type=<%= solo.song_file.content_type %>>
    </audio>
    <% end %>
    <%= form.file_field :song_file, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @formation and @person&.type != "Professional" %>
  <div class="my-5">
  <%= form.label :on_floor, 'Instructors' %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :on_floor, 1, checked: @on_floor %> On the dance floor with students
  <li classs="my-2"><%= form.radio_button :on_floor, 0, checked: !@on_floor %> Credit only
  </ul>
  </div>
  <% end %>
</div>
<% end %>

<% if return_to %>
<input type="hidden" name="return-to" value="<%= return_to %>" form="solo-form">
<% end %>

<div class="mx-auto flex">
  <input type="submit" class="btn-blue" form="solo-form"
    value="<%= (solo.persisted? ? 'Update' : 'Create') + ' ' + (@formation ? 'Formation' : (@overrides.blank? ? 'Solo' : 'Routine')) %>">
  <% if solo.id %>
  <% if solo.heat.number < 0 %>
  <%= up_link "Restore this #{@formation ? 'formation' : (@overrides.blank? ? 'solo' : 'routine')}",
    solo_path(solo), class: 'btn-grey', method: :delete, params: {primary: @person} %>
  <% elsif solo.heat.number > 0 %>
  <%= up_link "Scratch this #{@formation ? 'formation' : (@overrides.blank? ? 'solo' : 'routine')}",
    solo_path(solo), class: 'btn-grey', method: :delete, params: {primary: @person} %>
  <% else %>
  <%= up_link "Remove this #{@formation ? 'formation' : (@overrides.blank? ? 'solo' : 'routine')}",
    solo_path(solo), class: 'btn-grey', method: :delete,
    params: {primary: @person}, form: { data: { turbo_confirm: 'Are you sure?' }} %>
  <% end %>
  <% end %>

  <% if return_to %>
  <%= link_to 'Back to solos', return_to, class: "btn-grey" %>
  <% else %>
  <%= link_to 'Back to student', @person, class: "btn-grey" %>
  <% end %>
</div>
</div>
