<div>
<%= form_with(model: solo, id: 'solo-form', class: "contents") do |form| %>
  <% if solo.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(solo.errors.count, "error") %> prohibited this solo from being saved:</h2>

      <ul>
        <% solo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mx-auto w-full mb-8 text-center">
  <%= render partial: 'entries/box', locals: {form: form} %>
  
  <% if @heat or not @person %>
  <div class="my-5">
    <%= form.label :number %>
    <%= form.number_field :number, value: @number,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.label :dance_id %>
    <%= form.select :dance_id, @dances, {selected: @dance},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :combo_dance_id %>
    <%= form.select :combo_dance_id, @dances, {include_blank: true},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :song %>
    <%= form.text_field :song, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :artist %>
    <%= form.text_field :artist, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @formation %>
  <div class="my-5">
  <%= form.label :on_floor, 'Instructors' %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :on_floor, 1, checked: @on_floor %> On the dance floor with students
  <li classs="my-2"><%= form.radio_button :on_floor, 0, checked: !@on_floor %> Credit only
  </ul>
  </div>
  <% end %>
</div>
<% end %>

<div class="mx-auto flex">
  <input type="submit" class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" form="solo-form"
    value="<%= (solo.persisted? ? 'Update' : 'Create') + ' ' + (@formation ? 'Formation' : 'Solo') %>">
  <% if solo.id %>
  <% if solo.heat.number < 0 %>
  <%= up_link "Restore this #{@formation ? 'formation' : 'solo'}",
    solo_path(solo), class: 'text-center btn-grey h-full my-0', method: :delete, params: {primary: @person} %>
  <% elsif solo.heat.number > 0 %>
  <%= up_link "Scratch this #{@formation ? 'formation' : 'solo'}",
    solo_path(solo), class: 'text-center btn-grey h-full my-0', method: :delete, params: {primary: @person} %>
  <% else %>
  <%= up_link "Remove this #{@formation ? 'formation' : 'solo'}",
    solo_path(solo), class: 'text-center btn-grey h-full my-0', method: :delete,
    params: {primary: @person}, form: { data: { turbo_confirm: 'Are you sure?' }} %>
  <% end %>
  <% end %>
  <%= link_to 'Back to student', @person, class: "text-center rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</div>