<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:12.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoIntenseQuote, li.MsoIntenseQuote, div.MsoIntenseQuote
	{mso-style-link:"Intense Quote Char";
	margin-top:.25in;
	margin-right:.6in;
	margin-bottom:.25in;
	margin-left:.6in;
	text-align:center;
	border:none;
	padding:0in;
	font-size:14.0pt;
	font-family:"Times New Roman",serif;
	color:black;
	font-weight:bold;}
span.IntenseQuoteChar
	{mso-style-name:"Intense Quote Char";
	mso-style-link:"Intense Quote";
	font-family:"Times New Roman",serif;
	color:black;
	font-weight:bold;}
.MsoChpDefault
	{font-size:12.0pt;
	font-family:"Calibri",sans-serif;}
div.WordSection1
	{margin-left: 0.1in; page:WordSection1;}
.label1, .label2, .label3 {
	font-size: 14.0pt;
	font-family:"Times New Roman",serif;
	display: inline-block;
}
.label1, .label2 {
	min-width: 1in;
}
.label2 {
	margin-left: 0.6in;
}
.label3 {
	min-width: 4.5in;
}
.value {
	display: inline-block;
	min-width: 2in;
}
.right {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  max-width: 3in;
  justify-content: center;
}
-->

tbody {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
}

tbody::after {
  content: '';
  display: block;
  margin-bottom: 1.5em;
  page-break-before: auto;
  page-break-after: auto;
}

.page {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  page-break-inside: avoid;
  min-width: 7.5in;
  max-height: 10in;
  min-height: 10in;
}

.page .number {
  position: absolute;
  top: 0;
  right: 0;
}

.page .rotate {
  position: absolute;
  top: 0.5in;
  left: 1in;
  font-size: 40px;
  transform: rotate(-30deg);
  font-weight: bold;
  -webkit-text-stroke: 0.5px #4338CA;
  text-stroke: 0.5px #4338CA;
  font-family: 'Bevan Regular';
}

.page .rotate-shadow {
  position: absolute;
  opacity: 75%;
  color: #AAA;
  top: 0.8in;
  left: 1.35in;
  font-size: 20px;
  transform: rotate(-30deg);
  text-shadow: #000 0 0 3px;
}

.page header {
}

.page .content {
  overflow-y: hidden;
}

.page footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

@page :right {
  margin-left: 1cm;
  margin-right: 1.5cm;
}

@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;
}
</style>

<% @judges.each do |judge| %>
<% @solos.each do |category, heats| %>
<% heats.each do |heat| %>
<%
subject = heat.entry.subject
partner = heat.entry.partner(subject)

if partner.type == "Student"
  student = subject.join(partner)
  teacher = heat.entry.instructor.display_name
else
  student = subject.display_name
  teacher = partner.display_name
end
%>
<div class="WordSection1 page">

<p class=MsoNormal align=center style='text-align:center'><span
style='position:absolute;z-index:251659264;right:0px;margin-right:20px;
margin-top:9px;width:268px;height:57px'>Solo # <%= heat.number %></span>
<%= image_tag showcase_logo, style: "height: 100px", class: 'mx-auto' %></p>

<p class=MsoNormal align=center style='text-align:center;margin: 0.3in'><span
style='font-size:22.0pt;font-family:"Times New Roman",serif'><%=
@event.name %></span></p>

<div style='border-top:double black 1.5pt;border-left:none;border-bottom:double black 1.5pt;
border-right:none;padding:0in'>

<p class=MsoIntenseQuote style='margin-top:.1in;margin-right:0in;margin-bottom:
.1in;margin-left:0in'>ROUTINE SCORING SHEET</p>

</div>

<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal><span class='label1'>Date:</span><span class='value'><%= @event.date %></span><span class='label2'>Student:</span><span class='value'><%= student %></span></p>

<p class=MsoNormal><span class='label1'>Studio:</span><span class='value'><%= heat.entry.subject.studio.name %></span><span class='label2'>Standard:</span><span class='value'><%= heat.entry.level.name %></span></p>

<p class=MsoNormal><span class='label1'>Teacher:</span><span class='value'><%= teacher %></span><span class='label2'>Dance:</span><span class='value'><%= heat.dance.name %><% if heat.solo.combo_dance%>/ <%= heat.solo.combo_dance.name %><% end %></span></p>

<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<div style='border-top:double black 1.5pt;border-left:none;border-bottom:double black 1.5pt;
border-right:none;padding:20.0pt 0in 20.0pt 0in;margin-left:-9.35pt;margin-right:
4.3pt'>

<p class=MsoIntenseQuote align=left style='margin:0px 0px 0px 0.1in;text-align:left'><span class='label3'><span
style='font-weight:normal'>Technique </span><span style='font-size:12.0pt;
font-weight:normal'>(Footwork, Movement &amp; Control)</span></span><span
style='font-weight:normal'>Value (25 points) ___________</span></p>

<p class=MsoIntenseQuote align=left style='margin:15px 0px 0px 0.1in;text-align:left'><span class='label3'><span
style='font-weight:normal'>Execution </span><span style='font-size:12.0pt;
font-weight:normal'>(Physical Skill &amp; General Performance)</span></span><span
style='font-weight:normal'>Value (25 points) ___________</span></p>

<p class=MsoIntenseQuote align=left style='margin:15px 0px 0px 0.1in;text-align:left'><span class='label3'><span
style='font-weight:normal'>Poise </span><span style='font-size:12.0pt;
font-weight:normal'>(Poise, Posture, Hold &amp; Self-Confidence)</span></span><span
style='font-weight:normal'>Value (25 points) ___________</span></p>

<p class=MsoIntenseQuote align=left style='margin:15px 0px 0px 0.1in;text-align:left'><span class='label3'><span
style='font-weight:normal'>Showmanship</span><span style='font-size:12.0pt;
font-weight:normal'> (Entrance, Exit, Style, Personality &amp; Appeal)</span></span><span
style='font-weight:normal'>Value (25 points)</span> ___________</p>

</div>

<p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:16.0pt'>COMMENTS</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<footer>
<div class="right text-xl" style="border-bottom: 2px solid black"><%= judge.display_name %></div>
<div class="right">Adjudicator</div>
</footer>

</div>
<% end %>
<% end %>
<% end %>