<script>
  function audioSourceError(event) {
    const enclosing = event.target.parentNode.parentNode;
    enclosing.style.backgroundColor = "red";
    document.querySelector(".info-box").style.display = "block";
  }
</script>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
    <div class="info-button">&#x24D8;</div>
   
    <ul class="info-box list-none">
    <li class="text-xl mb-4 text-center">Having Trouble?</li>
    <ul class="list-disc ml-4">
    <li>Refresh the page; there may have been wifi issues.</li>
    <li>Try a different browser.  Safari, Chrome, Firefox, and Edge all support different audio formats.</li>
    <li>Try a different site:
    <ul class="mt-2 list-disc ml-4">
    <% prefix = ENV['RAILS_APP_SCOPE'] ? "" : "/" + ENV['RAILS_APP_DB'].sub('-', '/') %>
    <% unless ENV['FLY_REGION'] %>
    <li><a class="underline" href="https://smooth.fly.dev/showcase<%= prefix + djlist_solos_path.sub('/showcase', '') %>">fly.io</a> - Primary cloud host
    <% end %>
    <% unless ENV['RAILS_PROXY_HOST'].to_s.split('.').first == 'hetzner' %>
    <li><a class="underline" href="https://showcase.party<%= prefix + djlist_solos_path.sub('/showcase', '') %>">hetzner</a> - Backup cloud host
    <% end %>
    <% unless ENV['RAILS_PROXY_HOST'].to_s.split('.').first == 'rubix' %>
    <li><a class="underline" href="https://rubix.intertwingly.net/showcase<%= prefix + djlist_solos_path.sub('/showcase', '') %>">rubix</a> - Sam's attic
    <% end %>
    <p class="mt-2">
    <span class="text-red-600 mt-2"><span class="font-bold">Important</span>: never <span class="underline font-bold">update</span> data on multiple hosts or you will lose data.</span>
    For example, all judges should be on the same host; but the emcee could be on a different host.
    </p>
    </ul>
    </ul>
    </ul>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="mx-auto font-bold text-4xl">Solos</h1>
  </div>

  <div class="min-w-full">
  <table class="mt-4 table-auto mx-auto">
  <thead>
    <th class="row-head">Heat
    <th class="row-head">Dance
    <th class="row-head">Song
    <th class="row-head">Lead
    <th class="row-head">Follow
    <th class="row-head">Studio
  </thead>
  <% @heats.each do |heat| %>
    <% next if heat.number <= 0 %>
    <tr class="hover:bg-yellow-200" id="<%= dom_id heat.solo %>">
       <td class="text-center"><div style="line-height: 5rem"><%= heat.number %>
       <td class="row">
       <ul class="list-none">
       <li><% if heat.category == 'Solo' and heat.solo.combo_dance %>
       <%= link_to heat.dance.name, edit_dance_path(heat.dance) %> / 
       <%= link_to heat.solo.combo_dance.name, edit_dance_path(heat.solo.combo_dance) %>
       <% else %>
       <%= link_to heat.dance.name, edit_dance_path(heat.dance) %>
       <% end %></li>
       <% unless heat.solo.song.blank? %><li><%= heat.solo.song %><% end %>
       <% unless heat.solo.artist.blank? %><li><%= heat.solo.artist %><% end %>
       </ul>
       <% if heat.solo.song_file.attached? %>
       <td>
         <audio controls style="display: inline">
           <source src=<%= heat.solo.song_file.url %> type=<%= heat.solo.song_file.content_type %> onerror="audioSourceError(event)">
         </audio>
       <% else %>
       <td class="bg-red-200">
       <% end %>
       <td class="row"><%= link_to heat.lead.display_name, polymorphic_path(heat.lead, anchor: 'heats') %>
       <% heat.solo.formations.each_with_index do |formation, index| %>
         <% if index % 2 == 0 and formation.on_floor %>
         <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
         <% end %>
       <% end %>
       <td class="row"><%= link_to heat.follow.display_name, polymorphic_path(heat.follow, anchor: 'heats') %>
       <% heat.solo.formations.each_with_index do |formation, index| %>
         <% if index % 2 == 1 and formation.on_floor %>
         <br><%= link_to formation.person.display_name, polymorphic_path(formation.person, anchor: 'heats') %>
         <% end %>
       <% end %>
       <td class="row"><%= link_to heat.studio.name, heat.studio %>
    </tr>
  <% end %>
  </table>
</div>

</div>