<% content_for :head do %>
  <%= stylesheet_link_tag "dictaphone", "data-turbo-track": "reload" %>
<% end %>

<div class="flex flex-col h-screen max-h-screen w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="grow font-bold text-4xl pt-1 pb-3 text-center mx-8">
    <%= link_to recording_heat_path(judge: @judge, heat: @number), rel: 'up' do %>
      <span>Heat <%= @number %>:<br class="block sm:hidden"> <%= @dance %>
      <% if @heat&.solo&.combo_dance_id %>
      / <%= @heat.solo.combo_dance.name %>
      <% end %>
      </span>
    <% end %>

    <% if @heat&.dance&.heat_length %>
    <div class="text-2xl font-normal">
    <% if not @heat.dance.semi_finals %>
    Dance <%= @slot %> of <%= @heat.dance.heat_length %>:
    <% elsif !@final %>
    Semi-final <%= @slot %> of <%= @heat.dance.heat_length %>:
    <% else %>
    Final <%= @slot > @heat.dance.heat_length ? @slot - @heat.dance.heat_length : @slot %> of <%= @heat.dance.heat_length %>:
    <% end %>
    <% slots = @heat.dance.multi_children.group_by {|multi| multi.slot} %>
    <% if slots.length > 1 %>
    <%= slots[@slot].sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% elsif slots.values.last&.length == @heat.dance.heat_length %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}[(@slot - 1) % @heat.dance.heat_length].dance.name %>
    <% elsif slots.values.last %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% end %>
    </div>
    <% end %>
  </h1>

  <div class="h-full flex flex-col max-h-[85%] dictaphone-container" data-judge-id="<%= @judge.id %>" data-controller="recordings">
    <div id="main-controls" data-turbo-permanent>
      <section class="main-controls" data-turbo-permanent>
        <canvas class="visualizer" height="60px"></canvas>
        <div class="subject-selector">
          <select id="subject-select" name="subject_id">
            <% @subjects.each do |subject| %>
              <option value="<%= subject.id %>" data-upload-path="<%= upload_recording_path(judge_id: @judge.id, heat_id: subject.id) %>">
                <% if subject.lead.back %>
                  #<%= subject.lead.back %> - 
                <% end %>
                <%= subject.lead.display_name %> & <%= subject.follow.display_name %>
              </option>
            <% end %>
          </select>
        </div>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>
    </div>

    <section class="sound-clips">
      <% @recordings.each do |subject, recording| %>
        <% if recording %>
          <article class="clip" id="<%= dom_id recording %>">
            <audio controls="" src="<%= recording.audio.url %>" preload="none"></audio>
            <p>
              <% if subject.lead.back %>
                #<%= subject.lead.back %> - 
              <% end %>
              <%= subject.entry.lead.display_name %> & <%= subject.entry.follow.display_name %>
            </p>
            <%= button_to "Delete", recording, method: :delete, class: "delete", form_class: 'delete', data: { action: "click->recordings#deleteRecording" } %>
          </article>
        <% end %>
      <% end %>
    </section>
  </div>

  <div class="flex flex-row w-full">
    <div class="align-middle">
      <% if @prev %>
      <%= link_to '<<', @prev, class: 'text-2xl lg:text-4xl', rel: 'prev' %>
      <% end %>
    </div>

    <h1 class="font-bold text-2xl pt-1 pb-3 flex-1 text-center">
      <%= link_to @judge.display_name, person_path(@judge) %>
      <%= link_to root_path do %>
        <%= image_tag showcase_logo, class: "absolute right-4 top-4 h-8" %>
      <% end %>
    </h1>

    <div class="align-middle">
      <% if @next %>
      <%= link_to '>>', @next, class: 'text-2xl lg:text-4xl', rel: 'next' %>
      <% end %>
  </div>
  </div>
</div>