<div class="flex flex-col h-screen max-h-screen w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="grow font-bold text-4xl pt-1 pb-3 text-center mx-8">
    <%= link_to recording_heat_path(judge: @judge, heat: @number), rel: 'up' do %>
      <span>Heat <%= @number %>:<br class="block sm:hidden"> <%= @dance %>
      <% if @heat&.solo&.combo_dance_id %>
      / <%= @heat.solo.combo_dance.name %>
      <% end %>
      </span>
    <% end %>

    <% if @heat&.dance&.heat_length %>
    <div class="text-2xl font-normal">
    <% if not @heat.dance.semi_finals %>
    Dance <%= @slot %> of <%= @heat.dance.heat_length %>:
    <% elsif @slot <= @heat.dance.heat_length %>
    Semi-final <%= @slot %> of <%= @heat.dance.heat_length %>:
    <% else %>
    Final <%= @slot - @heat.dance.heat_length %> of <%= @heat.dance.heat_length %>:
    <% end %>
    <% slots = @heat.dance.multi_children.group_by {|multi| multi.slot} %>
    <% if slots.length > 1 %>
    <%= slots[@slot].sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% elsif slots.values.last&.length == @heat.dance.heat_length %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}[(@slot - 1) % @heat.dance.heat_length].dance.name %>
    <% elsif slots.values.last %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% end %>
    </div>
    <% end %>
  </h1>

  <div class="h-full flex flex-row max-h-[85%]">
    <div class="grow flex flex-col border-2 border-slate-400 overflow-y-auto">
    <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>
    <table class="table-auto border-separate border-spacing-y-1 mx-4">
    <thead>
      <tr>
        <th class="text-left border-b-2 border-black" rowspan="2">Back
        <th class="text-left border-b-2 border-black" rowspan="2">Subject
        <th class="text-left border-b-2 border-black" rowspan="2">Partner
        <th class="text-left border-b-2 border-black" rowspan="2">Category
        <th class="text-left border-b-2 border-black" rowspan="2">Studio
        <th class="text-center border-b-2 border-black" rowspan="2">Recording
      </tr>
    </thead>
    <% lastcat = nil %>
    <% lastassign = true %>
    <% dance = @subjects.first&.dance_id %>
    <% @subjects.each do |subject| %>
      <% assign = @event.assign_judges > 0 && subject.scores.any? {|score| score.judge_id == @judge.id} %>
      <% next if @show == 'only' and not assign %>
      <% if subject.dance_id != dance %>
      <tr><td colspan="10" class="bg-gray-400"></tr>
      <% dance = subject.dance_id %>
      <% end %>
      <% subcat = subject.entry.pro ? 'Pro' : "#{subject.entry.subject_category(@track_ages)} - #{subject.entry.level.initials}" %>
      <% if (@sort == 'level' and lastcat and subcat != lastcat) || (@event.assign_judges > 0 && assign != lastassign && lastcat) %>
      <tr>
        <td class="<% if @sort == 'level' %>h-6<% else %>h-4<% end %>"></td>
      </tr>
      <% end %>
      <% lastcat = subcat %>
      <% lastassign = assign %>
      <% if subject.number > 0 %>
      <tr class="hover:bg-yellow-200" id="<%= dom_id subject %>">
      <% else %>
      <tr class="hover:bg-yellow-200 line-through opacity-50">
      <% end %>
        <% if @event.assign_judges > 0 && assign && @show != 'only' %>
        <td class="<% if @sort != 'level' %>py-2 <% end %>font-bold text-xl"><span class="border-2 border-red-600 px-2 rounded-full"><%= subject.lead.back || '&#9733;'.html_safe %></span>
        <% else %>
        <td class="<% if @sort != 'level' %>py-2 <% end %>text-xl"><%= subject.lead.back %>
        <% end %>
        <% if subject.lead.type == 'Student' %>
        <td><%= subject.follow.display_name %>
        <td><%= subject.lead.display_name %>
        <% else %>
        <td><%= subject.follow.display_name %>
        <td><%= subject.lead.display_name %>
        <% end %>
        <td><% if @combine_open_and_closed and %w(Open Closed).include? subject.category %><%= subject.category %> - <% end %><%= subcat %>
        <td><%= subject.subject.studio.name %>
        <td class="text-center">
          <% if @recordings[subject] %>
            <span class="text-green-600">✓ Recorded</span>
          <% else %>
            <span class="text-gray-400">-</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>

  <div class="flex flex-row w-full">
    <div class="align-middle">
      <% if @prev %>
      <%= link_to '<<', @prev, class: 'text-2xl lg:text-4xl', rel: 'prev' %>
      <% end %>
    </div>

    <h1 class="font-bold text-2xl pt-1 pb-3 flex-1 text-center">
      <%= link_to @judge.display_name, person_path(@judge) %>
      <%= link_to root_path do %>
        <%= image_tag showcase_logo, class: "absolute right-4 top-4 h-8" %>
      <% end %>
    </h1>

    <div class="align-middle">
      <% if @next %>
      <%= link_to '>>', @next, class: 'text-2xl lg:text-4xl', rel: 'next' %>
      <% end %>
  </div>
  </div>
</div>