<div class="mx-auto md:w-2/3 w-full" data-controller="anchored">

<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<h1 id="advanced" class="font-bold text-4xl mb-6">Advanced</h1>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box" style="display: block">
  <li>Ages and Levels let you customize these values for your event.</li>
  <li>Dances may be a more convenient way to bulk add a number of new dances.</li>
  <li>For events that use different levels for freestyles and solos, list the freestyle levels first and indicate what the first level to be used for solos is.</li>

  <% if @reset_ages %>
  <li><span class="btn-orange py-0 px-2 m-0">Reset ages</span> will remove all ages from the entries and heats.</li>
  <% end %>

  <% if @reset_open %>
  <li><span class="btn-orange py-0 px-2 m-0">>Reset open</span> will change all of the Closed heats to Open.</li>
  <% end %>

  <% if @reset_closed %>
  <li><span class="btn-orange py-0 px-2 m-0">Reset closed</span> will change all of the Open heats to Closed.</li>
  <% end %>
  </ul>
</div>


<p class="mb-2">
You normally won't need to adjust these.  <span class="text-red-600 font-bold">Be aware that any ajustments may affect any students
and heats that you have entered so far.</span>
</p>

<%= link_to 'Ages', ages_event_index_path, class: 'btn-grey' %>
<%= link_to 'Levels', levels_event_index_path, class: 'btn-grey' %>
<%= link_to 'Dances', dances_event_index_path, class: 'btn-grey' %>

<% if %w(+).include? @event.open_scoring %>
  <%= link_to 'Feedback', feedbacks_path, class: 'btn-grey' %>
<% end %>

<%= form_with model: @event, id: 'advanced-form' do |form| %>
  <div class="my-5">
    <%= form.label :solo_level_id, "Solo levels start with:" %>
    <%= form.select :solo_level_id, @solo_levels, {include_blank: true},
       class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<% end %>

<div class="mx-auto flex">
  <input type="submit" class="btn-blue" form="advanced-form" value="Save">

  <% if @reset_ages %>
    <%= up_link 'Reset ages', reset_ages_entries_path, class: "btn-orange", method: :post %>
  <% end %>

  <% if @reset_open %>
    <%= up_link 'Reset open', reset_open_heats_path, class: "btn-orange", method: :post %>
  <% end %>

  <% if @reset_closed %>
    <%= up_link 'Reset closed', reset_closed_heats_path, class: "btn-orange", method: :post %>
  <% end %>

  <% if @reset_scores %>
    <%= up_link 'Reset scores', reset_scores_path, class: "btn-orange", method: :post, data: {turbo_confirm: 'Are you sure?'} %>
  <% end %>
</div>

</div>
