<div class="mx-auto md:w-2/3 w-full" data-controller="anchored">

<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>While national events tend to have a predefined set of rules, local and regional events may vary widely in how they are run.
    Use this page to customize your event.
  </li>
  <li>Detailed descriptions of these options can be found in the <a href="../../docs/tasks/Settings" class="text-blue-800 underline">documentation</a>.</li>
  </ul>
</div>

<h1 class="font-bold text-4xl mb-6" id="options">Event Options</h1>

<%= form_with model: @event, data: {turbo: false} do |form| %>

  <% if @event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited these settings from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="my-5">
  <%= form.label :column_order, 'Heat list column order' %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :column_order, 1 %> Lead, Follow
  <li classs="my-2"><%= form.radio_button :column_order, 2 %> Student, Instructor
  (Lead, Follow for Amateur Couples)
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :ballrooms %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :ballrooms, 1 %> One ballroom
  <li classs="my-2"><%= form.radio_button :ballrooms, 2 %> Two ballrooms:
  <ul class="ml-8">
  <li>Ballroom A: Amateur follower with instructor
  <li>Ballroom B: Amateur leader (includes amateur couples)
  </ul>
  <li classs="my-2"><%= form.radio_button :ballrooms, 3 %> Attempt to evenly split couples between ballrooms
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :open_scoring %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :open_scoring, '1' %> 1/2/3/F
  <li class="my-2"><%= form.radio_button :open_scoring, 'G' %> GH/G/S/B
  <li class="my-2"><%= form.radio_button :open_scoring, '#' %> Number (85, 95, ...)
  <li class="my-2"><%= form.radio_button :open_scoring, '+' %> Feedback (Needs Work On / Great Job With)
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :multi_scoring %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :multi_scoring, 1 %> 1/2/3/F
  <li class="my-2"><%= form.radio_button :multi_scoring, 'G' %> GH/G/S/B
  <li class="my-2"><%= form.radio_button :multi_scoring, '#' %> Number (85, 95, ...)
  </ul>
  </div>


  <div class="my-5">
    <%= form.check_box :intermix, class: 'entry-count h-10' %>
    <%= form.label :intermix, 'Intermix dances within category?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :backnums, class: 'entry-count h-10' %>
    <%= form.label :backnums, 'Use back numbers?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :track_ages, class: 'entry-count h-10' %>
    <%= form.label :track_ages, 'Track student ages?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :include_open, class: 'entry-count h-10' %>
    <%= form.label :include_open, 'Include open freestyles?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :include_closed, class: 'entry-count h-10' %>
    <%= form.label :include_closed, 'Include closed freestyles?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :pro_heats, class: 'entry-count h-10' %>
    <%= form.label :pro_heats, 'Include pro heats?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :agenda_based_entries, class: 'entry-count h-10' %>
    <%= form.label :agenda_based_entries, 'Match entry forms to agenda?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :judge_comments, class: 'entry-count h-10' %>
    <%= form.label :judge_comments, 'Enable judge comments?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :assign_judges, class: 'entry-count h-10' %>
    <%= form.label :agenda_based_entries, 'Assign judges couples to evaluate?' %>
  </div>

  <div class="inline">
    <%= form.button 'Save', name: 'anchor', value: 'options', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

</div>
