<div class="mx-auto flex text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-700 mb-6">
  <ul class="flex flex-wrap -mb-px mx-auto text-center">
    <li class="me-2">
      <%= link_to "Inventory", inventory_path, 
          class: "inline-block p-4 #{action_name == 'inventory' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
    <li class="me-2">
      <%= link_to "Options", inventory_options_path, 
          class: "inline-block p-4 #{action_name == 'inventory_options' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory_options' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
    <li class="me-2">
      <%= link_to "Judging", inventory_judging_path, 
          class: "inline-block p-4 #{action_name == 'inventory_judging' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory_judging' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
    <li class="me-2">
      <%= link_to "Heats", inventory_heats_path, 
          class: "inline-block p-4 #{action_name == 'inventory_heats' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory_heats' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
    <li class="me-2">
      <%= link_to "Tables", inventory_tables_path, 
          class: "inline-block p-4 #{action_name == 'inventory_tables' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory_tables' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
    <li class="me-2">
      <%= link_to "Functions", inventory_functions_path, 
          class: "inline-block p-4 #{action_name == 'inventory_functions' ? 'text-blue-600 border-b-2 border-blue-600' : 'border-gray-200'} rounded-t-lg #{action_name == 'inventory_functions' ? 'active' : 'hover:border-b-2 hover:text-gray-600 hover:border-gray-300'}" %>
    </li>
  </ul>
</div>