<div class="mx-auto md:w-2/3 w-full" data-controller="submit">

<h1 class="text-4xl font-extrabold text-center">Apply Changes</h1>

<div class="my-4 min-w-full flex flex-col items-center">

<% changes = false %>

<% unless @pending['add'].blank? %>
<h2 class="font-bold text-2xl mt-4 mb-2">Add regions</h2>
<ul class="ml-8 list-disc list-outside">
<% @pending['add'].sort.each do |region| %>
<li><%= region %>
<% end %>
</ul>
<% changes = true %>
<% end %>

<% unless @move.blank? %>
<h2 class="font-bold text-2xl mt-4 mb-2">Move Sites</h2>
<table>
<thead>
<tr>
  <th class="row-head">Site
  <th class="row-head">From
  <th class="row-head">To
</tr>
</thead>
<tbody>
<% @move.each do |site, change| %>
<tr>
  <td class="row"><%= site %>
  <td class="row"><%= change[:from] %>
  <td class="row"><%= change[:to] %>
</tr>
<% end %>
</tbody>
</table>
<% changes = true %>
<% end %>

<% unless @showcases.blank? %>
<h2 class="font-bold text-2xl mt-4 mb-2">Events added/changed</h2>
<table>
<thead>
<tr>
  <th class="row-head">Yera
  <th class="row-head">Site
  <th class="row-head">Event
</tr>
</thead>
<tbody>
<% @showcases.each do |showcase| %>
<tr>
  <td class="row"><%= showcase[0] %>
  <td class="row"><%= showcase[1] %>
  <td class="row"><%= showcase[2] %>
</tr>
<% end %>
</tbody>
</table>
<% changes = true %>
<% end %>

<% unless @pending['delete'].blank? %>
<h2 class="font-bold text-2xl mt-4 mb-2">Delete regions</h2>
<ul class="ml-8 list-disc list-outside">
<% @pending['delete'].sort.each do |region| %>
<li><%= region %>
<% end %>
</ul>
<% changes = true %>
<% end %>

<% unless `git status --short | grep -v "^?? "`.empty? %>
<h2 class="font-bold text-2xl mt-4 mb-2">Code changes</h2>
<pre><%= `git status --short | grep -v "^?? "` %></pre>
<% changes = true %>
<% end %>

<% unless changes %>
<div class="mt-4 text-center">No changes to apply</div>
<% end %>

</div>

<button data-submit-target="submit"
  class="flex mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border-2 rounded-xl my-4 disabled:opacity-50 disabled:cursor-not-allowed"">submit</button>

<div class="hidden p-4 bg-black rounded-xl">
<div data-submit-target="output" data-stream="<%= @stream %>"
  class="w-full mx-auto overflow-y-auto h-auto font-mono text-sm max-h-[25rem] min-h-[25rem]">
</div>
</div>

  <div class="mt-4 min-w-full flex flex-col items-center">
    <div>
    <%= link_to 'Refresh', admin_apply_path, class: "btn-blue" %>
    <%= link_to "Back to Admin", admin_path, class: "btn-green" %>
    </div>
  </div>
</div>
