<div class="w-full mx-12">

<%= render 'inventory_nav' %>

<table class="table-auto w-full">
<thead>
<tr>
<th align="left">Studio
<th align="left">Event
<th align="left"><%= link_to "Date",  inventory_path(request.query_parameters.except('sort')) %>
<th align="right"><%= link_to "People",  inventory_path(request.query_parameters.merge(sort: 'people')) %>
<th align="right"><%= link_to "Heats",  inventory_path(request.query_parameters.merge(sort: 'heats')) %>
<th align="right"><%= link_to "Entries", inventory_path(request.query_parameters.merge(sort: 'entries')) %>
<tr>
</thead>
<tbody>
<% 
  # Only show separator when sorting by date (default sort or no sort parameter)
  show_separator = params[:sort].blank?
  separator_shown = false
  today = Date.today
%>
<% @events.each_with_index do |event, index| %>
  <%
    # Check if this is the boundary between future and past events (when sorting by date)
    if show_separator && !separator_shown
      begin
        event_date = Date.parse(event[:date])
        # If this event is in the past and the next event is in the future, or if this is the last future event
        if event_date < today
          separator_shown = true
          %>
          <tr>
            <td colspan="6" class="border-t border-gray-400 p-0"></td>
          </tr>
          <%
        end
      rescue Date::Error
        # Handle invalid dates gracefully
      end
    end
  %>
  <% if (event[:rows]['entries'] || 0) == 0 && !event[:date].start_with?(Date.today.year.to_s) %>
  <tr class="bg-gray-200">
  <% else %>
  <tr>
  <% end %>
    <% year, city, token = event[:db].split('-', 3) %>
    <td><%= link_to event[:studio], studio_events_path(city) %>
    <td><%= link_to event[:name], "#{@scope}/#{year}/#{city}/#{token}/".squeeze('/') %>
    <td><%= event[:date] %>
    <td align="right"><%= event[:rows]['people'] || 0 %>
    <td align="right"><%= event[:heats] %>
    <td align="right"><%= event[:rows]['entries'] || 0 %>
<% end %>
</tbody>
</table>
</div>