<div class="mx-auto md:w-2/3 w-full flex flex-col" id="<%= @code %>">
  <h1 class="font-bold text-4xl">Region <span class="text-blue-600"><%= @code %></span></h1>

  <p class="my-5">
    <strong class="block font-bold mb-1">Name:</strong>
    <span class="pl-6"><%= @region['Name'] %></span>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Latitude:</strong>
    <span class="pl-6"><%= @region[''] %></span>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Longitude:</strong>
    <span class="pl-6"><%= @region['Longitude'] %></span>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Gateway Available:</strong>
    <span class="pl-6"><%= @region['GatewayAvailable'] %></span>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Requires Paid Plan:</strong>
    <span class="pl-6"><%= @region['RequiresPaidPlan'] %></span>
  </p>

  <div>
  <div class="inline-block ml-2">
  <% if (@pending['delete'] || []).include? @region['Code'] %>
  <%= button_to "Add", admin_regions_path(code: @region['Code']), method: :post,
    class: "btn-orange", disabled: (@code == @primary_region)  %>
  <% else %>
  <%= button_to "Delete", destroy_region_path(@region['Code']), method: :delete,
    class: "btn-orange", disabled: (@code == @primary_region)  %>
  <% end %>
  </div>
  <%= link_to "Back to Regions", admin_regions_path, class: "btn-green" %>
  </div>
</div>
