  <h1 class="grow font-bold text-4xl pt-1 pb-3 text-center mx-8">
    <%= link_to "#{@judge_heatlist_path}##{dom_id(@heat)}", rel: 'up' do %>
      <span>Heat <%= @number %>:<br class="block sm:hidden"> <%= @dance %>
      <% if @heat.solo&.combo_dance_id %>
      / <%= @heat.solo.combo_dance.name %>
      <% end %>
      </span>
    <% end %>
    <% if @judge_backs_html %>
      <div class="text-2xl"><%= raw @judge_backs_html %></div>
    <% end %>
    <% if @style == 'emcee' and @heat.category != 'Solo' %>
      <div class="font-normal"><%= @subjects.length %> <%= 'couple'.pluralize @subjects.length %> on the floor</div>
      <% if @song %>
        <audio controls preload="auto" style="display: inline">
          <source src=<%= @song.song_file.url %> type=<%= @song.song_file.content_type %>>
        </audio>
        <div class="font-normal text-sm"><%= @song.title %><% unless @song.artist.blank? %>- <%= @song.artist %><% end %></div>
      <% end %>
    <% end %>

    <% if @heat_slot_display %>
      <div class="text-2xl font-normal">
        <%= @heat_slot_display %>
        <%= @multi_dance_names %>
        <% if @callbacks %>
          <span>(Callback <%= @callbacks %>)</span>
        <% end %>
      </div>
    <% end %>
  </h1>