<div id="instructor-scores">
  <table class="mb-8">
    <thead>
          <% if @open_scoring == '1' %>
          <tr>
            <th colspan="2">
            <th colspan="4" class="bg-slate-200">Closed
            <th colspan="4">Open
          </tr>
          <% end %>

          <tr>
          <th class="row-head">Points
          <th class="row-head">Name
          <% if @open_scoring != '#' %>
          <% if @event.closed_scoring != '=' or @open_scoring == 'G' %>
          <% ScoresController::SCORES['Closed'].each do |score| %>
          <th class="row-head bg-slate-200"><%= score %>
          <% end %>
          <% end %>
          <% if @open_scoring == '&' %>
          <% 1.upto(5).each do |score| %>
          <th class="row-head"><%= score %>
          <% end %>
          <% elsif @open_scoring != 'G' %>
          <% ScoresController::SCORES['Open'].each do |score| %>
          <th class="row-head"><%= score %>
          <% end %>
          <% end %>
          <% end %>
          </tr>
    </thead>
    <% @scores.sort_by {|person, results| results['points']}.reverse.each do |person, results| %>
    <tr>
      <td class="row-main text-right"><%= results['points'] %>
      <td class="row-main"><%= link_to person&.display_name || 'nil', person %></td>
      <% if @open_scoring != '#' %>
      <% if @event.closed_scoring != '=' or @open_scoring == 'G' %>
      <% results['Closed'].each do |score| %>
      <td class="row text-right px-4 bg-slate-200"><%= score == 0 ? '' : score %></td>
      <% end %>
      <% end %>
      <% if @open_scoring != 'G' %>
      <% results['Open'].each do |score| %>
      <td class="row text-right px-4"><%= score == 0 ? '' : score %></td>
      <% end %>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>

  <% if @scores.empty? %>
  <p class="my-8">No scores entered yet.</p>
  <% end %>
</div>