<div id="pros-scores">
  <h1 class="font-bold mt-8 text-4xl pb-5 text-center">Pro Scores</h1>

  <% empty = true %>

  <% @scores.each do |name, entries| %>
    <% next if entries.empty? %>
    <% empty = false %>
    <h2 class="font-bold pt-4 text-2xl pb-5"><%= name %></h2>
    <table class="mb-8">
      <thead>
        <tr>
        <th class="row-head">Points
        <th class="row-head">Lead
        <th class="row-head">Follow
        <% @score_range.each do |score| %>
        <th class="row-head bg-slate-200"><%= score %>
        <% end %>
        </tr>
      </thead>
      <% entries.sort_by {|entry, results| results['points']}.reverse.each do |entry, results| %>
        <tr>
          <td class="row-main text-right"><%= number_with_delimiter results['points'] %>
          <td class="row-main"><%= link_to entry.lead.display_name, entry.lead %></td>
          <td class="row-main"><%= link_to entry.follow.display_name, entry.follow %></td>
          <% results['Values'].each do |score| %>
          <td class="row text-right px-4 bg-slate-200"><%= score == 0 ? '' : score %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if empty %>
  <p class="my-8">No scores entered yet.</p>
  <% end %>
</div>
