  <div class="grow flex flex-col border-2 border-slate-400 overflow-y-auto">
  <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>
  <table class="table-auto border-separate border-spacing-y-1 mx-4">
  <thead>
    <tr>
      <th class="text-left border-b-2 border-black" rowspan="2">Back</th>
      <% if @ballrooms_count && @ballrooms_count > 1 %>
      <th class="text-left border-b-2 border-black" rowspan="2">Ballroom</th>
      <% end %>
      <% if @column_order == 1 %>
      <th class="text-left border-b-2 border-black" rowspan="2">Lead</th>
      <th class="text-left border-b-2 border-black" rowspan="2">Follow</th>
      <% else %>
      <th class="text-left border-b-2 border-black" rowspan="2">Student</th>
      <th class="text-left border-b-2 border-black" rowspan="2">Partner</th>
      <% end %>
      <th class="text-left border-b-2 border-black" rowspan="2">Category</th>
      <th class="text-left border-b-2 border-black" rowspan="2">Studio</th>
    <% unless @style == 'emcee' %>
    <% if @event.open_scoring == '#' || @event.closed_scoring == '#' %>
      <th class="text-center border-b-2 border-black">Score</th>
    <% elsif @callbacks and !@scores.empty? %>
      <th class="text-center" colspan="<%= @scores.length %>%>">Callback?</th>
    </tr>
    <tr>
      <% @scores.each do |score| %>
        <th class="border-b-2 border-black"></th>
      <% end %>
    <% elsif !%w(& + @).include? @scoring %>
      <th class="text-center" colspan="<%= @scores.length %>%>">Score</th>
    </tr>
    <tr>
      <% @scores.each do |score| %>
        <th class="border-b-2 border-black"><%= score.blank? ? '-' : score %></th>
      <% end %>
    <% end %>
    <% end %>
    </tr>
  </thead>
  <% lastcat = nil %>
  <% lastassign = false %>
  <% last_ballroom = nil %>
  <% @ballrooms.each do |ballroom, subjects| %>
    <% next if subjects.empty? %>
    <% dance = subjects.first.dance_id %>
    <% if last_ballroom && ballroom != last_ballroom %>
      <tr><td colspan="<%= 5 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) + (@scores&.length || 0) %>" class="bg-black h-0.5"></td></tr>
    <% end %>
    <% last_ballroom = ballroom %>
    <% subjects.each do |subject| %>
    <% if @category_scoring_enabled && @category_score_assignments %>
      <% student_id = subject.respond_to?(:subject) ? subject.subject.id : nil %>
      <% assign = @assign_judges ? @category_score_assignments.include?(student_id) : true %>
    <% else %>
      <% assign = @assign_judges ? subject.scores.any? {|score| score.judge_id == @judge.id} : true %>
    <% end %>
    <% next if @show == 'only' and not assign %>
    <% if subject.dance_id != dance %>
    <tr><td colspan="<%= 5 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) + (@scores&.length || 0) %>" class="bg-gray-400 h-0.5"></td></tr>
    <% dance = subject.dance_id %>
    <% end %>
    <% subcat = subject.entry.pro ? 'Pro' : "#{subject.entry.subject_category(@track_ages)} - #{subject.entry.level.initials}" %>
    <% if (@sort == 'level' and lastcat and subcat != lastcat) || (@assign_judges && assign != lastassign && lastcat) %>
    <tr>
      <td class="<% if @event.judge_comments %>h-12<% elsif @sort == 'level' %>h-6<% else %>h-4<% end %>"></td>
    </tr>
    <% end %>
    <% lastcat = subcat %>
    <% lastassign = assign %>
    <% student_data_attr = @category_scoring_enabled && subject.respond_to?(:subject) ? "data-student-id=\"#{subject.subject.id}\"" : "" %>
    <% row_id = @category_scoring_enabled && subject.respond_to?(:subject) ? "heat_#{subject.id}_student_#{subject.subject.id}" : dom_id(subject) %>
    <% if subject.number > 0 %>
    <tr class="hover:bg-yellow-200" id="<%= row_id %>" <%= student_data_attr.html_safe %>>
    <% else %>
    <tr class="hover:bg-yellow-200 line-through opacity-50" id="<%= row_id %>" <%= student_data_attr.html_safe %>>
    <% end %>
      <% if @assign_judges && assign && @show != 'only' %>
      <td class="<% if @sort != 'level' %>py-2 <% end %>font-bold text-xl"><span class="border-2 border-red-600 px-2 rounded-full"><%= subject.lead.back || '&#9733;'.html_safe %></span></td>
      <% else %>
      <td class="<% if @sort != 'level' %>py-2 <% end %>text-xl"><%= subject.lead.back %></td>
      <% end %>
      <% if @ballrooms_count && @ballrooms_count > 1 %>
      <td class="<% if @sort != 'level' %>py-2 <% end %>text-center font-medium"><%= ballroom || '-' %></td>
      <% end %>
      <% if @column_order == 1 %>
      <td><%= subject.lead.display_name %></td>
      <td><%= subject.follow.display_name %></td>
      <% elsif @category_scoring_enabled && subject.respond_to?(:student_role) %>
        <% if subject.student_role == 'lead' %>
        <td><%= subject.lead.display_name %></td>
        <td><%= subject.follow.display_name %></td>
        <% else %>
        <td><%= subject.follow.display_name %></td>
        <td><%= subject.lead.display_name %></td>
        <% end %>
      <% elsif subject.lead.type == 'Student' %>
      <td><%= subject.lead.display_name %></td>
      <td><%= subject.follow.display_name %></td>
      <% else %>
      <td><%= subject.follow.display_name %></td>
      <td><%= subject.lead.display_name %></td>
      <% end %>
      <td><% if @combine_open_and_closed and %w(Open Closed).include? subject.category %><%= subject.category %> - <% end %><%= subcat %></td>
      <td><%= subject.subject.studio.name %></td>
      <% unless @style == 'emcee' %>
      <% if @scoring == '#' %>
      <td><div class="mx-auto text-center">
        <input disabled data-score-target="score" class="text-center w-20 h-10 border-2 invalid:border-red-600" pattern="^\d\d$"
          name="<%= subject.id %>" value="<%= @results[subject] %>"%>
      </div></td>
      <% elsif @callbacks %>
      <td class="text-center"><input type="checkbox" name="<%= subject.id %>" value="<%= @results[subject] %>"<%= @results[subject].empty? ? '' : ' checked' %>></td>
      <% elsif !%w(+ & @).include? @scoring %>
      <% @scores.each do |score| %>
      <td class="text-center"><input type="radio" disabled name="<%= subject.id %>" value="<%= score %>"<%= @results[subject]==score ? ' checked' : '' %>></td>
      <% end %>
      <% end %>
      <% end %>
    </tr>
    <%# Display feedback rows for all scoring types except emcee mode and specific scoring types %>
    <% if @style != 'emcee' and !%w(1 G #).include?(@scoring) %>
    <tr data-controller="open-feedback" class="open-fb-row" data-heat="<%= subject.id %>" data-feedback-action="<%= @post_feedback_path %>"<%= @feedback_errors&.any? ? ' data-feedback-disabled="true"' : '' %>>
    <td colspan="<%= 5 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) %>">
    <% if @scoring == '&' %>
    <div class="grid value w-full" data-value="<%= @category_scoring_enabled && subject.respond_to?(:subject) ? @value[subject] : @value[subject.id] %>" style="grid-template-columns: 100px repeat(5, 1fr)">
      <div class="bg-gray-200 inline-flex justify-center items-center">Overall</div>
      <button disabled class="open-fb"><abbr>1</abbr><span>1</span></button>
      <button disabled class="open-fb"><abbr>2</abbr><span>2</span></button>
      <button disabled class="open-fb"><abbr>3</abbr><span>3</span></button>
      <button disabled class="open-fb"><abbr>4</abbr><span>4</span></button>
      <button disabled class="open-fb"><abbr>5</abbr><span>5</span></button>
    </div>
    <% elsif @scoring == '@' %>
    <div class="grid value w-full" data-value="<%= @category_scoring_enabled && subject.respond_to?(:subject) ? @value[subject] : @value[subject.id] %>" style="grid-template-columns: 100px repeat(4, 1fr)">
      <div class="bg-gray-200 inline-flex justify-center items-center">Overall</div>
      <button disabled class="open-fb"><abbr>B</abbr><span>B</span></button>
      <button disabled class="open-fb"><abbr>S</abbr><span>S</span></button>
      <button disabled class="open-fb"><abbr>G</abbr><span>G</span></button>
      <button disabled class="open-fb"><abbr>GH</abbr><span>GH</span></button>
    </div>
    <% end %>
    <% if !@feedbacks.empty? %>
    <div class="grid grid-cols-2 w-full divide-x-2 divide-black">
      <div class="grid grid-cols-5 good" data-value="<%= @category_scoring_enabled && subject.respond_to?(:subject) ? @good[subject.subject.id] : @good[subject.id] %>" title="Good Job With">
        <% (1..@feedbacks.map(&:order).max).each do |order| %>
        <% feedback = @feedbacks.find {|feedback| feedback.order == order } %>
        <% if feedback %>
        <button disabled class="open-fb"><abbr><%= feedback.abbr %></abbr><span><%= feedback.value %></span></button>
        <% else %>
        <span></span>
        <% end %>
        <% end %>
      </div>
      <div class="grid grid-cols-5 bad"  data-value="<%= @category_scoring_enabled && subject.respond_to?(:subject) ? @bad[subject.subject.id] : @bad[subject.id] %>" title="Needs Work On">
        <% (1..@feedbacks.map(&:order).max).each do |order| %>
        <% feedback = @feedbacks.find {|feedback| feedback.order == order } %>
        <% if feedback %>
        <button disabled class="open-fb"><abbr><%= feedback.abbr %></abbr><span><%= feedback.value %></span></button>
        <% else %>
        <span></span>
        <% end %>
        <% end %>
    </div>
    <% elsif @scoring == '&' || @scoring == '@' %>
    <div class="grid good" data-value="<%= @good[subject.id] %>" style="grid-template-columns: 100px repeat(6, 1fr)">
      <div class="bg-gray-200 inline-flex justify-center items-center">Good</div>
      <button disabled class="open-fb"><abbr>F</abbr><span>Frame</span></button>
      <button disabled class="open-fb"><abbr>P</abbr><span>Posture</span></button>
      <button disabled class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
      <button disabled class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
      <button disabled class="open-fb"><abbr>T</abbr><span>Timing</span></button>
      <button disabled class="open-fb"><abbr>S</abbr><span>Styling</span></button>
    </div>
    <div class="grid bad"  data-value="<%= @bad[subject.id] %>" style="grid-template-columns: 100px repeat(6, 1fr)">
      <div class="bg-gray-200 inline-flex justify-center items-center">Needs Work</div>
      <button disabled class="open-fb"><abbr>F</abbr><span>Frame</span></button>
      <button disabled class="open-fb"><abbr>P</abbr><span>Posture</span></button>
      <button disabled class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
      <button disabled class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
      <button disabled class="open-fb"><abbr>T</abbr><span>Timing</span></button>
      <button disabled class="open-fb"><abbr>S</abbr><span>Styling</span></button>
    </div>
    <% elsif @scoring == '+' %>
    <div class="grid grid-cols-2 w-full divide-x-2 divide-black">
      <div class="grid grid-cols-5 good" data-value="<%= @good[subject.id] %>" title="Good Job With">
        <button disabled class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
        <button disabled class="open-fb"><abbr>T</abbr><span>Timing</span></button>
        <button disabled class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
        <button disabled class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
        <button disabled class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
        <button disabled class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
        <button disabled class="open-fb"><abbr>B</abbr><span>Balance</span></button>
        <button disabled class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
        <button disabled class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
        <button disabled class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>
      </div>
      <div class="grid grid-cols-5 bad"  data-value="<%= @bad[subject.id] %>" title="Needs Work On">
        <button disabled class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
        <button disabled class="open-fb"><abbr>T</abbr><span>Timing</span></button>
        <button disabled class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
        <button disabled class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
        <button disabled class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
        <button disabled class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
        <button disabled class="open-fb"><abbr>B</abbr><span>Balance</span></button>
        <button disabled class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
        <button disabled class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
        <button disabled class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>        </div>
    </div>
    <% end %>
    </td>
    </tr>
    <% end %>
    <% if @event.judge_comments and @style != 'emcee' %>
    <tr>
      <td></td>
      <td colspan="<%= 4 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) %>">
      <textarea disabled data-score-target="comments" data-heat="<%= subject.id %>"
        class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        ><%= @comments[subject.id] %></textarea>
      </td>
    </tr>
    <% end %>

  <% end %>
  <% end %>
  <% unless lastassign %>
    <tr>
      <% if @assign_judges %>
      <td colspan="<%= 5 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) + (@scores&.length || 0) %>"><p class="m-5">No couples assigned to this judge for this heat.</p></td>
      <% else %>
      <td colspan="<%= 5 + (@ballrooms_count && @ballrooms_count > 1 ? 1 : 0) %>"><p class="m-5">No couples on the floor for this heat.</p></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <% if @style == 'emcee' && Event.current.current_heat != @number %>
  <div class="text-center mt-2">
    <button data-action="click->score#startHeat" data-score-target="startButton" class="btn-green text-sm">
      Start Heat
    </button>
  </div>
  <% end %>
  </div>
  </div>