<div class="mx-auto md:w-5/6 w-full flex">
  <div class="mx-auto">
    <% unless @details %>
      <div data-controller="info-box">
        <div class="info-button">ⓘ</div>
        <ul class="info-box" style="display: none;">
        <li>Click on <em>Followers</em> or <em>Leaders</em> or <em>Couples</em> to see all the scores for that group.
        </li>
        </ul>
      </div>
    <% end %>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= turbo_stream_from "live-scores-#{ENV['RAILS_APP_DB']}" %>
    <%= render partial: "last_update", locals: {action: by_age_scores_path, timestamp: @last_score_update} %>

    <%= render @details ? "scores/details/by_age" : "by_age" %>

    <%= link_to 'Back to summary', summary_event_index_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>