<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% @scores.each do |category, groups| %>
      <% groups.each do |group, ages| %>
        <h1 class="font-bold pt-8 text-4xl pb-5 text-center"><%= category %> <%= group %></h1>
        <% ages.each do |age, students| %>
          <% next if students.empty? %>
          <h1 class="font-bold pt-8 text-2xl pb-5"><%= age.category %> (<%= age.description %>)</h1>
          <table>
            <thead>
              <th class="row-head">Name
              <% ScoresController::SCORES[category].each do |score| %>
              <th class="row-heat"><%= score %>
              <% end %>
            </thead>
          <% students.sort_by {|students, scores| scores}.reverse.each do |students, scores| %>
            <tr>
              <td class="row"><%= Array(students).map {|student| student.display_name}.join(' and ') %></td>
              <% scores.each do |score| %>
              <td class="text-center px-4"><%= score == 0 ? '' : score %></td>
              <% end %>
          <% end %>
          </table>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to 'Back to scores', scores_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>