<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% empty = true %>
    <% @points.each do |category, groups| %>
      <% groups.each do |group, ages| %>
        <% next if ages.values.all? {|students| students.empty?} %>

        <h1 class="font-bold mt-8 text-4xl pb-5 text-center"><%= category %> <%= group %></h1>

        <% ages.each do |age, students| %>
          <% next if students.empty? %>
          <% empty = false %>
          <h2 class="font-bold pt-4 text-2xl pb-5"><%= age.category %> (<%= age.description %>)</h1>
          <table class="mb-8">
            <thead>
              <th class="row-head">Name
              <th class="row-head">Points
              <% ScoresController::SCORES[category].each do |score| %>
              <th class="row-head"><%= score %>
              <% end %>
            </thead>
          <% students.sort_by {|students, points| points}.reverse.each do |students, points| %>
            <tr>
              <td class="row"><%= Array(students).map {|student| student.display_name}.join(' and ') %></td>
              <td class="row text-right"><%= points %>
              <% @scores[category][group][age][students].each do |score| %>
              <td class="text-right px-4"><%= score == 0 ? '' : score %></td>
              <% end %>
          <% end %>
          </table>
        <% end %>
      <% end %>
    <% end %>

    <% if empty %>
    <p class="my-8">No scores entered yet.</p>
    <% end %>

    <%= link_to 'Back to scores', scores_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>