<div class="flex flex-col h-screen max-h-screen w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render 'heat_header' %>

  <%= render 'info_box' %>

  <div class="h-full flex flex-col max-h-[85%]"
    data-controller="score" data-drop-action="<%=  post_score_path(judge: @judge) %>" 
    data-start-action="<%= start_heat_event_index_path %>" data-heat="<%= @number %>"
    <% if @callbacks %>data-callbacks="<%= @callbacks %>"<% end %>
    <% if @slot %>data-slot="<%= @slot %>"<% end %>
    >

    <div class="flex-1 flex flex-row overflow-hidden">
      <% if @heat.category == 'Solo' %>
        <%= render 'solo_heat' %>
      <% elsif @final %>
        <%= render 'rank_heat' %>
      <% elsif @style != 'cards' || @style == 'emcee' || @scores.empty? %>
        <%= render 'table_heat' %>
      <% else %>
        <%= render 'cards_heat' %>
      <% end %>
    </div>

    <%= render 'navigation_footer' %>
  </div>
