<div class="flex flex-col h-screen max-h-screen w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="grow font-bold text-4xl pt-1 pb-3 text-center mx-8">
    <%= link_to judge_heatlist_path(judge: @judge, anchor: dom_id(@heat), style: @style), rel: 'up' do %>
      <span>Heat <%= @number %>:<br class="block sm:hidden"> <%= @dance %>
      <% if @heat.solo&.combo_dance_id %>
      / <%= @heat.solo.combo_dance.name %>
      <% end %>
      </span>
    <% end %>
    <% if @style == 'emcee' and @heat.category != 'Solo' %>
    <div class="font-normal"><%= @subjects.length %> <%= 'couple'.pluralize @subjects.length %> on the floor</div>
    <% end %>

    <% if @heat.dance.heat_length %>
    <div class="text-2xl font-normal">
    Dance <%= @slot %> of <%= @heat.dance.heat_length %>:
    <% slots = @heat.dance.multi_children.group_by {|multi| multi.slot} %>
    <% if slots.length > 1 %>
    <%= slots[@slot].sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% elsif slots.values.last.length == @heat.dance.heat_length %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}[@slot - 1].dance.name %>
    <% else %>
    <%= slots.values.last.sort_by {|multi| multi.dance.order}.map {|multi| multi.dance.name}.join(' / ') %>
    <% end %>
    </div>
    <% end %>
  </h1>


<div data-controller="info-box">
<div class="info-button top-2">&#x24D8;</div>
<ul class="info-box">
<% if @heat.category == 'Solo' %>
<li>Tab to or click on comments or score to edit.  Press escape or click elsewhere to save.
<% else %>
<% if @style != 'radio' %>
<li>Scoring can be done multiple ways:
<ul class="list-disc ml-4">
<li>Drag and drop: Drag an entry box to the desired score.  
<li>Point and click: Clicking on a entry back and then clicking on score.  Clicking on the back number again unselects it.
<li>Keyboard: tab to the desired entry back, then move it up and down using the keyboard.  Clicking on escape unselects the back.
</ul>
<li>Dragging an entry back to the unlabelled box at the right returns the participant to the unscored state.
<% elsif @event.open_scoring == '#' %>
<li>Enter scores in the right most column.  Tab to move to the next entry.
<% else %>
<li>Click on the <em>radio</em> buttons on the right to score a couple.  The last column, with a dash (<code>-</code>),
means the couple hasn't been scored / didn't participate.
<% end %>
<% end %>
<li>Clicking on the arrows at the bottom corners will advance you to the next or previous heats.
Left and right arrows on the keyboard may also be used<% if @heat.category == 'Solo' %>
when not editing comments or score<% elsif @event.open_scoring == '#' %>
when not entering scores<% end %>.
Swiping left and right on mobile devices and tablets also work.
<li>Clicking on the heat information at the top center of the page will return you to the heat list where you can quickly scroll and select a different heat.
</ul>
</div>

  <div class="h-full flex flex-row max-h-[85%]"
    data-controller="score" data-drop-action="<%=  post_score_path(judge: @judge) %>" 
    data-start-action="<%= start_heat_event_index_path %>" data-heat="<%= @number %>"
    <% if @slot %>data-slot="<%= @slot %>"<% end %>>

  <% if @heat.category == 'Solo' %>
      <%
      if @column_order == 1 or @heat.follow.type == 'Professional'
        dancers = [@heat.lead, @heat.follow]
      else
        dancers = [@heat.follow, @heat.lead]
      end

      studio = dancers.first.studio.name

      @heat.solo.formations.each do |formation|
        dancers << formation.person if formation.on_floor
      end

      if dancers.length == 2
        dancers = dancers.first.join(dancers.last)
      else
        dancers.map! &:display_name
        dancers[-1] = "and #{dancers.last}"
        dancers = dancers.join(', ')
      end
    %>

    <div class="mx-auto md:w-2/3 w-full flex flex-col text-xl">
    <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>

    <div class="mb-4">
    <div class="float-right"><b>Studio</b>: <%= studio %></div>
    <div><b >Level</b>: <%= @heat.entry.level.name %></div>
    </div>

    <div class="mb-4"><span><b>Names</b>:&nbsp;</span><span><%= dancers %></span></div>

    <% if @style == 'emcee' %>
    <% unless @heat.solo.song.blank? %>
    <div class="mb-4">
    <div><b >Song</b>: <%= @heat.solo.song %></div>
    </div>
    <% end %>
    <% unless @heat.solo.artist.blank? %>
    <div class="mb-4">
    <div><b >Artist</b>: <%= @heat.solo.artist %></div>
    </div>
    <% end %>
    <% else %>
    <label><b>Comments:</b></label>
    <textarea data-score-target="comments" data-heat="<%= @heat.id %>" 
      class="grow block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    ><%= @comments %></textarea>

    <div>
    <div class="float-right mt-4">
    <b>Score:</b>
    <input data-score-target="score" value="<%= @results.keys.first %>" pattern="^\d\d$"
      class="border-2 border-black invalid:border-red-600 w-24 h-24 text-6xl text-center"/>
    </div>
    </div>
    <% end %>

    </div>

  </div>
  <% elsif @style == 'radio' || @style == 'emcee' || @scores.empty? %>
    <div class="grow flex flex-col border-2 border-slate-400 overflow-y-auto">
    <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>
    <table class="table-auto border-separate border-spacing-y-1 mx-4">
    <thead>
      <tr>
        <th class="text-left border-b-2 border-black" rowspan="2">Back
        <th class="text-left border-b-2 border-black" rowspan="2">Subject
        <th class="text-left border-b-2 border-black" rowspan="2">Partner
        <th class="text-left border-b-2 border-black" rowspan="2">Category
        <th class="text-left border-b-2 border-black" rowspan="2">Studio
      <% unless @style == 'emcee' or @scores.empty? %>
      <% if @event.open_scoring == '#' %>
        <th class="text-center border-b-2 border-black">Score
      <% else %>
        <th class="text-center" colspan="<%= @scores.length %>%>">Score
      </tr>
      <tr>
        <% @scores.each do |score| %>
          <th class="border-b-2 border-black"><%= score.blank? ? '-' : score %>
        <% end %>
      <% end %>
      <% end %>
      </tr>
    </thead>
    <% lastcat = nil %>
    <% @ballrooms.each do |ballroom, subjects| %>
      <% dance = subjects.first.dance_id %> 
      <% if ballroom.to_s == 'B' %>
        <tr><td colspan="10" class="bg-black"></tr>
      <% end %>
      <% subjects.each do |subject| %>
      <% if subject.dance_id != dance %>
      <tr><td colspan="10" class="bg-gray-400"></tr>
      <% dance = subject.dance_id %>
      <% end %>
      <% subcat = "#{subject.entry.subject_category(@track_ages)} - #{subject.entry.level.initials}" %>
      <% if @sort == 'level' and lastcat and subcat != lastcat %>
      <tr>
        <td class="h-4"></td>
      </tr>
      <% end %>
      <% lastcat = subcat %>
      <% if subject.number > 0 %>
      <tr class="hover:bg-yellow-200">
      <% else %>
      <tr class="hover:bg-yellow-200 line-through opacity-50">
      <% end %>
        <td class="py-2 font-bold text-xl"><%= subject.lead.back %>
        <% if subject.lead.type == 'Student' %>
        <td><%= subject.follow.display_name %>
        <td><%= subject.lead.display_name %>
        <% else %>
        <td><%= subject.follow.display_name %>
        <td><%= subject.lead.display_name %>
        <% end %>
        <td><%= subcat %>
        <td><%= subject.subject.studio.name %>
        <% unless @style == 'emcee' %>
        <% if @event.open_scoring == '#' %>
        <td><div class="mx-auto text-center">
          <input data-score-target="score" class="text-center w-20 h-10 border-2 invalid:border-red-600" pattern="^\d\d$"
            name="<%= subject.id %>" value="<%= @results[subject] %>"%>
        </div>
        <% else %>
        <% @scores.each do |score| %>
        <td class="text-center"><input type="radio" name="<%= subject.id %>" value="<%= score %>"<%= @results[subject]==score ? ' checked' : '' %>>
        <% end %>
        <% end %>
        <% end %>
      </tr>
      <tr>
        <td>
        <td colspan="4">
        <textarea data-score-target="comments" data-heat="<%= subject.id %>"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          ><%= @comments[subject.id] %></textarea>
      </tr>
      <% if @style != 'emcee' and @scores.empty? %>
      <tr data-controller="open-feedback" class="open-fb-row" data-heat="<%= subject.id %>" data-feedback-action="<%= post_feedback_path(judge: @judge) %>">
      <td colspan="5">
      <div class="grid grid-cols-2 w-full divide-x-2 divide-black">
        <div class="grid grid-cols-5 good" data-value="<%= @good[subject.id] %>">
          <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
          <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
          <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
          <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
          <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
          <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
          <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
          <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
          <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
          <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>
        </div>
        <div class="grid grid-cols-5 bad"  data-value="<%= @bad[subject.id] %>">
          <button class="open-fb"><abbr>DF</abbr><span>Dance Frame</span></button>
          <button class="open-fb"><abbr>T</abbr><span>Timing</span></button>
          <button class="open-fb"><abbr>LF</abbr><span>Lead/&ZeroWidthSpace;Follow</span></button>
          <button class="open-fb"><abbr>CM</abbr><span>Cuban Motion</span></button>
          <button class="open-fb"><abbr>RF</abbr><span>Rise & Fall</span></button>
          <button class="open-fb"><abbr>FW</abbr><span>Footwork</span></button>
          <button class="open-fb"><abbr>B</abbr><span>Balance</span></button>
          <button class="open-fb"><abbr>AS</abbr><span>Arm Styling</span></button>
          <button class="open-fb"><abbr>CB</abbr><span>Contra-Body</span></button>
          <button class="open-fb"><abbr>FC</abbr><span>Floor Craft</span></button>        </div>
      </div>
      </td>
      </tr>
      <% end %>

    <% end %>
    <% end %>
    </table>
    </div>
    </div>
  <% else %>
    <div class="grow flex flex-col border-2 border-slate-400">
    <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>
    <% @scores.each do |score| %>
    <% if score == '' %>
    </div><div class="my-auto h-full max-w-[30%] min-w-[30%] border-2 border-slate-400
       flex flex-col flex-wrap pl-4" data-score="<%= score %>">
    <% else %>
    <div class="flex flex-wrap border-2 h-full pl-4" data-score="<%= score %>">
    <% end %>
      <span class="order-2 ml-auto p-2"><%= score %></span>

      <% @results[score]&.each do |subject| %>
        <% lvl = subject.entry.level.initials %>
        <div class='grid align-middle w-20 my-[1%] min-h-[12%] sm:min-h-[24%] mx-1 border-2 rounded-lg text-center head-<%=lvl%>' draggable="true" data-heat="<%= subject.id %>" id="<%= dom_id subject %>">
          <% if @backnums and not subject.entry.lead.back.blank? %>
          <span class="my-auto">
          <span class="font-bold text-xl"><%= subject.entry.lead.back %></span>
          <div class="hidden text-xs sm:block"><%= subject.entry.subject_category(@track_ages).gsub(' ', '') %>-<%= subject.entry.level.initials %></div>
          </span>
          <div class="hidden text-sm sm:block base-<%=lvl%>"><br>
          <% else %>
          <div class="my-auto">
          <% end %>

          <% if subject.entry.follow.type == 'Professional' %>
          <span class="text-l my-auto"><%= subject.entry.lead.back_name %>
          <%= subject.entry.follow.back_name %></span>
          <% else %>
          <span class="text-l my-auto"><%= subject.entry.follow.back_name %>
          <%= subject.entry.lead.back_name %></span>
          <% end %>
          
          </div>
          <% unless @backnums and not subject.entry.lead.back.blank? %>
          <div class="hidden text-sm sm:block base-<%=lvl%>"><br>
          <%= subject.entry.subject_category(@track_ages) %><br>
          <%= lvl %></div>
          <% end %>
        </div>  
    <% end %>
    <% if score != '' %>
    </div>
    <% end %>
    <% end %>
    </div>
  </div>
  <% end %>

  <div class="flex flex-row w-full">
    <div class="align-middle">
      <% if @prev %>
      <%= link_to '<<', @prev, class: 'text-2xl lg:text-4xl', rel: 'prev' %>
      <% end %>
    </div>

    <h1 class="font-bold text-2xl pt-1 pb-3 flex-1 text-center">
      <%= link_to @judge.display_name, person_path(@judge) %>
      <%= link_to root_path do %>
        <%= image_tag showcase_logo, class: "absolute right-4 top-4 h-8" %>
      <% end %>
    </h1>

    <div class="align-middle">
      <% if @next %>
      <%= link_to '>>', @next, class: 'text-2xl lg:text-4xl', rel: 'next' %>
      <% end %>
  </div>
  </div>
</div>
