<div class="">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl"><%= link_to @judge.display_name, person_path(@judge) %></h1>

  <div class="float-right w-1/3" title="<%= judge_heatlist_url(@judge) %>">
  <%= RQRCode::QRCode.new(judge_heatlist_url(@judge)).as_svg(viewbox: true).html_safe %>
  </div>

  <table>
    <tbody>
      <% @heats.each do |heat| %>
        <% next if heat.number == 0 %>
        <% if @agenda[heat.number] %>
        <tr class="text-<%= @scored.include?(heat.number) ? 'slate-400' : 'black' %>">
          <td colspan="2" class="py-4 text-xl"><%= @agenda[heat.number] %></td>
        </tr>
        <% end %>
        <tr id="<%= dom_id heat %>" class="text-<%= @scored.include?(heat.number) ? 'slate-400' : 'black' %>">
          <td><%= link_to heat.number, judge_heat_path(judge: @judge, heat: heat.number) %>
          <td><%= link_to "#{heat.category} #{heat.dance.name}#{heat.solo&.combo_dance_id ? " / #{heat.solo.combo_dance.name}" : ''}",
            heat.category == 'Multi' ?
            judge_heat_slot_path(judge: @judge, heat: heat.number, slot: 1)
            : judge_heat_path(judge: @judge, heat: heat.number) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>