<div class="flex flex-col h-screen w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl pt-1 pb-3 text-center">
    <%= link_to @judge.display_name, person_path(@judge) %>
    <%= link_to root_path do %>
      <%= image_tag "/arthur-murray-logo.gif", class: "absolute right-4 top-4 h-8" %>
    <% end %>
  </h1>

<div data-controller="info-box">
<div class="info-button top-2">&#x24D8;</div>
<ul class="info-box">
<li>Scoring is done via drag and drop.  Dragging an entry back to the unlabelled box at the bottom returns the participant to the unscored state.
<li>Clicking on the arrows at the bottom corners will advance you to the next or previous heats.
<li>Clicking on the heat information at the bottom center of the page will return you to the heat list where you can quickly scroll and select a different heat.
</ul>
</div>

  <div class="grow flex flex-col border-2 border-slate-400" data-controller="score"  data-drop-action="<%=  post_score_path(judge: @judge) %>">
    <div class="hidden text-red-600 text-4xl" data-score-target="error"></div>
    <% @scores.each do |score| %>
    <div class="border-2 h-full flex" data-score="<%= score %>">
      <span class="order-2 ml-auto p-2"><%= score %></span>

      <% @results[score]&.each do |subject| %>
        <div class='w-20 mx-1 my-1 py-1 border-2 rounded-lg bg-sky-200 text-center' draggable="true" id="<%= dom_id subject %>">
          <span class="font-bold text-xl"><%= subject.entry.lead.back %></span>
          <span class="hidden sm:block"><br>
          <%= subject.entry.subject_category %><br>
          <%= subject.entry.level.initials %></span>
        </div>  
    <% end %>
    </div>
    <% end %>
  </div>

  <div class="mt-2 flex flex-row">
    <div class="align-middle">
      <% if @prev %>
      <%= link_to '<<', judge_heat_path(judge: @judge, heat: @prev), class: 'text-2xl lg:text-4xl', rel: 'prev' %>
      <% end %>
    </div>

    <h1 class="grow font-bold text-2xl pt-1 pb-3 text-center">
      <%= link_to "Heat #{@number}: #{@dance}", judge_heatlist_path(judge: @judge, anchor: dom_id(@heat)) %>
    </h1>

    <div class="align-middle">
      <% if @next %>
      <%= link_to '>>', judge_heat_path(judge: @judge, heat: @next), class: 'text-2xl lg:text-4xl', rel: 'next' %>
      <% end %>
  </div>
  </div>
</div>
