<div class="mx-auto w-full md:w-2/3">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box<% if @style != 'emcee' %> block<% end %>">
    <li>Be sure to do a dry run before the event.
    <li>While entering comments, the input area will have a <span class="bg-yellow-200 p-1">yellow</span> background until
    the data is sent to the server.  Pressing ESC, tabbing to the next field, clicking outside the box,
    or waiting 10 seconds will cause the data to be sent and the yellow background removed.
    <li>Even if you are planning on having judges enter scores in realtime during the application, it is best to print out paper copies in case of application or network failures.
  </ul>
  </div>

  <h1 class="font-bold text-4xl"><%= link_to @judge.display_name, person_path(@judge) %></h1>

  <div class="float-right w-60" title="<%= judge_heatlist_url(@judge, style: @style, sort: @sort) %>">
  <%= RQRCode::QRCode.new(judge_heatlist_url(@judge, style: @style, sort: @sort)).as_svg(viewbox: true).html_safe %>

  <% unless @style == 'emcee' %>
  <h2 class="mt-12 font-bold text-2xl">Sort order</h2>
  <form method="post" data-controller="auto-submit" action="<%= sort_scores_path %>">
    <input type="hidden" name="style" value="<%= @style %>">
    <div>
      <input type="radio" name="sort" value="back"<%= !@sort || @sort == 'back' ? ' checked' : '' %>>
      <span>Back Number</span>
    </div>
    <div>
      <input type="radio" name="sort" value="level"<%= @sort == 'level' ? ' checked' : '' %>>
      <span>Level</span>
    </div>
  </form>
  <% end %>
  </div>

  <table>
    <tbody>
      <% @heats.each do |heat| %>
        <% next if heat.number == 0 %>
        <% if @agenda[heat.number] %>
        <tr class="text-<%= @scored.include?(heat.number) ? 'slate-400' : 'black' %>">
          <td colspan="2" class="py-4 text-xl"><%= @agenda[heat.number] %></td>
        </tr>
        <% end %>
        <tr id="<%= dom_id heat %>" class="text-<%= @scored[heat.number] ? 'slate-400' : 'black' %>">
          <td><%= link_to heat.number, judge_heat_path(judge: @judge, heat: heat.number, style: @style, sort: @sort) %>
          <td><%= link_to "#{heat.category} #{heat.dance.name}#{heat.solo&.combo_dance_id ? " / #{heat.solo.combo_dance.name}" : ''}",
            heat.category == 'Multi' ?
            judge_heat_slot_path(judge: @judge, heat: heat.number, slot: 1, style: @style, sort: @sort)
            : judge_heat_path(judge: @judge, heat: heat.number, style: @style, sort: @sort) %>
          <% if @scored[heat.number] and @scored[heat.number].length != @count[heat.number.to_f] %>
          <span class="text-black">*</span>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>