<%= form_with(model: @dance, class: "contents", url: @url, data: {controller: "multi-heat"}) do |form| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
        <% @dance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>Multi-dances can be used for a variety of purposes, such as All Arounds, Three Heats, Triple Threats, and Scholarships.
<ul class="list-disc ml-4">
<li>If the number of dances entered matches the number of dances selected, the dances will be performed serially.
<li>If the number of dances entered is less than the number of dances selected, participants will know which dances
may be chosen, but they won't know exactly which ones actually are chosen until they appear on the dance floor.
<li>If after selecting a dance a numeric key is pressed on the keyboard, all selections will be numeric, and the
first dance will be one of the dances indicated with a <tt>1</tt>, the second dance will be one of the dances indicated
with a <tt>2</tt>, etc.
</ul>
<li>Each multi-dance will be scored separately, so if you want to have winners declared for different
categories, make a separate multi-dance for each.
</ul>
</div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :heat_length, 'Number of dances' %>
  <%= form.number_field :heat_length,
     class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :multi_category_id %>
    <%= form.select :multi_category_id, @categories, {include_blank: true},
       class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h1 class="w-full text-center bg-yellow-400 mb-4">Dances</h1>

    <% if @columns %>
    <div style="display: grid; width: 100%; grid-template-columns: repeat(<%= @columns %>, 1fr);  gap: 10px;">
    <% else %>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
    <% end %>
      <% @dances.each do |dance| %>
        <% field = "multi[#{dance.name}]" %>
        <% if dance.row and dance.col %>
        <div class="my-5 flex flex-row" style="grid-row:<%= dance.row %>; grid-column:<%= dance.col %>">
        <% else %>
        <div class="my-5 flex flex-row">
        <% end %>
          <%= form.check_box field, class: "entry-count h-10", checked: !!@multi[dance.name] %>
          <%= form.label field, dance.name, class: 'mt-1 flex items-center justify-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>