<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing user</h1>

  <%= render "form", user: @user %>

<div class="mt-8 grid grid-cols-3 gap-1">
  <input type="submit" class="btn-blue" form="user-form" value="Update User">

  <% if @auth %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn-green' %>
  <% else %>
  <%= link_to 'Auth', auth_user_path(@user), class: 'btn-green' %>

  <%= link_to 'Password reset', password_reset_path(user: @user.id), class: 'btn-orange' %>

  <% if @user.locations.first %>
  <%= link_to 'Edit Studio', edit_location_path(@user.locations.first), class: 'btn-green' %>
  <% else %>
  <%= link_to 'New Studio', new_location_path(user_id: @user), class: 'btn-green' %>
  <% end %>

  <%= link_to 'Remove this user', user_path(@user), class: "btn-grey",
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
    
  <%= link_to "Back to users", users_path, class: "btn-green" %>
  <div>
</div>