<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Password Reset</h1>

  <%= form_with(class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :id, 'User id' %>
      <%= form.select :id, @users, {selected: @user},
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :link %>
      <%= form.url_field :link, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit 'Send email', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= link_to 'Back to index', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>