<% canonical_host = URI.parse(Showcase.canonical_url).host %>
<% if ENV['RAILS_PROXY_HOST'].present? && ENV['RAILS_PROXY_HOST'] != canonical_host && !Rails.env.development? && local_assigns[:show_backup_warning] != false %>
  <% if ENV['RAILS_APP_DB'] == "demo" %>
    <%# Skip backup warning for demo %>
  <% else %>
    <div class="border-double border-4 bg-white rounded-lg border-red-600 mx-4 my-8 pl-4 pr-4 py-4 text-left">
      <% if local_assigns[:backup_message_type] == 'event' %>
        <p>This server is for backup use only.  Unless there are problems, the link you should be using is:
          <a class="underline" href="<%= Showcase.canonical_url %>/<%= ENV['RAILS_APP_SCOPE'] %>/"%><%= Showcase.canonical_url %>/<%= ENV['RAILS_APP_SCOPE'] %>/</a>.
        <p class="mt-4">If you make changes in both locations without waiting for the sites to synchronize,
          <span class="bold text-red-600">you will lose data</span>.
      <% else %>
        <p>This server is intended for backup use only.  Unless there are problems, the link you should be using is:
          <%
            # Strip /showcase prefix if present, then build canonical URL
            path = request.original_fullpath.sub(/^\/showcase/, '')
            link = "#{Showcase.canonical_url}#{path}"
          %>
          <a class="underline" href="<%= link %>"><%= link %></a>.
      <% end %>
    </div>
  <% end %>
<% end %>

<% if local_assigns[:browser_warn] %>
  <div class="border-double border-4 rounded-lg border-red-600 mx-4 my-8 pl-4 pr-4 py-4 text-left">
    <strong><%= browser_warn %></strong>
    <p class="mt-4">This application uses web features that may not be supported by the browser you are using.</p>
  </div>
<% end %>