<div id="<%= dom_id dance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= dance.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Open Category:</strong>
    <%= dance.open_category&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Closed Category:</strong>
    <%= dance.closed_category&.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this dance", dance, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this dance', edit_dance_path(dance), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
