<div class="mx-auto" id="dances">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>The order dances appear on this list affects the order they appear on the entry form.  You can rearrange the order by using drag and drop.
<li>Clicking a dance name will let you edit that dance's names and assigned categories.
</ul>
</div>

  <h1 class="text-center font-bold text-4xl mb-8">Dances</h1>

  <div class="min-w-full">
  <table class="mx-auto table-fixed">
    <thead>
      <tr>
        <th class="row-head">Dance
        <th class="row-head">Categories
        <th class="row-head">Entries
        <th class="row-head">Heats
      </tr>
    </thead>
    <tbody data-controller="drop" data-drop-action="<%= drop_dances_path %>">
    <% @dances.each do |dance| %>
      <% next if dance.heat_length %>
      <tr class="hover:bg-yellow-200" draggable="true" data-drag-id="<%= dance.id %>">
        <td class="row text-black font-medium"><%= link_to dance.name, edit_dance_path(dance) %></td>
        <td class="row grid grid-cols-1">
          <%= link_to dance.closed_category&.name, edit_category_path(dance.closed_category) if dance.closed_category %>
          <%= link_to dance.open_category&.name, edit_category_path(dance.open_category) if dance.open_category %>
          <%= link_to dance.solo_category&.name, edit_category_path(dance.solo_category) if dance.solo_category %>
        </td>
        <td class="row text-right"><%= @entries[dance.id] || 0 %></td>
        <td class="row text-right"><%= @heats[dance.id] || 0 %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="2" class="border-t-2 border-gray-200 row text-center font-bold">total
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @dances.map {|dance| dance.heat_length ? 0 : @entries[dance.id] || 0}.sum %>
      </td>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @dances.map {|dance| dance.heat_length ? 0 : @heats[dance.id] || 0}.sum %>
      </td>
    </tr>
    </tbody>
  </table>

<% if @dances.any? {|dance| dance.heat_length} %>
  <h1 class="text-center font-bold text-4xl my-8">Multi-Dances</h1>

  <div class="min-w-full">
  <table class="mx-auto table-fixed">
    <thead>
      <tr>
        <th class="row-head">Dance
        <th class="row-head">Category
        <th class="row-head">Entries
        <th class="row-head">Heats
      </tr>
    </thead>
    <tbody data-controller="drop" data-drop-action="<%= drop_dances_path %>">
    <% @dances.each do |dance| %>
      <% next unless dance.heat_length %>
      <tr class="hover:bg-yellow-200" draggable="true" data-drag-id="<%= dance.id %>">
        <td class="row text-black font-medium"><%= link_to dance.name, edit_multi_path(dance.id) %></td>
        <td class="row grid grid-cols-1">
          <%= link_to dance.multi_category&.name, edit_category_path(dance.multi_category) if dance.multi_category %>
        </td>
        <td class="row text-right"><%= @entries[dance.id] || 0 %></td>
        <td class="row text-right"><%= @heats[dance.id] || 0 %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="2" class="border-t-2 border-gray-200 row text-center font-bold">total
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @dances.map {|dance| dance.heat_length ? @entries[dance.id] || 0 : 0}.sum %>
      </td>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @dances.map {|dance| dance.heat_length ? @heats[dance.id] || 0 : 0}.sum %>
      </td>
    </tr>
    </tbody>
  </table>
  <% end %>


</div>

<div class="mt-4 grid grid-cols-3 justify-between items-center">
  <%= up_link 'New dance', new_dance_path, class: "btn-blue" %>
  <%= up_link 'New multi-dance', new_multi_path, class: "btn-blue" %>
  <%= link_to 'Arrange', form_dances_path, class: "btn-green" %>
  <%= link_to 'Categories', categories_path, class: "btn-green" %>
  <%= link_to 'Back to Summary', summary_event_index_path, class: "btn-green" %>
</div>
</div>