<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-4xl pb-3"><%= @dance.name %> songs</h1>
    <h1 class="text-xl pb-5">(<%= pluralize(@heats, "heat")%>, <%= pluralize(@songs.length, "song")%>)</h1>

  <% unless @songs.empty? %>
  <% @includes_artists = @songs.any? {|song| not song.artist.blank?} %>
  <div class="min-w-full">
  <table class="mt-4 table-auto mx-auto">
  <thead>
    <th class="row-head">Title</th>
    <% if @includes_artists %>
    <th class="row-head">Artist</th>
    <% end %>
    <th class="row-head">Song</th>
  </thead>
  <%= render 'list', locals: {includes_artists: @includes_artists} %>
  </table>
</div>
<% end %>

    <h2 class="font-bold text-2xl my-4">Upload songs</h2>
    <form method="post" enctype="multipart/form-data" action=<%= dance_song_upload_url %>>
    <input type="hidden" name="dance" value="<%= @dance.id %>">
    <%= file_field :song, :files, multiple: true %>
    <%= button_tag 'Upload', name: 'anchor', value: 'description', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </form>

    <div class="mt-4">
    <%= link_to 'Back to dance', edit_dance_path(@dance), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>

</div>
