<div>

<% user_agent = UserAgent.parse(request.user_agent) %>

<h1 class="mt-16 font-bold text-4xl mb-6">User Agent</h1>
<table>
<tbody>
  <% user_agent.to_h.sort.each do |key, value| %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

<h1 class="mt-16 font-bold text-4xl mb-6">request.env</h1>
<table>
<tbody>
  <% request.env.sort.each do |key, value| %>
  <% value = '*REDACTED*' if key == 'HTTP_AUTHORIZATION' %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

<h1 class="mt-16 font-bold text-4xl mb-6">ENV</h1>
<table>
<tbody>
  <% ENV.sort.each do |key, value| %>
  <% value = '*REDACTED*' if key == 'RAILS_MASTER_KEY' %>
  <% value = '*REDACTED*' if key == 'AWS_SECRET_ACCESS_KEY' %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

<h1 class="mt-16 font-bold text-4xl mb-6">Version Information</h1>
<table>
<tbody>
  <tr>
    <td>Rails version:
    <td><%= Rails.version %>
  </tr>
  <tr>
    <td>Rack version:
    <td><%= Rack.release %>
  </tr>
  <tr>
    <td>Ruby version:
    <td><%= RUBY_DESCRIPTION %>
  </tr>
  <tr>
    <td>Memory allocator:
    <td><%=
      if ENV['LD_PRELOAD']&.include?('jemalloc')
        "jemalloc (LD_PRELOAD)"
      elsif RbConfig::CONFIG['LIBS']&.include?('-ljemalloc')
        "jemalloc (compiled)"
      else
        "system default"
      end
    %>
  </tr>
  <tr>
    <td>Frozen string literals:
    <td><%= "test".frozen? ? "enabled" : "disabled" %>
  </tr>
</tbody>
</table>

</div>
