<div class="w-full mx-12">

<table class="table-auto w-full">
<thead>
<tr>
<th align="left">Studio
<th align="left">Event
<th align="left"><%= link_to "Date",  inventory_path %>
<th align="right"><%= link_to "People",  inventory_path(sort: 'people') %>
<th align="right"><%= link_to "Heats",  inventory_path(sort: 'heats') %>
<th align="right"><%= link_to "Entries", inventory_path(sort: 'entries') %>
<tr>
</thead>
<tbody>
<% @events.each do |event| %>
<% if event[:entries].to_i == 0 && !event[:date].start_with?(Date.today.year.to_s) %>
<tr class="bg-gray-200">
<% else %>
<tr>
<% end %>
  <% year, city, token = event[:db].split('-', 3) %>
  <td><%= link_to event[:studio], studio_events_path(city) %>
  <td><%= link_to event[:name], "#{@scope}/#{year}/#{city}/#{token}/".squeeze('/') %>
  <td><%= event[:date] %>
  <td align="right"><%= event[:people] %>
  <td align="right"><%= event[:heats] %>
  <td align="right"><%= event[:entries] %>
<% end %>
</tbody>
</table>
</div>