<div class="mx-auto md:w-2/3 w-full">

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Printed materials can be downloaded or printed directly from your browser.
  <li>Labels have been tested with Avery 8168 3-1/2" x 5" paper.  Or you can export names and studios
  use mail merge software to design your own labels.
  <li>Exported spreadsheets should work in either Microsoft Excel or Mac Numbers.
  </ul>
</div>

  <h1 class="text-center font-bold text-4xl mb-8">Publish</h1>

  <h2 class="font-bold text-2xl mb-8">Web</h1>
  <ul class="ml-8">
  <li class="my-2"><%= link_to "Heats", @public_url.to_s + '/heats', class: "btn-green w-60" %>
  <li class="my-2"><%= link_to "Counter", @public_url.to_s + '/counter', class: "btn-green w-60" %>

  <div class="float-right w-1/3">
  <a href="<%= qrcode_event_index_path %>">
  <%= RQRCode::QRCode.new(@public_url.to_s + '/heats').as_svg(viewbox: true).html_safe %>
  </a>

  <%= form_with model: @event, data: {controller: "autoform"} do |form| %>
  <div class="mt-12">
  <%= form.label :font_family %>
  <%= form.select :font_family, @fonts, {},
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mt-12">
  <%= form.label :font_size %>
  <%= form.text_field :font_size, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 flex items-center">
  <%= form.check_box :include_times, class: "entry-count h-10" %>
  <%= form.label :include_times, class: "align-middle" %>
  </div>

  <div class="my-5 flex items-center">
  <%= form.check_box :print_studio_heats, class: "entry-count h-10" %>
  <%= form.label :print_studio_heats, 'include studio heats', class: "align-middle" %>
  </div>
  <% end %>
  </div>

  </ul>

  <h2 class="font-bold text-2xl my-8">Print</h1>

  <ul class="ml-8">
  <li class=""><%= link_to "Invoices", invoices_studios_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Master Heat Book", book_heats_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Judge Heat Book", book_heats_path(type: 'judge', format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Emcee Heat Book", book_heats_path(type: 'emcee', format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "DJ Dance list", djlist_heats_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Individual Heat Sheets", heats_people_path(format: :pdf), class: "btn-pale-orange w-60" %>

  <% if @event.backnums %>
  <li class=""><%= link_to "Back Numbers", back_numbers_people_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <% else %>
  <li class=""><a role="link" aria-disabled="true" class="btn-pale-orange w-60 btn-disabled">Back Numbers</a>
  <% end %>

  <li class=""><%= link_to "Labels", labels_people_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Student Scores", scores_people_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Staff", staff_people_path(format: :pdf), class: "btn-pale-orange w-60" %>
  <li class=""><%= link_to "Certificates", people_certificates_path, class: "btn-blue w-60" %>
  </ul>

  <h2 class="font-bold text-2xl my-8">Export</h1>

  <ul class="ml-8">
  <li class=""><%= link_to "Labels", labels_studios_path(format: :csv), class: "btn-green w-60" %>
  <li class=""><%= link_to "Spreadsheet", event_spreadsheet_path, class: "btn-green w-60" %>
  <li class=""><%= link_to "Database", event_database_path, class: "btn-green w-60" %>
  </ul>
</div>
