<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-center font-bold text-4xl mb-8">Publish</h1>
  <h2 class="font-bold text-2xl mb-8">Print</h1>

  <ul class="ml-8">
  <li class="my-2"><%= link_to "Master Heat Book", book_heats_path, class: "btn-green w-60" %>
  <li class="my-2"><%= link_to "Judge Heat Book", book_heats_path(type: 'judge'), class: "btn-green w-60" %>
  <li class="my-2"><%= link_to "Individual Heat Sheets", heats_people_path, class: "btn-green w-60" %>
  <li class="my-2"><%= link_to "Student Scores", scores_people_path, class: "btn-green w-60" %>
  </ul>

  <h2 class="font-bold text-2xl my-8">Export</h1>

  <ul class="ml-8">
  <li><%= link_to "Spreadsheet", event_spreadsheet_path, class: "btn-green w-60" %>
  </ul>
</div>