<div class="mx-auto" data-controller="mapper">

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box space-y-2">
  <li>When you see an &#x24D8; in the top left corner of the page, you
can click on it to see helpful hints.</li>
  <li>Click on it again to dismiss the hints.</li>
  <li>Skim the <%= link_to "Documentation", docs_path, class: "x-2 rounded-lg py-1 px-2 text-white bg-green-600 font-medium" %> pages.
  A <%= link_to "docs", docs_path %> link appears at the bottom of the main page for each event.
  <li>Try the <%= link_to "Demo", "https://showcase.party/demo/", class: "x-2 rounded-lg py-1 px-2 text-white bg-green-600 font-medium" %>.
  Any data entered there will normally be reset after about an hour of inactivity.
</li>
  <li>Click a city below to get started.  Access to an individual event will require a 
    <a class="underline" href="<%= docs_path %>ops/Passwords">password</a> and permission from the event owner.</li>
  </ul>
</div>

<h1 class="mt-8 text-center font-bold text-4xl mb-8"><a href="https://fly.io/docs/reference/regions/">Showcase Sites</a></h1>

<div class="flex w-full">
<div class="flex-auto">
<%= render "map" %>
</div>

<div class="flex-none">
<div class="flex flex-col justify-end">
  <%= link_to 'Demo', "https://showcase.party/demo/", class: "btn-green" %>
  <%= link_to 'Documentation', docs_path, class: "btn-green my-2" %>
</div>
</div>
</div>

<div id="region-list" class="w-full">
<table class="table-auto mt-8 w-full">
<% @regions.to_a.sort.each do |region, cities| %>
  <tr class="w-full">
    <td><img src="https://fly.io/phx/ui/images/<%= region %>.svg" width="20">
    <td><span class="w-14 text-2xl inline-block ml-4 cursor-pointer"><%= link_to region, region_path(region), title: @map['regions'][region]["name"] %></span>
    <td><span class="text-slate-500"><%= cities.map {|city| link_to city, studio_events_path(@cities[city]), class: "cursor-pointer"}.join(", ").html_safe %></span>
  </tr>
<% end %>
</table>
</div>

<p class="mt-4">Click on the <span class="text-emerald-600">&#x24D8;</span> in the top
    left corner of this page to see helpful hints.</p>

<p class="mt-4 text-right">
See:
<%= link_to 'docs', docs_path %>,
<a href="https://github.com/rubys/showcase#readme">code</a>,
<a href="https://github.com/rubys/showcase/issues">issues</a>.
</p>

<%= link_to 'Index', root_path, class: 'btn-blue' %>
<% if User.index_auth? @authuser %>
<% if  Rails.env.development? %>
<%= link_to 'Admin', admin_path, class: 'btn-orange' %>
<% else if @authuser and User.index_auth(@authuer) %>
<%= link_to 'Admin', admin_path, class: 'btn-orange' %>
<% else %>
<%= link_to 'Admin', admin_path, class: 'btn-orange cursor-not-allowed' %>
<% end %>
<% end %>
<% end %>

</div>
