<div class="mx-auto md:w-2/3 lg:w-1/2">

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Edit event information on the Settings page.
  <li>Add Studios, then add Professionals, Guests, and Students to Studios</li>
  <li>Review Dances, then add Heats and Solos to Students.
  <li>Define Agenda, then redo Heats.</li>
  <li>Publish when closer to the event.</li>
  <li>Enter scores from the judges pages.</li>
  <li>Click on the logo on the top right at any time to return to this page.
  </ul>
</div>

  <h1 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4 text-center"><%= @event.location.to_s.lines.first.chomp %></p>
  <p class="mt-2 text-center"><%= @event.date %></p>
  <p class="mt-2 text-center"><%= pluralize(@heats, 'heat') %></p>

  <h2 class="font-bold text-2xl mt-4 mb-2">Judges</h2>
  <ul class="list-disc list-inside">
    <% @judges.each do |judge| %>
      <li><%= link_to judge.display_name, judge %></li>
    <% end %>
  </u>
  
  <h2 class="font-bold text-2xl mt-4 mb-2">Emcee</h2>
  <ul class="list-disc list-inside">
    <% @emcees.each do |emcee| %>
      <li><%= link_to emcee.display_name, emcee %></li>
    <% end %>
  </ul>

  <div class="mt-8 grid grid-cols-3 gap-1">
    <%= link_to "Studios", studios_path, class: "btn-green" %>
    <%= link_to "Students", students_people_path, class: "btn-blue" %>
    <%= link_to "Heats", heats_path, class: "btn-green" %>

    <%= link_to "Dances", dances_path, class: "btn-pale-blue" %>
    <%= link_to "Agenda", categories_path, class: "btn-pale-green" %>
    <%= link_to "Backs", backs_people_path, class: "btn-pale-blue" %>

    <%= link_to "Summary", summary_event_index_path , class: "btn-grey" %>
    <%= link_to "Publish",  publish_event_index_path, class: "btn-pale-orange" %>
    <%= link_to "Settings", settings_event_index_path , class: "btn-grey" %>
  </div>
</div>
