<div class="mx-auto md:w-2/3 lg:w-1/2">

  <% if not ENV['FLY_REGION'] and not Rails.env.development? %>
  <div class="border-double border-4 bg-white rounded-lg border-red-600 mx-4 my-8 pl-4 pr-4 py-4 text-left">
  <p>This server is for backup use only.  Unless there are problems, the link you should be using is:
    <a class="underline" href="<%= Showcase.url %>/<%= ENV['RAILS_APP_SCOPE'] %>/"%><%= Showcase.url %>/<%= ENV['RAILS_APP_SCOPE'] %>/</a>.

  <p class="mt-4">If you make changes in both locations without waiting for the sites to synchronize,
    <span class="bold text-red-600">you will lose data</span>.
  </div>
  <% elsif @browser_warn %>
  <div class="border-double border-4 rounded-lg border-red-600 mx-4 my-8 pl-4 pr-4 py-4 text-left">
    <strong><%= @browser_warn %></strong>
    <p class="mt-4">This application uses web features that may not be supported by the browser you are using.</p>
  </div>
  <% end %>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Edit event information on the Settings page.
  <li>Add Studios, then add Professionals, Guests, and Students to Studios</li>
  <li>Review Dances, then add Heats and Solos to Students.
  <li>Define Agenda, then redo Heats.</li>
  <li>A form to assign back numbers to all leaders can be found on the Backs page.</li>
  <li>Publish when closer to the event.</li>
  <li>Enter scores from the judges pages.</li>
  <li>Click on the logo on the top right at any time to return to this page.
  </ul>
</div>

<% if ENV['RAILS_APP_DB'] == "demo" -%>
<span class="absolute text-5xl -rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">Demo</span>
<% end -%>

<span data-controller="event-navigation">
  <a rel="up" href="<%= @up || ".." %>"></a>
  <% if @prev %><a rel="prev" href="<%= @prev %>"></a><% end %>
  <% if @next %><a rel="next" href="<%= @next %>"></a><% end %>
</span>

  <% if Rails.env.development? %>
  <a href="<%= select_path %>" class="absolute right-36 text-5xl rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">Dev</a>
  <% elsif not ENV['FLY_REGION'] and not Rails.env.test? and ENV['RAILS_PROXY_HOST'] -%>
  <a href="/showcase/docs/ops/Hosting" class="absolute right-36 text-5xl rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">
  <%= ENV['RAILS_PROXY_HOST'].split('.').first.capitalize %>
  </a>
  <% end -%>

  <h1 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4 text-center"><%= @event.location.to_s.lines.first.to_s.chomp %></p>
  <p class="mt-2 text-center"><%= @event.date %></p>
  <p class="mt-2 text-center"><%= pluralize(@heats, 'heat') %>
  <% if @unscheduled > 0 -%>
  + <%= @unscheduled %> unscheduled
  <% end -%>
  </p>

  <h2 class="font-bold text-2xl mt-4 mb-2"><%= @judges.length == 1 ? 'Judge' : 'Judges' %></h2>
  <ul class="list-disc list-inside">
    <% @judges.each do |judge| %>
      <% if @event.assign_judges? and not judge.present? %>
      <li><%= link_to judge.display_name, judge, class: 'opacity-40' %></li>
      <% else %>
      <li><%= link_to judge.display_name, judge %></li>
      <% end %>
    <% end %>
  </u>

  <% unless @djs.length == 0 %>
  <h2 class="font-bold text-2xl mt-4 mb-2">DJ</h2>
  <ul class="list-disc list-inside">
    <% @djs.each do |dj| %>
      <li><%= link_to dj.display_name, dj %></li>
    <% end %>
  </ul>
  <% end %>
  
  <% unless @emcees.length == 0 %>
  <h2 class="font-bold text-2xl mt-4 mb-2">Emcee</h2>
  <ul class="list-disc list-inside">
    <% @emcees.each do |emcee| %>
      <li><%= link_to emcee.display_name, emcee %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="mt-8 grid grid-cols-3 gap-1">
    <%= link_to "Studios", studios_path, class: "btn-green" %>
    <%= link_to "Students", students_people_path, class: "btn-blue" %>
    <%= link_to "Heats", heats_path, class: "btn-green" %>

    <%= link_to "Dances", dances_path, class: "btn-pale-blue" %>
    <%= link_to "Agenda", categories_path, class: "btn-pale-green" %>
    <% if @event.backnums %>
    <%= link_to "Backs", backs_people_path, class: "btn-pale-blue" %>
    <% else %>
    <a role="link" aria-disabled="true" class="btn-pale-blue btn-disabled">Backs</a>
    <% end %>

    <%= link_to "Summary", summary_event_index_path , class: "btn-grey" %>
    <%= link_to "Publish",  publish_event_index_path, class: "btn-pale-orange" %>
    <%= link_to "Settings", settings_event_index_path , class: "btn-grey" %>
  </div>

  <p class="mt-4 text-right">
  See:
  <% if @heats == 0 && @unscheduled == 0 -%>
  <%= link_to 'docs', docs_path, class: 'font-bold text-xl text-purple-600' %>,
  <% else -%>
  <%= link_to 'docs', docs_path %>,
  <% end -%>
  <a href="https://github.com/rubys/showcase#readme">code</a>,
  <a href="https://github.com/rubys/showcase/issues">issues</a>.
  </p>

<% if @heats == 0 && @unscheduled == 0 -%>
<p class="mt-4">Click on the <span class="text-emerald-600">ⓘ</span> in the top
left corner of this page to see helpful hints.</p>

<% end -%>
<% if ENV['RAILS_APP_DB'] == "demo" -%>
<p class="mt-4 p-2 border border-red-600 rounded-md">
All data entered in this demo event is visible to everyone, and will be discarded about an hour after this
demo is last accessed, or when a new version of the showcase software is deployed, whichever comes first.
</p>
<% end %>
</div>
