<div class="mx-auto">
  <h1 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4 text-center"><%= @event.location %></p>
  <p class="mt-2 text-center"><%= @event.date %></p>
  <p class="mt-2 text-center"><%= pluralize(@heats, 'heat') %></p>

  <h2 class="font-bold text-2xl mt-4 mb-2">Judges</h2>
  <ul class="list-disc list-inside">
    <% @judges.each do |judge| %>
      <li><%= link_to judge.name, judge %></li>
    <% end %>
  </u>
  
  <h2 class="font-bold text-2xl mt-4 mb-2">Emcee</h2>
  <ul class="list-disc list-inside">
    <% @emcees.each do |emcee| %>
      <li><%= link_to emcee.name, emcee %></li>
    <% end %>
  </ul>

  <div class="mt-8 grid grid-cols-3 gap-4">
    <%= link_to "Studios", studios_path, class: "btn-green" %>
    <%= link_to "Students", students_people_path, class: "btn-blue" %>
    <%= link_to "Heats", heats_path, class: "btn-green" %>

    <%= link_to "Dances", dances_path, class: "btn-pale-blue" %>
    <%= link_to "Categories", categories_path, class: "btn-pale-green" %>
    <div class="btn-pale-blue cursor-not-allowed">Scores</div>

    <%= link_to "Couples", couples_people_path, class: "btn-grey" %>
    <%= link_to "Backs", backs_people_path, class: "btn-grey" %>
    <%= link_to "Settings", settings_event_index_path , class: "btn-grey" %>
  </div>
</div>
