<div class="mx-auto" data-controller="submit">

<h1 class="font-bold text-4xl my-6 text-center">Select event</h1>

<%= form_with url: select_path, data: {turbo: false} do |form| %>
  <div class="my-5">
    <%= form.select :db, @dbs, {},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.select :date, @dates, {include_blank: true},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex justify-center gap-4">
    <%= form.submit value: 'Open', class: "btn-blue" %>
    <button data-submit-target="submit" type="button"
      class="btn-purple disabled:opacity-50 disabled:cursor-not-allowed">Scopy</button>
    <% if ENV.fetch("RAILS_APP_DB", '') == 'index' %>
    <%= link_to 'Admin', admin_path, class: "btn-green" %>
    <% else %>
    <%= link_to 'Index', index_path, class: "btn-green" %>
    <% end %>
  </div>
<% end %>

<div class="hidden p-4 bg-black rounded-xl">
<div data-submit-target="output" data-stream="<%= @stream %>"
  class="w-full mx-auto overflow-y-auto h-auto font-mono text-sm max-h-[25rem] min-h-[25rem]">
</div>
</div>

</div>