<% content_for :head do %>
  <%= stylesheet_link_tag "xterm", "data-turbo-track": "reload" %>
<% end %>

<div class="mx-auto" data-controller="submit">

<h1 class="font-bold text-4xl my-6 text-center">Select event</h1>

<%= form_with url: select_path, data: {turbo: false} do |form| %>
  <div class="my-5">
    <%= form.select :db, @dbs, {},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.select :date, @dates, {include_blank: true},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="grid grid-cols-3 gap-4 max-w-2xl mx-auto">
    <%= form.submit value: 'Open', class: "btn-blue" %>
    <button data-submit-target="submit" data-stream="<%= @scopy_stream %>" type="button"
      class="btn-purple disabled:opacity-50 disabled:cursor-not-allowed">Scopy</button>
    <% if ENV.fetch("RAILS_APP_DB", '') == 'index' %>
    <%= link_to 'Admin', admin_path, class: "btn-green" %>
    <% else %>
      <% if Rails.env.development? %>
        <button type="submit" name="db" value="index" class="btn-green">Index</button>
      <% else %>
        <%= link_to 'Index', index_path, class: "btn-green" %>
      <% end %>
    <% end %>
    <% if Rails.env.development? %>
      <%= link_to 'Console', web_console_path, class: "btn-purple" %>
    <% end %>
    <button data-submit-target="submit" data-stream="<%= @vscode_stream %>" type="button"
      class="btn-pale-orange disabled:opacity-50 disabled:cursor-not-allowed">VSCode</button>
    <button data-submit-target="submit" data-stream="<%= @db_browser_stream %>" type="button"
      class="btn-pale-orange disabled:opacity-50 disabled:cursor-not-allowed">DB Browser</button>
    <button data-submit-target="submit" data-stream="<%= @hetzner_stream %>" type="button"
      class="btn-orange disabled:opacity-50 disabled:cursor-not-allowed">Hetzner</button>
    <button data-submit-target="submit" data-stream="<%= @flyio_stream %>" type="button"
      class="btn-orange disabled:opacity-50 disabled:cursor-not-allowed">Fly.io</button>
  </div>
<% end %>

<div class="hidden p-4 bg-black rounded-xl">
<div data-submit-target="output"
  class="w-full mx-auto overflow-y-auto h-auto font-mono text-sm max-h-[25rem] min-h-[25rem]">
</div>
</div>

</div>