<div class="mx-auto md:w-2/3 w-full" data-controller="anchored">

<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <% if @sources and not @sources.empty? %>
  <li>Feel free to skip over the "copy from another event" section if this is your first event.  This section of the settings will disappear once you have added a studio.</li>
  <% end %>
  <li>Event description is used in printed materials.</li>
  <li>Event staff are involved in scoring and running the event.</li>
  <li>Packages are fixed costs for partipation - excluding heats.</li>
  <li>Options are for things like meals that may be included in some packages but exta for others</li>
  <li>Number of heats is largely controlled by the number of entries and number of instructors, but you
  can set some limits on who can be on the floor at the same time which may increase the number of heats.</li>
  </ul>
</div>

<% if @sources and not @sources.empty? %>
<div class="mb-16">
<%= render partial: 'clone' %>
</div>
<% end %>

<h1 class="font-bold text-4xl mb-6" id="description">Event Description</h1>

<%= form_with model: @event, data: {turbo: false} do |form| %>

  <% if @event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited these settings from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
  <%= form.label :name %>
  <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :theme %>
  <%= form.text_field :theme, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :location %>
  <%= form.text_area :location, rows: @event.location.blank? ? 2 : @event.location.lines.length + 1,
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :date %>
  <%= form.text_field :date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :heat_length, 'Time between start of heats (in seconds)' %><br>
  <span class="text-sm">(Be sure to include time for people to enter the floor, dance, and exit)</span>
  <%= form.number_field :heat_length, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :solo_length, 'Time between start of solos (if different)' %><br>
  <%= form.number_field :solo_length, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :column_order, 'Heat list column order' %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :column_order, 1 %> Lead, Follow
  <li classs="my-2"><%= form.radio_button :column_order, 2 %> Student, Instructor
  (Lead, Follow for Amateur Couples)
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :ballrooms %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :ballrooms, 1 %> One ballroom
  <li classs="my-2"><%= form.radio_button :ballrooms, 2 %> Two ballrooms:
  <ul class="ml-8">
  <li>Ballroom A: Amateur follower with instructor
  <li>Ballroom B: Amateur leader (includes amateur couples)
  </ul>
  <li classs="my-2"><%= form.radio_button :ballrooms, 3 %> Attempt to evenly split couples between ballrooms
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :open_scoring %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :open_scoring, '1' %> 1/2/3/F
  <li class="my-2"><%= form.radio_button :open_scoring, 'G' %> GH/G/S/B
  <li class="my-2"><%= form.radio_button :open_scoring, '#' %> Number (85, 95, ...)
  <li class="my-2"><%= form.radio_button :open_scoring, '+' %> Feedback (Needs Work On / Great Job With)
  </ul>
  </div>

  <div class="my-5">
  <%= form.label :multi_scoring %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :multi_scoring, 1 %> 1/2/3/F
  <li class="my-2"><%= form.radio_button :multi_scoring, 'G' %> GH/G/S/B
  <li class="my-2"><%= form.radio_button :multi_scoring, '#' %> Number (85, 95, ...)
  </ul>
  </div>

  <div class="my-5">
    <%= form.check_box :judge_comments, class: 'entry-count h-10' %>
    <%= form.label :judge_comments, 'Enable Judge comments?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :backnums, class: 'entry-count h-10' %>
    <%= form.label :backnums, 'Use back numbers?' %>
  </div>

  <div class="my-5">
    <%= form.check_box :track_ages, class: 'entry-count h-10' %>
    <%= form.label :track_ages, 'Track student ages?' %>
  </div>

  <!-- div class="my-5">
    <%= form.check_box :agenda_based_entries, class: 'entry-count h-10' %>
    <%= form.label :agenda_based_entries, 'Match entry forms to agenda?' %>
  </div -->

  <div class="my-5">
    <%= form.label :counter_art %>
    <% if @event.counter_art.attached? and not Rails.env.test? %>
    <%= image_tag @event.counter_art.url, style: 'height: 5em' %>
    <% end %>
    <%= form.file_field :counter_art, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit value: 'Save', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


<h1 class="mt-16 font-bold text-4xl mb-6" id="staff">Event Staff</h1>

<h2 class="font-bold text-2xl mt-4 mb-2">Judges</h2>
<ul class="list-disc list-inside">
  <% @judges.each do |judge| %>
    <li><%= link_to judge.display_name, judge %></li>
  <% end %>
</u>

<h2 class="font-bold text-2xl mt-4 mb-2">DJ</h2>
<ul class="list-disc list-inside mb-8">
  <% @djs.each do |dj| %>
    <li><%= link_to dj.display_name, dj %></li>
  <% end %>
</ul>

<h2 class="font-bold text-2xl mt-4 mb-2">Emcee</h2>
<ul class="list-disc list-inside mb-8">
  <% @emcees.each do |emcee| %>
    <li><%= link_to emcee.display_name, emcee %></li>
  <% end %>
</ul>

<%= link_to "Add person", new_person_path(source: 'settings'), class: "btn-blue" %>

<%= render partial: 'billables/index', locals: { heading: 'Prices', id: 'prices' } %>

<h1 id="adjust" class="mt-16 font-bold text-4xl mb-6">Adjust the number of heats</h1>

<p class="mb-2">
You can indirectly control the number of heats by adjusting who can be
on the floor at the same time.
</p>

<p class="mb-2">
With the slider<% if @event.track_ages %>s<% end %> all the way to the left, Full Bronze students can only be on the floor
with other Full Bronze students.
<% if @event.track_ages %>
And people in age category B1 can only
be on the floor with others in the same age category.
<% end %>
</p>

<p class="mb-2">
With the slider<% if @event.track_ages %>s<% end %> all the way to the right, Open and Closed heats can be 
on the floor at the same time, Newcomers can be on the dance floor at the
same time as Full Gold students.
<% if @event.track_ages %>
And people in any age category can be on the floor at the same time.
<% end %>
</p>

<%= form_with model: @event, local: true, data: {turbo: false} do |form| %>
  <div class="my-5">
    <%= form.label :max_heat_size %>
    <%= form.number_field :max_heat_size,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

<!--
  <div class="my-5">
    <%= form.label :heat_range_cat, 'open/closed' %>
    <%= form.range_field :heat_range_cat, min: 0, max: 1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
-->

  <div class="my-5">
    <%= form.label :heat_range_level, 'level' %>
    <%= form.range_field :heat_range_level, min: 0, max: @levels-1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @event.track_ages %>
  <div class="my-5">
    <%= form.label :heat_range_age, 'age' %>
    <%= form.range_field :heat_range_age, min: 0, max: @ages-1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% else %>
    <%= form.hidden_field :heat_range_age, value: @ages-1 %>
  <% end %>

  <div class="my-5">
    <%= form.label :intermix, 'Intermix dances within category:' %>
    <%= form.check_box :intermix, class: 'entry-count h-10' %>
  </div>

  <div class="inline">
    <%= form.submit value: 'Save', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>  
<% end %>

<h1 id="advanced" class="mt-16 font-bold text-4xl mb-6">Advanced</h1>

<p class="mb-2">
You normally won't need to adjust these.  Be aware that any ajustments may affect any students
and heats that you have entered so far.
</p>

<%= link_to 'Ages', ages_event_index_path, class: 'btn-grey' %>
<%= link_to 'Levels', levels_event_index_path, class: 'btn-grey' %>
<%= link_to 'Dances', dances_event_index_path, class: 'btn-grey' %>

</div>
