<div class="mx-auto">

<h1 class="font-bold text-center text-4xl mb-6">Event Summary</h1>

<% if @packages.values.map(&:values).flatten.any? {|count| count > 0} %>
<h2 class="font-bold text-2xl my-4">Packages</h2>
<ul class="list-disc list-inside">
  <% @packages.each do |type, packages| %>
    <% next if packages.values.all? {|count| count == 0 } %>
    <li><%= type %>
    <ul class="ml-4 list-disc list-inside">
    <% packages.each do |package, count| %>
      <% next if count == 0 %>
      <li><%= link_to package.name, people_package_path(package.id) %>: <%= count %></li>
    <% end %>
    </ul>
  <% end %>
</ul>
<% end %>

<% if @options.values.any? {|count| count > 0} %>
<h2 class="font-bold text-2xl my-4">Options</h2>
<ul class="list-disc list-inside">
  <% @options.each do |option, count| %>
    <% next if count == 0 %>
    <li><%= link_to option.name, people_package_path(option.id) %>: <%= count %></li>
  <% end %>
</ul>
<% end %>

<h2 class="font-bold text-2xl my-4">People</h2>

<ul class="list-disc list-inside">
  <% @people.sort.each do |type, people| %>
    <li><%= link_to type, people_path(type: type) %>: <%= people.length %></li>

    <% if %w(Professional Student).include? type %>
    <ul class="ml-4 list-disc list-inside">
      <% people.group_by {|person| person.role}.sort.each do |role, people| %>
        <li><%= link_to role, people_path(type: type, role: role) %>: <%= people.length %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</ul>

<%if @people['Student'] %>
<h2 class="font-bold text-2xl my-4">Students, by level</h2>

<ul class="list-disc list-inside">
  <% @people['Student'].group_by {|person| person.level || Level.first}.sort.each do |level, people| %>
    <li><%= link_to level.name, people_path(level: level.id) %>: <%= people.length %></li>
  <% end %>
</ul>

<% if @track_ages %>
<h2 class="font-bold text-2xl my-4">Students, by age</h2>

<ul class="list-disc list-inside">
  <% @people['Student'].select {|person| person.age}.group_by {|person| person.age}.sort.each do |age, people| %>
    <li><%= link_to "#{age.category} (#{age.description})", people_path(age: age.id) %>: <%= people.length %></li>
  <% end %>
</ul>
<% end %>
<% end %>

<h2 class="font-bold text-2xl my-4">See also:</h2>

<div class="grid grid-cols-3 gap-1">
<%= link_to "Couples", couples_people_path, class: "btn-pale-green" %>
<%= link_to "Professionals", professionals_people_path, class: "btn-pale-green" %>
<%= link_to "Guests", guests_people_path, class: "btn-pale-green" %>

<%= link_to "Dances", dances_path, class: "btn-pale-blue" %>
<%= link_to "Categories", categories_path, class: "btn-pale-blue" %>
<%= link_to 'Scores by studio', by_studio_scores_path , class: "btn-pale-green" %>

<%= link_to 'Scores by level', by_level_scores_path , class: "btn-pale-green" %>
<% if @track_ages %>
<%= link_to 'Scores by age', by_age_scores_path , class: "btn-pale-green" %>
<% end %>
<%= link_to 'Instructor Scores', instructor_scores_path , class: "btn-pale-green" %>
<% if @multi > 0 %>
<%= link_to 'Multi Scores', multis_scores_path , class: "btn-pale-green" %>
<% end %>
<% if @pro_heats %>
<%= link_to 'Pro Scores', pros_scores_path , class: "btn-pale-green" %>
<% end %>
</div>

</div>
