<%= form_with(model: showcase, class: "contents", id: 'showcase-form', data: {controller: 'name-to-token'}) do |form| %>
  <% if showcase.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(showcase.errors.count, "error") %> prohibited this showcase from being saved:</h2>

      <ul>
        <% showcase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :year %>
    <%= form.number_field :year, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, data: {"name-to-token-target" => "name"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :key %>
    <%= form.text_field :key, data: {"name-to-token-target" => "token"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location_id %>
    <%= form.select :location_id, @locations, {},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="date-range">
    <div class="my-5">
      <%= form.label :start_date, 'Start Date' %>
      <%= form.date_field :start_date, value: showcase.start_date,
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <% end_date = showcase.end_date %>
      <%= form.label :end_date, 'End Date' %>
      <%= form.date_field :end_date, value: end_date.blank? || (showcase.start_date && end_date < showcase.start_date) ? showcase.start_date : end_date,
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
<% end %>
