<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Showcase Request Confirmation</title>
    <meta name="description" content="Showcase Request Confirmation Email.">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <a href="<%= root_url.chomp('/') + '/' %>" title="logo" target="_blank">
                                            <img width="60" height="60" src="<%= @logo %>" title="logo" alt="logo" moz-do-not-send="true">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:30px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">Showcase Request Received</h1>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            A new showcase has been requested by <strong><%= @requester_name %></strong>.
                                        </p>
                                        
                                        <div style="background:#f9f9f9; border:1px solid #e0e0e0; border-radius:5px; padding:20px; margin:20px 0; text-align:left;">
                                            <h2 style="color:#1e1e2d; font-weight:500; margin:0 0 10px 0;font-size:20px;font-family:'Rubik',sans-serif;">Showcase Details</h2>
                                            <p style="color:#455056; font-size:14px;line-height:20px; margin:5px 0;">
                                                <strong>Location:</strong> <%= @showcase.location.name %><br>
                                                <strong>Year:</strong> <%= @showcase.year %><br>
                                                <strong>Name:</strong> <%= @showcase.name %><br>
                                                <strong>Key:</strong> <%= @showcase.key %><br>
                                                <% if @showcase.date.present? %>
                                                <strong>Date:</strong> <%= @showcase.date %><br>
                                                <% end %>
                                            </p>
                                        </div>
                                        
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:10px 0;">
                                            This showcase request has been recorded and will be reviewed by the system administrators.
                                        </p>
                                        
                                        <p style="color:#455056; font-size:13px;line-height:20px; margin:20px 0; font-style:italic;">
                                            This is an automated confirmation email. If you have any questions, please contact the system administrator.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>