<div class="mx-auto md:w-2/3 w-full">
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>

  <h1 class="font-bold text-4xl">Tables</h1>

  <div id="grid" class="my-5" style="display: grid; grid-template-columns: repeat(<%= @columns %>, 1fr);  gap: 10px;">
    <% @tables.each do |table| %>
      <% if table.row and table.col %>
        <%= link_to table, class: "p-2 border rounded bg-gray-50 hover:bg-blue-100 cursor-pointer block text-decoration-none", style: "grid-row:#{table.row}; grid-column:#{table.col}" do %>
          <div class="font-bold text-gray-900">Table <%= table.number %></div>
          <div class="text-sm text-gray-600"><%= table.name %></div>
        <% end %>
      <% else %>
        <%= link_to table, class: "p-2 border rounded bg-gray-50 hover:bg-blue-100 cursor-pointer block text-decoration-none" do %>
          <div class="font-bold text-gray-900">Table <%= table.number %></div>
          <div class="text-sm text-gray-600"><%= table.name %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="flex gap-3">
    <%= link_to 'Arrange Tables', arrange_tables_path, class: "btn-purple" %>
    <%= link_to 'New table', new_table_path, class: "btn-green" %>
  </div>
</div>