
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
    <div class="info-button">ⓘ</div>
    <ul class="info-box" style="display: block;">
    <li>Click on a button to edit its name.</li>
    <li>Change its name to blank to delete it.</li>
    <li>Drag and drop to reorder.</li>
    <li>Click on an abbreviation to edit it.  Make sure abbreviations are unique. If not, they will show up with a red background.</li>
    </ul>
  </div>

  <h1 class="font-bold text-4xl pb-5 text-center">Feedback Buttons</h1>

  <%= render partial: 'buttons' %>

  <h2 class="font-bold text-2xl mt-5 mb-3">Legend</h2>

  <% issues = @feedbacks.group_by(&:abbr).select {|abbr, feedbacks| feedbacks.length > 1}.keys %>

  <form class="ml-4" data-controller="auto-submit" method="post" id="abbreviations"
    action="<%= update_abbrs_feedbacks_path %>">
  <div class="grid grid-cols-2 gap-x-4" style="grid-template-columns: auto 1fr; column-count: 2;">
    <% @feedbacks.sort_by {|feedback| feedback.abbr }.each do |feedback| %>
      <% next if feedback.abbr.blank? %>
      <input
        id="abbr-<%= feedback.order %>" name="<%= feedback.order %>" type="text"
        class="appearance-none py-0 border-none w-12 mb-1 text-sm <% if issues.include? feedback.abbr %> bg-red-300 text-center<% end %>"
        value="<%= feedback.abbr %>">
      <span><%= feedback.value %></span>
    <% end %>
  </div>
  </form>

  <div class="mx-auto w-full mt-4 text-center">
    <%= button_to 'Reset', reset_feedbacks_path,
      form_class: "inline-block",
      class: "btn-orange", method: :post,
      data: {turbo_confirm: 'Are you sure?'} %>

    <%= link_to 'Back to Settings',
      settings_event_index_path(tab: 'Advanced'),
      class: "btn-grey" %>
    </div>
</div>
