<div id="<%= dom_id formation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= formation.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Solo:</strong>
    <%= formation.solo_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this formation", formation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this formation', edit_formation_path(formation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
