  <div id="<%= id %>" class="min-w-full">

  <div class="float-right">
    <%= link_to 'New package', new_billable_path(type: 'package'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to 'New option', new_billable_path(type: 'option'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium mt-4" %>
  </div>

    <h1 class="mt-16 font-bold text-4xl mb-6"><%= heading %></h1>

    <% %w(Student Professional Guest Judge Emcee Official Organizer).each do |type| %>
    <% if @packages.include? type %>
    <h2 class="font-bold text-2xl mt-4"><%= type %> Packages</h1>
    <table class="table-auto">
      <thead>
        <th>Name
        <th>Price
      </thead>
      <%= render partial: "billables/group", locals: { group: @packages[type], id: "#{type}-packages" } %>
    </table>
    <% end %>
    <% end %>

    <% unless @options.empty? %>
    <h2 class="font-bold text-2xl mt-4">Options</h1>
    <table class="table-auto">
      <thead>
        <th class="w-1/2">Name
        <th>Price
      </thead>
      <%= render partial: "billables/group", locals: { group: @options, id: 'billable-options' } %>
    </table>
    <% end %>  

    <%= form_with(model: @event, class: "contents", data: {turbo: false}) do |form| %>

  <div class="my-5">
    <%= form.check_box :package_required, class: 'entry-count h-10' %>
    <%= form.label :package_required, 'Packages are required to participate' %>
  </div>

  <h2 class="font-bold text-2xl mt-4">Dances</h1>

  <% if @event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited these dance costs from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :heat_cost, 'Heats' %>
    <%= form.number_field :heat_cost, step: :any,
      value: number_to_currency(form.object.heat_cost.to_f, delimiter: '', unit: ''),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :solo_cost, 'Solos' %>
    <%= form.number_field :solo_cost, step: :any,
      value: number_to_currency(form.object.solo_cost.to_f, delimiter: '', unit: ''),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :multi_cost, 'Multi-dances' %>
    <%= form.number_field :multi_cost, step: :any,
    value: number_to_currency(form.object.multi_cost.to_f, delimiter: '', unit: ''),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit 'Update prices',
      class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <% end %>
