<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing <%= @type %></h1>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Add separate packages for students, instructors, guests, etc.</li>
  <li>Marking student packages as a couples package will result in amateur couples that dance together receiving a single invoice.</li>
  <li>See the <a href="../../docs/tasks/Invoicing" class="text-blue-800 underline">documentation</a> for more information on invoicing.</li>
  </ul>
</div>

  <%= render "form", billable: @billable %>

<div class="mx-auto grid grid-cols-2">
  <button type="submit" class="btn-blue" form="billable-form">Update <%= @type %></button>

  <% if @type == 'package' %>
  <%= link_to "Select people", people_billable_path(@billable), class: 'btn-green' %>
  <% elsif @type == 'option' %>
  <%= link_to "Manage tables", tables_path(option_id: @billable.id), class: 'btn-green' %>
  <% end %>

  <%= link_to "Remove #{@type}", billable_path(@billable), class: 'btn-grey',
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <%= link_to "Back to Settings", settings_event_index_path(tab: 'Prices'),
    class: "btn-grey" %>
</div>
</div>
