<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>Day and time is optional, but if entered will appear on the <%= link_to 'Heat List', heats_path, class: 'x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium' %> page.
<ul class="ml-4 list-disc list-outside">
<li>If the first agenda item has a time <strong>and</strong> a time between events is provided in the settings page, then
start times for each heat will show up on the heats page.
<li>Times on agenda items after the first indicate a time that the agenda item will start no earlier than.  Too many heats in previous agenda items may delay the start.
</ul>
<li>Each dance can be in only one Closed, Open, and Solo category.  Adding a dance to this category will replace any prior association that dance might have had with any other category.
<% if category.id %>
<li class="text-red-600">Removing a category will remove it from the agenda and make all associated dances
<span class="font-bold">unassociated with any category</span>.  Doing so will <span class="font-bold">not</span> delete any heats or scores that have been entered for that dance.</span>
<% end %>
</ul>
</div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, disabled: !category.instance_of?(Category),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :day %>
    <%= form.text_field :day, placeholder: 'Saturday', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :time %>
    <%= form.text_field :time, placeholder: '1 pm', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if category.instance_of? Category %>
  <div data-controller="category-override">
  <div class="my-5">
    <%= form.check_box :customize, class: 'entry-count h-10',
      data: {'category-override-target' => "toggle"},
      checked: !!(category.ballrooms || category.max_heat_size || category.heats) %>
    <%= form.label :customize, 'Customize ballroom and heat size' %>
  </div>

  <div class="my-5" data-category-override-target="form">
  <%= form.label :ballrooms %>
  <ul class="ml-6">
  <li class="my-2"><%= form.radio_button :ballrooms, 1 %> One ballroom
  <li classs="my-2"><%= form.radio_button :ballrooms, 2 %> Two ballrooms:
  <ul class="ml-8">
  <li>Ballroom A: Amateur follower with instructor
  <li>Ballroom B: Amateur leader (includes amateur couples)
  </ul>
  <li classs="my-2"><%= form.radio_button :ballrooms, 3 %> Attempt to evenly split couples between ballrooms
  </ul>
  </div>

  <div class="my-5" data-category-override-target="form">
    <%= form.label :max_heat_size, 'Max heat size' %>
    <%= form.number_field :max_heat_size,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5" data-category-override-target="form">
    <%= form.label :heats, 'Split Agenda after this many heats' %>
    <%= form.number_field :heats,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  </div>
  
<%= render partial: 'categories/dances',
  locals: {form: form, title: 'CLOSED CATEGORY', dances: @dances, category: 'Closed'} %>

<%= render partial: 'categories/dances',
  locals: {form: form, title: 'OPEN CATEGORY', dances: @dances, category: 'Open'} %>

<%= render partial: 'categories/dances',
  locals: {form: form, title: 'SOLOS CATEGORY', dances: @dances, category: 'Solo'} %>

<% unless @multis.empty? %>
<%= render partial: 'categories/dances',
  locals: {form: form, title: 'MULTI CATEGORY', dances: @multis, category: 'Multi'} %>
<% end %>

<% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
