<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>Day and time is option, but if entered will appear on the <%= link_to 'Heat List', heats_path, class: 'x-2 rounded-lg py-1 px-2 text-white bg-blue-600 font-medium' %> page.
<li>Each dance can be in only one Closed and one Open category.  Adding a dance to this category will replace any prior association that dance might have had with any other category.
<% if category.id %>
<li class="text-red-600">Removing a category will remove it from the agenda and make all associated dances
<span class="font-bold">unassociated with any category</span>.  Doing so will <span class="font-bold">not</span> delete any heats or scores that have been entered for that dance.</span>
<% end %>
</ul>
</div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :day %>
    <%= form.text_field :day, placeholder: 'Saturday', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :time %>
    <%= form.text_field :time, placeholder: '1 pm', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h1 class="w-full text-center bg-yellow-400 mb-4">CLOSED CATEGORY</h1>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <% @dances.each do |dance| %>
	<% field = "include[Closed][#{dance}]" %>
	<div class="my-5 flex flex-row">
	  <%= form.check_box field, class: "entry-count h-10", checked: @entries['Closed'][dance] %>
	  <%= form.label field, dance, class: 'mt-1 flex items-center justify-center' %>
	</div>
      <% end %>
    </div>
  </div>
</div>

<div class="mx-auto w-full flex flex-wrap">
  <div class="mx-auto flex flex-wrap">
    <h1 class="w-full text-center bg-yellow-400 mb-4">OPEN CATEGORY</h1>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <% @dances.each do |dance| %>
	<% field = "include[Open][#{dance}]" %>
	<div class="my-5 flex flex-row">
	  <%= form.check_box field, class: "entry-count h-10", checked: @entries['Open'][dance] %>
	  <%= form.label field, dance, class: 'mt-1 flex items-center justify-center' %>
	</div>
      <% end %>
    </div>
  </div>
</div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
