<div class="mx-auto" id="categories">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>The order categories appear on this list affects the order they appear in the final agenda.  You can rearrange the order by using drag and drop.
<li>Clicking a category name will let you edit that category's name and identify which dances are included in that category.
<li>Once the event has "gone to print", clicking the lock icon wil lock the agenda preventing large scale changes such as redo.
Small changes such as scratching heats, replacing a person in a heat, and even moving an individual entry to
another heat is still possible, even when the agenda is locked.
</ul>
</div>

<div class="float-left">
<%= link_to toggle_lock_categories_path, data: { turbo_method: "post" } do %>
<%= image_tag @locked ? 'Padlock-bronze-closed.svg' : 'Padlock-bronze-open.svg', height: 60, width: 60 %>
<% end %>
</div>
  <div class="float-right flex flex-col justify-end">
    <%= up_link 'Redo', redo_categories_path, class: "btn-blue print:hidden", method: :post, disabled: @locked %>  
  </div>

  <h1 class="text-center font-bold text-4xl mb-12">Agenda</h1>

  <% entry_count = 0 %>
  <% heat_count = 0 %>

  <div class="min-w-full">
  <table class="table-fixed ml-6 mb-8">
    <thead>
    <tr>
      <th class="row-head">Category
      <th class="row-head">Entries
      <th class="row-head">Heats
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day
      <% end %>
      <th class="row-head" colspan="2">Time
      <% elsif not @oneday %>
      <th class="row-head">Day
      <% end %>
    </tr>
    </thead>
    <% if @agenda['Unscheduled'] %>
    <% entry_count += (count = @agenda['Unscheduled'].first.last.map {|ballroom, heats| heats.length}.sum) %>
    <% heat_count += @agenda['Unscheduled'].count %>
    <tbody>
    <tr>
      <td class="row"><%= link_to 'Unscheduled', heats_path(anchor: 'cat-unscheduled') %>
      <td class="row text-right"><%= count %>
      <td class="row text-right"><%= @agenda['Unscheduled'].count %>
    </tr>
    </tbody>
    <% end %>
    <tbody data-controller="drop" data-drop-action="<%= drop_categories_path %>">
    <% @categories.each do |cat| %>
      <tr class="hover:bg-yellow-200" draggable="true" data-drag-id="<%= cat.id %><%= cat.part ? "-#{cat.part}" : "" %>">
        <% heats = @agenda[cat.name] %>
        <td class="row text-black font-medium"><%= link_to cat.name, edit_category_path(cat.id, part: cat.part) %></a>
        <% if heats %>
        <% entry_count += (count = heats.map {|number, ballrooms| ballrooms.values.flatten.length}.sum) %>
        <% heat_count += heats.length %>
        <td class="row text-right"><%= count %>
        <td class="row text-right"><%= heats.length %>
        <% if @start and @cat_start[cat.name] %>
        <% unless @oneday %>
        <td class="row"><%= Date::DAYNAMES[@cat_start[cat.name]&.wday || 7] %>
        <% end %>
        <td class="row"><%= @cat_start[cat.name]&.strftime("%I:%M %P") %>
        <td class="row"><%= @cat_finish[cat.name]&.strftime("%I:%M %P") %>
        <% elsif not cat&.day.blank? and not @oneday %>
        <td class="row"><%= cat.day %>
        <% end %>
        <% else %>
        <td class="row text-right">0
        <td class="row text-right">0
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <% if @agenda['Uncategorized'] %>
    <% entry_count += (count = @agenda['Uncategorized'].map {|heat| heat.last.map {|ballroom, heats| heats.length}.sum}.sum) %>
    <tbody>
    <tr>
      <td class="row"><%= link_to 'Uncategorized', heats_path(anchor: 'cat-uncategorized'), data: { turbo: false } %>
      <td class="row text-right"><%= count %>
      <td class="row text-right"><%= @agenda['Uncategorized'].count %>
    </tr>
    </tbody>
    <% end %>
    <tfoot>
    <tr>
      <th class="border-t-2 border-gray-200 row text-center font-bold">total
      <td class="border-t-2 border-gray-200 row text-right">
        <%= entry_count %>
      </td>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= heat_count %>
      </td>
    </tr>
    </tfoot>
  </table>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <%= up_link 'New category', new_category_path, class: "btn-blue", disabled: @locked %>
    <%= link_to 'Dances', dances_path, class: "btn-green" %>
    <%= link_to 'Back to Summary', summary_event_index_path, class: "btn-green" %>
  </div>
</div>
