<div class="mx-auto" id="categories">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>The order categories appear on this list affects the order they appear in the final agenda.  You can rearrange the order by using drag and drop.</li>
<li>Clicking a category name will let you edit that category's name and identify which dances are included in that category.</li>
<li>Adding date(s) in the settings page, as well as a time between start of one heat to the start of the next, and setting a time for the first agenda item will allow you to see the times heats will start.
  When printing, there is an option to not show these times in printed materials.</li>
<li>Once the event has "gone to print", clicking the lock icon will lock the agenda preventing large scale changes such as redo.
Small changes such as scratching heats, replacing a person in a heat, and even moving an individual entry to
another heat is still possible, even when the agenda is locked.</li>
<li>For convinience, the "Show Settings" button will take you to the bottom of the page where you can adjust the heat settings.
  If the event is unlocked, changing the max heat size, level, age, and open/closed settings will redo the agenda immediately.</li>
</ul>
</div>

<div class="float-left">
<%= link_to toggle_lock_categories_path, data: { turbo_method: "post" } do %>
<%= image_tag @locked ? 'Padlock-bronze-closed.svg' : 'Padlock-bronze-open.svg', height: 60, width: 60 %>
<% end %>
</div>
  <div class="float-right flex flex-col justify-end">
    <%= up_link 'Redo', redo_categories_path, class: "btn-blue print:hidden", method: :post, disabled: @locked %>  
  </div>

  <h1 class="text-center font-bold text-4xl mb-12">Agenda</h1>

  <% entry_count = 0 %>
  <% heat_count = 0 %>

  <div class="min-w-full">
  <table class="table-fixed ml-6 mb-8">
    <thead>
    <tr>
      <th class="row-head">Category</th>
      <th class="row-head">Entries</th>
      <th class="row-head">Heats</th>
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="row-head">Day</th>
      <% end %>
      <th class="row-head" colspan="2">Time</th>
      <% elsif not @oneday %>
      <th class="row-head">Day</th>
      <% end %>
    </tr>
    </thead>
    <% if @agenda['Unscheduled'] %>
    <% entry_count += (count = @agenda['Unscheduled'].first.last.map {|ballroom, heats| heats.length}.sum) %>
    <% unique_unscheduled = @agenda['Unscheduled'].map(&:first).uniq.length %>
    <% heat_count += unique_unscheduled %>
    <tbody>
    <tr>
      <td class="row text-red-600"><%= link_to 'Unscheduled', heats_path(anchor: 'cat-unscheduled') %></td>
      <td class="row text-right"><%= count %></td>
      <td class="row text-right"><%= unique_unscheduled %></td>
    </tr>
    </tbody>
    <% end %>
    <%
      # Build lookup from category name to category object
      cat_by_name = @categories.map { |c| [c.name, c] }.to_h
    %>
    <tbody <%= "data-controller=\"drop\" data-drop-action=\"#{drop_categories_path}\"".html_safe unless @locked %>>
    <% if @locked %>
      <%# LOCKED: Display in agenda order (by heat number) - shows actual schedule order %>
      <% shown_categories = Set.new %>
      <% @agenda.each do |agenda_name, heats| %>
        <% next if %w[Unscheduled Uncategorized].include?(agenda_name) %>
        <%
          # Extract base category name (strip " - Part N" or " (continued...)" suffix)
          base_name = agenda_name.sub(/ - Part \d+$/, '').sub(/ \(continued.*\)$/, '')
          cat = cat_by_name[agenda_name] || cat_by_name[base_name]
          next unless cat
          is_continued = (agenda_name != base_name) && !cat_by_name[agenda_name]
          shown_categories << cat.name
        %>
        <tr class="hover:bg-yellow-200">
          <td class="row text-black font-medium<%= ' pl-8' if is_continued %>"><%= link_to agenda_name, edit_category_path(cat.id, part: cat.part) %></td>
          <% if heats && heats.any? %>
          <% entry_count += (count = heats.map {|number, ballrooms| ballrooms.values.flatten.length}.sum) %>
          <% unique_heats = heats.map(&:first).uniq.length %>
          <% heat_count += unique_heats %>
          <td class="row text-right"><%= count %></td>
          <td class="row text-right"><%= unique_heats %></td>
          <% else %>
          <td class="row text-right">0</td>
          <td class="row text-right">0</td>
          <% end %>
          <% if @start and @cat_start[agenda_name] %>
          <% unless @oneday %>
          <td class="row"><%= Date::DAYNAMES[@cat_start[agenda_name]&.wday || 7] %></td>
          <% end %>
          <td class="row"><%= localized_time(@cat_start[agenda_name], @locale) %></td>
          <td class="row"><%= localized_time(@cat_finish[agenda_name], @locale) %></td>
          <% elsif not cat&.day.blank? and not @oneday %>
          <td class="row"><%= cat.day %></td>
          <% end %>
        </tr>
      <% end %>
      <%# Show any categories not in agenda (no heats scheduled) %>
      <% @categories.each do |cat| %>
        <% next if shown_categories.include?(cat.name) %>
        <tr class="hover:bg-yellow-200">
          <td class="row text-black font-medium"><%= link_to cat.name, edit_category_path(cat.id, part: cat.part) %></td>
          <td class="row text-right">0</td>
          <td class="row text-right">0</td>
        </tr>
      <% end %>
    <% else %>
      <%# UNLOCKED: Display in category definition order - allows drag-and-drop reordering %>
      <% @categories.each do |cat| %>
        <%
          # Find all agenda entries for this category (including split/continued versions)
          matching_keys = @agenda.keys.select { |key| key == cat.name || key.start_with?("#{cat.name} (continued") }
          heats = @agenda[cat.name]
        %>
        <tr class="hover:bg-yellow-200" draggable="true" data-drag-id="<%= cat.id %><%= "-#{cat.part}" if cat.part %>">
          <td class="row text-black font-medium"><%= link_to cat.name, edit_category_path(cat.id, part: cat.part) %></td>
          <% if heats %>
          <% entry_count += (count = heats.map {|number, ballrooms| ballrooms.values.flatten.length}.sum) %>
          <% unique_heats = heats.map(&:first).uniq.length %>
          <% heat_count += unique_heats %>
          <td class="row text-right"><%= count %></td>
          <td class="row text-right"><%= unique_heats %></td>
          <% if @start and @cat_start[cat.name] %>
          <% unless @oneday %>
          <td class="row"><%= Date::DAYNAMES[@cat_start[cat.name]&.wday || 7] %></td>
          <% end %>
          <td class="row"><%= localized_time(@cat_start[cat.name], @locale) %></td>
          <td class="row"><%= localized_time(@cat_finish[cat.name], @locale) %></td>
          <% elsif not cat&.day.blank? and not @oneday %>
          <td class="row"><%= cat.day %></td>
          <% end %>
          <% else %>
          <td class="row text-right">0</td>
          <td class="row text-right">0</td>
          <% end %>
        </tr>
        <%
          # Show continued ranges as separate rows (indented)
          continued_keys = matching_keys - [cat.name]
          continued_keys.each do |continued_name|
            continued_heats = @agenda[continued_name]
        %>
        <tr class="hover:bg-yellow-200" data-drag-id="<%= cat.id %><%= "-#{cat.part}" if cat.part %>" data-droppable>
          <td class="row text-black font-medium pl-8"><%= link_to continued_name, edit_category_path(cat.id, part: cat.part) %></td>
          <% if continued_heats %>
          <% entry_count += (count = continued_heats.map {|number, ballrooms| ballrooms.values.flatten.length}.sum) %>
          <% unique_continued_heats = continued_heats.map(&:first).uniq.length %>
          <% heat_count += unique_continued_heats %>
          <td class="row text-right"><%= count %></td>
          <td class="row text-right"><%= unique_continued_heats %></td>
          <% if @start and @cat_start[continued_name] %>
          <% unless @oneday %>
          <td class="row"><%= Date::DAYNAMES[@cat_start[continued_name]&.wday || 7] %></td>
          <% end %>
          <td class="row"><%= localized_time(@cat_start[continued_name], @locale) %></td>
          <td class="row"><%= localized_time(@cat_finish[continued_name], @locale) %></td>
          <% elsif not cat&.day.blank? and not @oneday %>
          <td class="row"><%= cat.day %></td>
          <% end %>
          <% else %>
          <td class="row text-right">0</td>
          <td class="row text-right">0</td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
    <% if @agenda['Uncategorized'] %>
    <% entry_count += (count = @agenda['Uncategorized'].map {|heat| heat.last.map {|ballroom, heats| heats.length}.sum}.sum) %>
    <% unique_uncategorized = @agenda['Uncategorized'].map(&:first).uniq.length %>
    <tbody>
    <tr>
      <td class="row text-red-600"><%= link_to 'Uncategorized', heats_path(anchor: 'cat-uncategorized'), data: { turbo: false } %></td>
      <td class="row text-right"><%= count %></td>
      <td class="row text-right"><%= unique_uncategorized %></td>
    </tr>
    </tbody>
    <% end %>
    <tfoot>
    <tr>
      <th class="border-t-2 border-gray-200 row text-center font-bold">total</th>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= entry_count %>
      </td>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= heat_count %>
      </td>
      <% if @start && !@start.compact.empty? %>
      <% unless @oneday %>
      <th class="border-t-2"></th>
      <% end %>
      <th class="border-t-2" colspan="2"></th>
      <% elsif not @oneday %>
      <th class="border-t-2"></th>
      <% end %>
    </tr>
    </tfoot>
  </table>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <%= up_link 'New category', new_category_path, class: "btn-blue", disabled: @locked %>
    <%= link_to 'Dances', dances_path, class: "btn-green" %>
    <%= link_to "Back to Event", root_path, class: "btn-green" %>
    <% if @settings %>
    <%= link_to 'Hide Settings', categories_path(), class: "btn-blue" %>
    <% else %>
    <%= link_to 'Show Settings', categories_path(settings: 'on', anchor: 'settings'), class: "btn-blue", data: {turbo: false} %>
    <% end %>
  </div>

<% if @settings %>
<h2 class="font-bold text-2xl mt-4" id="settings">Heat settings</h2>
<%= form_with model: @event do |form| %>

  <% if @event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited these settings from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
  <%= form.label :heat_length, 'Time between start of one heat to the start of the next (in seconds)' %><br>
  <span class="text-sm">(Be sure to include time for people to enter the floor, dance, and exit)</span>
  <%= form.number_field :heat_length, min: 46, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full invalid:border-red-500 invalid:text-red-600" %>
  </div>

  <div class="my-5">
  <%= form.label :solo_length, 'Time between start of solos (if different)' %><br>
  <%= form.number_field :solo_length, min: 46, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full invalid:border-red-500 invalid:text-red-600" %>
  </div>

  <% unless @event.locked %>
  <div class="my-5">
  <%= form.label :max_heat_size %>
  <%= form.number_field :max_heat_size,
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :dance_limit, 'Limit # of entries per dance' + (@event.heat_range_cat == 1 ? '' : ' per category') %>
    <%= form.number_field :dance_limit,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

<div class="my-5">
  <%= form.label :heat_range_level, 'level' %>
  <%= form.range_field :heat_range_level, min: 0, max: @levels.length-1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<% if @event.track_ages %>
<div class="my-5">
  <%= form.label :heat_range_age, 'age' %>
  <%= form.range_field :heat_range_age, min: 0, max: @ages-1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<% else %>
  <%= form.hidden_field :heat_range_age, value: @ages-1 %>
<% end %>

<div class="my-5">
  <%= form.label :heat_range_cat, 'open/closed' %>
  <%= form.range_field :heat_range_cat, min: 0, max: 1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<% end %>

<div class="inline">
<%= form.button 'Save', name: 'tab', value: 'Categories', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% if @event.dance_limit.present? && Heat.where(number: 0..).any? %>
      <%= link_to 'Check', limits_heats_path, class: "ml-3 rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>
</div>

<% end %>
<% end %>
</div>
