<div class="mx-auto" id="categories">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>The order categories appear on this list affects the order they appear in the final agenda.  You can rearrange the order by using drag and drop.
<li>Clicking a category name will let you edit that category's name and identify which dances are included in that category.
</ul>
</div>

  <h1 class="text-center font-bold text-4xl mb-8">Categories</h1>

  <div class="min-w-full">
  <table class="mx-auto table-fixed">
    <thead>
      <tr>
        <th class="row-head">Category
        <th class="row-head">Entries
        <th class="row-head">Heats
        <% if @categories.any? {|category| category.day and not category.day.empty?} %>
        <th class="row-head">Day
        <% if @categories.any? {|category| category.time and not category.time.empty?} %>
        <th class="row-head">Time
        <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody data-controller="drop" data-drop-action="<%= drop_categories_path %>">
    <% @categories.each do |category| %>
      <tr class="hover:bg-yellow-200" draggable="true" data-drag-id="<%= category.id %>">
        <td class="row text-black font-medium"><%= link_to category.name, edit_category_path(category) %></td>
        <td class="row text-right"><%= @entries[category] %>
        <td class="row text-right"><%= @heats[category] %>
        <% if category.day and not category.day.empty? %>
        <td class="row"><%= category.day %></td>
        <% if category.time and not category.time.empty? %>
        <td class="row"><%= category.time %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <th class="border-t-2 border-gray-200 row text-center font-bold">total
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @entries.values.sum %>
      </td>
      <td class="border-t-2 border-gray-200 row text-right">
        <%= @heats.values.sum %>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <%= link_to 'New category', new_category_path, class: "btn-blue" %>
    <%= link_to 'Dances', dances_path, class: "btn-green" %>
    <%= link_to 'Back to Summary', summary_event_index_path, class: "btn-green" %>
  </div>
</div>
