<table class="w-full" style="break-before: page">
  <thead>
  <tr>
    <td colspan="7" class="font-bold pt-8 text-3xl pb-5" >
      <%= names.map(&:name).join(' / ') %>
      <span class="font-normal text-base float-right text-right">
        <%= studio %><br>
        <%= @event.name %>
      </span>
    </td>
  </tr>
  <tr>
    <td class="row-head-left">Category
    <td class="row-head-left">Dance
    <td class="row-head-left">Level
    <td class="row-head">Category
    <td class="row-head">Count
    <td class="row-head">Price
  </tr>
  </thead>
  <tbody>
  <% total = count = 0 %>
  <% heats = entries.map(&:heats).flatten %>
  <% heats.sort_by! {|heat| [heat.entry.level_id, heat.entry.age_id, heat.category, heat.dance.name]} %>
  <% heats.group_by {|heat| [heat.category, heat.dance.name, heat.entry.level.name, heat.entry.subject_category(@track_ages)]}.each do |(category, dance, level, subjcat), heats| %>
    <% heat = heats.first
    
       entry = heat.entry
       if entry.lead.type == 'Student' and entry.follow.type == 'Student' 
         split = (invoice == :studio and entry.lead.studio_id == entry.follow.studio_id) ? 1 : 2
         split = 1 if entry.lead == partner or entry.follow == partner
       else
         split = 1
       end 
       
       cost_category = category
       cost_category = heat.dance_category.name if heat.dance_category&.cost_override
       cost_category = heat.dance.name if heat.dance.cost_override
       %>
    <tr class="text-sm">
      <td><div class="mx-4"><%= category %>
      <td><div class="mx-4"><%= dance %></div>
      <td><%= level %>
      <td class="text-center"><%= subjcat %>
      <td class="text-right"><%= heats.length %>
      <td class="text-right"><%= number_to_currency @cost[cost_category]*heats.length/split, precision: 2, unit: '' %>
    </tr>
    <% count += heats.length %>
    <% total += @cost[cost_category]/split * heats.length %>
  <% end %>
    <tr class="text-sm">
      <th colspan="4">subtotal
      <th class="text-right"><%= count %>
      <th class="text-right"><%= number_to_currency total, precision: 2, unit: '' %>
    </tr>
  </tbody>
</table>
