<div class="mb-4">
  <h2 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4">
    <% @event.location.to_s.lines.each do |line| %>
      <div class="text-center"><%= line.chomp %></div>
    <% end %>
  </p>
  
  <p class="mt-2 text-center"><%= @event.date %></p>
</div>

<table class="table" style="break-inside: avoid">
  <thead>
  <tr>
    <td colspan="5" class="font-bold text-2xl pb-4">Invoice/Confirmation - <%= @instructor ? @instructor.display_name : studio.name %></td>
  </tr>
  <tr>
    <th class="row-head-left">Name
    <th class="row-head-left"># Entries
    <th class="row-head">Dances
    <% if invoice[:purchases] != 0 %>
    <th class="row-head">Registration
    <th class="row-head">Total
    <% end %>
  </thead>
  <tbody>
    <% total_dance_cost = total_purchases = 0 %>
    <% dances = invoice[:dances] %>
    <% dances.keys.sort_by(&:name).each do |person| %>
    <% next if @student and !%w(Student Guest).include? person.type %>
    <% dance_cost = dances[person][:cost] %>
    <% purchases = dances[person][:purchases] %>
    <% next if purchases == 0 and dances[person][:dances] == 0 %>
    <tr class="text-base">
      <td><div class="mx-4"><%= person.name %></div>
      <td><div class="mx-4 text-right"><%= number_with_precision dances[person][:dances], strip_insignificant_zeros: true %></div>
      <td class="pr-4 text-right"><%= number_to_currency dance_cost, precision: 2, unit: '' %>
      <% if invoice[:purchases] > 0 %>
      <td class="pr-4 text-right"><%= number_to_currency purchases, precision: 2, unit: '' %>
      <td class="pr-4 text-right"><%= number_to_currency dance_cost + purchases, precision: 2, unit: '' %>
      <% end %>
    </tr>
    <% total_dance_cost += dance_cost %>
    <% total_purchases += purchases %>
    <% end %>
    <% invoice[:other_charges].sort.each do |name, charge| %>
    <tr>
      <td><div class="mx-4"><%= name %>
      <td><div class="mx-4 text-right"><%= charge[:count] %>
      <td class="pr-4 text-right"><%= number_to_currency charge[:cost], precision: 2, unit: '' %>
      <td class="pr-4 text-right"><%= number_to_currency 0, precision: 2, unit: '' %>
      <td class="pr-4 text-right"><%= number_to_currency charge[:cost], precision: 2, unit: '' %>
      <% total_dance_cost += charge[:cost] %>
    </tr>
    <% end %>
    <tr class="text-base">
      <th class="row-foot">total
      <td><div class="row-foot text-right"><%= number_with_precision invoice[:dance_count], strip_insignificant_zeros: true %></div>
      <td class="row-foot text-right"><%= number_to_currency total_dance_cost, precision: 2, unit: '' %>
      <% if invoice[:purchases] > 0 %>
      <td class="row-foot text-right"><%= number_to_currency total_purchases, precision: 2, unit: '' %>
      <td class="row-foot text-right"><%= number_to_currency total_dance_cost + total_purchases, precision: 2, unit: '' %>
      <% end %>
    </tr>
  </tbody>
</table>

<% if invoice[:purchases] > 0 %>
<table class="table" style="break-inside: avoid">
  <thead>
  <tr>
    <td colspan="2" class="font-bold text-2xl pb-4">Purchases</td>
  </tr>
  <tr>
    <th class="row-head-left">Name
    <th class="row-head">Purchases
    <th class="row-head">Price
  </thead>
  <tbody>
    
    <% invoice[:dances].keys.sort_by(&:name).each do |person| %>
    <% next if @student and !%w(Student Guest).include? person.type %>
    <% next unless person.studio == studio %>
    <% purchases = person.selected_options.group_by(&:name) %>
    <% purchases["#{person.type} #{person.package.name}"] = [person.package] if person.package_id %>
    <% next if purchases.empty? %>
    <% next unless person.studio == studio %>
    <% next if @instructor && person != @instructor %>
    <tr>
      <td><div class="mx-4"><%= person.name %>
      <td><div class="mx-4"><%= purchases.map {|name, list| list.length == 1 ? name : "#{list.length} &#215; #{name}"}.join(' + ').html_safe %>
      <td class="text-right"><%= number_to_currency purchases.values.flatten.map(&:price).sum, precision: 2, unit: '' %>
    </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>

  <% if @student %>
  <% invoice[:dances].keys.sort_by(&:name).each do |person| %>
  <% next if person.type != 'Student' or @couples.values.include? person.id %>

  <%
    dances = invoice[:dances][person]
    next if !person.package_id && person.options.empty? && dances.values.sum == 0
    registration = (@registration || person.package&.price || 0) / (person.package&.couples ? 2 : 1)
    registration = 0 unless person.studio == studio
    partner = nil

    if @couples.include? person.id
      partner = Person.find(@couples[person.id])

      registration += (@registration || partner.package.price) / 2

      primary_dances = dances
      partner_dances = invoice[:dances][partner]

      dances = {}
      (primary_dances.keys + partner_dances.keys).uniq.each do |key|
        dances[key] = primary_dances.fetch(key, 0) + partner_dances.fetch(key, 0)
      end
    end
  %>

  <div class="w-full mt-8" style="break-before: page">

  <div class="float-right mb-4"><%= person.display_name %><% if partner %><br><%= partner.display_name %><% end %></div>
  <h2 class="font-bold text-center text-4xl"><%= @event.name %></h1>

  <p class="mt-4">
    <% @event.location.to_s.lines.each do |line| %>
      <div class="text-center"><%= line.chomp %></div>
    <% end %>
  </p>
  
  <p class="mt-2 text-center"><%= @event.date %></p>
  </div>

  <%
    heat_cost, solo_cost, multi_cost = @heat_cost, @solo_cost, @multi_cost
    heat_cost -= 5 if ENV['RAILS_APP_DB'] == '2024-laval' && person.age.category.start_with?('J')
    if person.age&.costs
      heat_cost = person.age.costs.heat_cost || heat_cost
      solo_cost = person.age.costs.solo_cost || solo_cost
      multi_cost = person.age.costs.multi_cost || multi_cost
    end
  %>

  <table class="mt-8">
  <tbody>
  <% if person.package_id %>
  <tr>
    <th align="left" class="pr-8">Registration:
    <th align="left"><%= number_to_currency registration %> per <%= person.package.couples ? "couple" : "person" %></th>
  </tr>
  <% end %>
  <% unless @event.student_package_description.blank? %>
  <tr>
    <td colspan="2" class="whitespace-pre-wrap pt-4"><%= @event.student_package_description %>
  </tr>
  <% end %>
  <tr>
    <th align="left">Freestyles:
    <th align="left"><%= number_to_currency heat_cost %> per entry</th>
  </tr>
  <% if solo_cost > 0 %>
  <tr>
    <th align="left">Routines:
    <th align="left"><%= number_to_currency solo_cost %> per entry</th>
  </tr>
  <% end %>
  <% @cost.each do |name, cost| %>
  <% next if %w(Closed Open Solo Multi).include? name %>
  <tr>
    <th align="left"><%= name %>:
    <th align="left"><%= number_to_currency cost %> per entry</th>
  </tr>
  <% end %>
  <% if multi_cost and multi_cost > 0 %>
  </tr>
    <tr>
    <th align="left" class="pr-8">Multi Dance Event:
    <th align="left"><%= number_to_currency multi_cost %> per entry</th>
  </tr>
  <% end %>
  </tbody>
  </table>

  <hr class="border-2 border-black mt-8 mb-20">

  <table class="float-right break-inside-avoid">
   <tr>
    <th align="left" class="pr-8">Invoice:
  </tr>
  <% if person.package_id %>
  <tr>
    <td class="pr-8">Registration:
    <td align="right"><%= number_to_currency registration %></td>
  </tr>
  <% end %>
  <% person.options.group_by(&:option_id).each do |option_id, options| %> 
    <tr>
      <td align="left">
        <% if options.length > 1 %> 
          <%= options.length %> &#215;
        <% end %>
        <%= options.first.option.name %>
      </td>
      <td align="right">
        <%= number_to_currency options.first.option.price * options.length %>
      </td>
      </td>
    </tr>
    <tr>

    </tr>
    <% end %>
  <tr>
    <td>Freestyles
    <td align="right"><%= number_to_currency heat_cost * (dances.fetch('Open', 0) + dances.fetch('Closed', 0)) %></th>
  </tr>
  <tr>
    <td>Routines
    <td align="right"><%= number_to_currency solo_cost * dances.fetch('Solo', 0) %></td>
  </tr>
    <tr>
    <td class="pr-8">3 dance event
    <td align="right"><%= number_to_currency multi_cost * dances.fetch('Multi', 0) %></td>
  </tr>
  <tr>
    <th class="pr-8">Total:
    <td align="right"><%= number_to_currency dances[:cost] + dances[:purchases] %></td>
  </tr>
  </table>

   <% unless @event.payment_due.blank? %>
  <ul class="font-bold">
  <li>Registration and Payment Due:
  <li><%= @event.payment_due %>
  </ul>
  <% end %>

  <div style="clear:both"></div>

  <% invoice[:entries].each do |names, entries| %>
    <% next unless names.include?(person) || (partner and names.include?(partner)) %>
    <%= render "studios/entry", names: names, entries: entries, studio: studio.name, invoice: :student, partner: partner %>
  <% end %>
  <% end %>
  <% else %>

  <% invoice[:entries].each do |names, entries| %>
    <%= render "studios/entry", names: names, entries: entries, studio: studio.name, invoice: :studio, partner: nil %>
  <% end %>
  <% end %>
