<div class="mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="mx-auto font-bold text-4xl pb-5">Studios</h1>
  </div>

  <div id="studios" class="min-w-full">
    <table class="table-fixed mx-auto">
    <thead>
      <tr>
        <td class="row-head">Location</td>
        <td class="row-head">Count</td>
        <% if @studio_tables.values.flatten.any? %>
        <td class="row-head">Tables</td>
        <% end %>
        <% if @event.ballrooms == 4 %>
        <td class="row-head">Ballroom</td>
        <% end %>
        <% if @total_invoice > 0 %>
        <td class="row-head">Invoice</td>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @studios.each do |studio| %>
      <tr>
        <td class="text-black font-medium"><%= link_to studio.name, studio %></td>
        <td class="text-right"><%= studio.people.count %></td>
        <% if @studio_tables.values.flatten.any? %>
        <td class="text-right">
          <% if @studio_tables[studio.id].any? %>
            <%= link_to @studio_tables[studio.id].join(', '), studio_tables_path(studio.id) %>
          <% end %>
        </td>
        <% end %>
        <% if @event.ballrooms == 4 %>
        <td class="text-center"><%= studio.ballroom %></td>
        <% end %>
        <% if @total_invoice > 0 %>
        <td class="text-right">
          <%= number_to_currency @invoices[studio][:total_cost], precision: 2, unit: '' %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <tr>
        <th class="row-foot-right">totals</th>
        <td class="row-foot-right"><%= @total_count %></td>
        <% if @studio_tables.values.flatten.any? %>
        <td class="row-foot-right"><%= @studio_tables.values.flatten.uniq.count %></td>
        <% end %>
        <% if @event.ballrooms == 4 %>
        <td class="row-foot-right"></td>
        <% end %>
        <% if @total_invoice > 0 %>
        <td class="row-foot-right text-right"><%= number_to_currency @total_invoice, precision: 2, unit: '' %></td>
        <% end %>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <%= up_link 'New studio', new_studio_path, class: "btn-blue" %>
    <div class="flex gap-2">
      <%= link_to "Tables", tables_path, class: "btn-green" %>
      <%= link_to "Back to Event", root_path, class: "btn-green" %>
    </div>
  </div>
</div>
