<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @studio %>

    <div class="mt-4 flex justify-between items-center">
      <%= link_to 'Add Person', new_person_path(studio: @studio), class: "btn-blue" %>
      <%= link_to 'Edit this studio', edit_studio_path(@studio), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Back to studios', studios_path, class: "btn-green" %>
    </div>
  </div>
</div>
