<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @studio %>

  <div class="mt-8 grid grid-cols-3 gap-1">
    <%= up_link 'Add Person', new_person_path(studio: @studio), class: "btn-blue" %>
    <%= up_link 'Edit this studio', edit_studio_path(@studio), class: "btn-grey" %>
    <%= link_to 'Back to studios', studios_path, class: "btn-green" %>

    <%= link_to 'Invoice', invoice_studio_path(@studio, format: :pdf), class: "btn-pale-orange" %>
    <%= link_to 'Heat sheets', heats_studio_path(@studio, format: :pdf), class: "btn-pale-orange" %>
    <%= link_to 'Scores', scores_studio_path(@studio, format: :pdf), class: "btn-pale-orange" %>
  </div>
</div>
