<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div data-controller="info-box">
      <div class="info-button">&#x24D8;</div>
      <ul class="info-box">
        <li>Use "Add Person" to add Professionals, Guests, or Students to this studio.
        <li>Click "Edit this studio" to change name, pair with another studio, or set pricing overrides.
        <li>"Tables" shows seating assignments for this studio's participants (visible when tables are assigned).
        <li>"Solos" displays all solos and formations for this studio with song management.
        <li>"Add formation" creates a group performance with multiple dancers (3 or more people).
        <li>"Heat sheets" generates printable list of all heats for this studio's students.
        <li>"Studio Invoice" creates consolidated billing for the entire studio.
        <li>"Student Invoices" generates individual invoices for each student in this studio.
        <li>"Scores" produces score summary for all participants from this studio.
      </ul>
    </div>

    <%= render @studio %>

  <div class="mt-8 grid grid-cols-3 gap-1">
    <%= up_link 'Add Person', new_person_path(studio: @studio), class: "btn-blue" %>
    <%= up_link 'Edit this studio', edit_studio_path(@studio), class: "btn-grey" %>
    <%= link_to 'Back to Studios', studios_path, class: "btn-green" %>

    <% 
      # Check if this studio has people assigned to tables (either main event or option tables)
      # For main event tables
      main_table_count = Table.joins(people: :studio).where(studios: { id: @studio.id }, tables: { option_id: nil }).distinct.count
      
      # For option tables - check through person_options
      option_table_count = Table.joins(person_options: { person: :studio })
                                .where(studios: { id: @studio.id })
                                .where.not(tables: { option_id: nil })
                                .distinct.count
      
      total_table_count = main_table_count + option_table_count
    %>
    <% if total_table_count > 0 %>
      <%= link_to 'Tables', studio_tables_path(@studio), class: "btn-blue" %>
    <% end %>

    <% if @studio.id != 0 %>
    <%= link_to 'Solos', solos_studio_path(@studio), class: "btn-blue" %>
    <%= up_link 'Add formation', new_formation_path(studio: @studio), class: "btn-blue" %>
    <%= link_to 'Heat sheets', heats_studio_path(@studio, as_pdf), class: "btn-pale-orange" %>
    <%= link_to 'Studio Invoice', invoice_studio_path(@studio, as_pdf), class: "btn-pale-orange" %>
    <%= link_to 'Student Invoices', student_invoices_studio_path(@studio, as_pdf), class: "btn-pale-orange" %>
    <%= link_to 'Scores', scores_studio_path(@studio, as_pdf), class: "btn-pale-orange" %>
    <% end %>
  </div>
</div>
