<%= form_with(model: location, class: "contents", id: 'location-form', data: {controller: 'geocode'}) do |form| %>
  <% errors = (@location&.errors&.full_messages || []) + 
    (@user&.errors&.full_messages || []) + (@showcase&.errors&.full_messages || []) %>
  <% if errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="name-to-token">
  <% if @first_event %>

  <h2 class="font-bold text-3xl mt-8">Studio</h2>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, data: {"geocode-target" => "name", "name-to-token-target" => "name"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% else %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, data: {"geocode-target" => "name", "name-to-token-target" => "name"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :key, "Token", class: "block" %>
    <%= form.text_field :key, data: {"name-to-token-target" => "token"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  </div>

  <% end %>

  <div class="my-5">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, data: {"geocode-target" => "latitude"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, data: {"geocode-target" => "longitude"},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :region %>
  <%= form.select :region, options_for_select(@regions, @location.region), {},
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if not @first_event %>
  <div class="my-5">
    <%= form.label :user_id, "Owner/Contact" %>
    <%= form.select :user_id, @users, {},
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% else %>
  <h2 class="font-bold text-3xl">User</h2>

  <div class="my-5">
    <label required="required" for="user_userid">Userid</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" type="text" name="user[userid]" id="user_userid" value="<%= @user&.userid %>" data-geocode-target="token"  data-name-to-token-target="token">
  </div>
  </div>

  <div class="my-5">
    <label for="user_email">Email</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" type="email" name="user[email]" id="user_email" value="<%= @user&.email %>">
  </div>

  <div class="my-5">
    <label for="user_name1">Name1</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" type="text" name="user[name1]" id="user_name1" value="<%= @user&.name1 %>">
  </div>

  <div class="my-5">
    <label for="user_name2">Name2</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" type="text" name="user[name2]" id="user_name2" value="<%= @user&.name2 %>">
  </div>

  <h2 class="font-bold text-3xl mt-8">Showcase</h2>

  <div class="my-5">
    <label for="showcase_year">Year</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" type="number" name="showcase[year]" id="showcase_year" value="<%= @showcase&.year %>">
  </div>

  <div data-controller="name-to-token">
  <div class="my-5">
    <label for="showcase_name">Name</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
      type="text" name="showcase[name]" id="showcase_name" value="<%= @showcase&.name %>"  data-name-to-token-target="name">
  </div>

  <div class="my-5">
    <label for="showcase_key">Key</label>
    <input class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
      type="text" name="showcase[key]" id="showcase_key" value="<%= @showcase&.key %>" data-name-to-token-target="token">
  </div>
  </div>
  <% end %>
<% end %>
