<div id="showcases">
<% @showcases.each do |year, showcases| %>
  <a href="<%= "#{@scope}/#{year}".squeeze('/') %>/">
    <h2 class="font-bold text-2xl mt-4 mb-2"><%= year %></h2>
  </a>

  <ul class="mt-2 list-disc list-inside" data-controller="drop" data-drop-action="<%= drop_showcases_path %>">
    <% showcases.reverse.each do |showcase| %>
    <li draggable="true" data-drag-id="<%= showcase.id %>">
      <span class="text-xl"><%= link_to showcase.name, edit_showcase_path(showcase) %></span>
      <% if showcase.date.present? %>
        <% if showcase.date.to_s =~ /^\d{4}-\d{2}-\d{2}( - \d{4}-\d{2}-\d{2})?$/ %>
          <span class="text-slate-400">- <span data-controller="date-range" data-date-range-year-value="<%= year %>" data-date-range-date-value="<%= showcase.date %>" data-date-range-target="output"><%= localized_date(showcase.date, @location.locale) %></span></span>
        <% else %>
          <span class="text-slate-400">- <%= showcase.date %></span>
        <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>
</div>