<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing location</h1>

  <%= render "form", location: @location %>

  <div class="mx-auto flex">
  <input type="submit" form="location-form" value="Update Location"
    class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer">
  <%= up_link 'Remove this location', location_path(@location), class: 'btn-orange my-0',
      method: :delete, form: {data: { turbo_confirm: 'Are you sure?' }} %>
  <%= link_to "Back to locations", locations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <h1 class="mt-8 font-bold text-4xl">Showcases</h1>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "showcases" %>
 
  <%= up_link 'New showcase', new_showcase_path(location: @location), class: 'btn-blue mt-4' %>

  <h1 class="mt-8 font-bold text-4xl" id="authorization">Authorization</h1>

  <%= form_with url: locations_users_path, data: {turbo: false} do |form| %>
  <%= form.hidden_field :location, value: @location.id %>
  <% @auth.each do |user| %>
  <div class="my-5">
    <%= form.check_box "auth[#{user.id}]", class: 'entry-count h-8', checked: @checked[user.id] %>
    <%= form.label "auth[#{user.id}]", user.userid, class: 'text-xl align-middle pt-2' %>
  </div>
  <% end %>
  <%= form.submit 'Save', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% end %>

</div>
