<div class="mx-auto md:w-2/3 w-full">

  <h1 class="mt-8 font-bold text-4xl"><%= @location.name %> - Events</h1>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "showcases" %>
 
  <%= up_link 'New showcase', new_showcase_path(location: @location), class: 'btn-blue mt-4' %>
  <%= link_to 'Back to Studio', edit_location_path(@location), class: 'btn-grey' %>
</div>