<!DOCTYPE html>
<html>
  <head>
    <title>Arthur Murray Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag_dynamic %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% unless @nologo %>
    <%= link_to root_path.chomp('/') + '/' do %>
      <%= image_tag "/arthur-murray-logo.gif", class: "absolute right-4 top-4 h-16" %>
    <% end %>
    <% end %>
    
    <main class="<%= @layout || 'container mx-auto mt-28 px-5 flex' %> print:mx-0">
      <%= yield %>
    </main>
  </body>
</html>
