<!DOCTYPE html>
<html<% if @font_size %> style="font-size: <%= @font_size %>"<% end %>>
  <head>
    <title>Showcase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"><%
    if ENV['RAILS_APP_DB'] == 'demo' %>
    <meta name="robots" content="noindex"><% end %>
    <%= favicon_link %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag_dynamic %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body<% if ENV['FLY_REGION'] %> data-region="<%= ENV['FLY_REGION'] %>" data-controller="region"<% end %> data-turbo-prefetch="false" data-locale="<%= ENV.fetch("RAILS_LOCALE", "en_US").gsub('_', '-') %>">

    <% unless @nologo %>
    <% if ENV['RAILS_APP_DB'] != 'index'
         home, opts = root_path.chomp('/') + '/', {rel: 'home'}
       else
        if ENV['FLY_REGION'] || Rails.env.development?
          home, opts = regions_path, {}
        else
          home, opts = root_path.chomp('/') + '/', {}
        end

        home = @home_link if @home_link
      end %>
    <%= link_to home, opts do %>
      <%= image_tag showcase_logo, class: "absolute right-4 top-4 w-28 -z-20" %>
    <% end %>
    <% end %>

    <% if content_for?(:tabs) -%>
    <div class="mt-28"><%= yield(:tabs) %></div>
    <main class="<%= @layout || 'container mx-auto mt-10 px-5 flex' %> print:mx-0">
    <% else -%>
    <main class="<%= @layout || 'container mx-auto mt-28 px-5 flex' %> print:mx-0">
    <% end -%>
      <%= yield %>
    </main>
  </body>
</html>
