<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "docs", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="docs">
    <%
      if ENV.fetch("RAILS_APP_DB", '') == 'index' && ENV['FLY_REGION']
        link = regions_path
      else
        link = root_path.chomp('/') + '/'
      end
    %>
    <%= link_to link do %>
      <%= image_tag showcase_logo, class: "absolute right-4 top-4 w-28 -z-20" %>
    <% end %>
    
    <main>
      <%= yield %>
    </main>

    <% if params[:page] != 'index' %>
    <div class="flex justify-center">
      <%= button_to "Back to Guide", docs_path, method: 'get', class: "btn-green" %>
    </div>
    <% end%>
  </body>
</html>
