<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="docs">
    <%= link_to root_path.chomp('/') + '/' do %>
      <%= image_tag showcase_logo, class: "icon" %>
    <% end %>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
